%ul.nav.nav-tabs.material-nav-tabs.mb-lg
  %li{role:'presentation', class: active_tab.eql?('overview') ? 'active' : ''}
    %a{ href: '/b/google_analytics' }
      Overview
  %li{role: "presentation", class: active_tab.eql?('keywords') ? 'active' : ''}
    %a{ href: '/b/google_analytics/keywords' }
      Keywords
  %li{ role:'presentation', class: active_tab.eql?('top_pages') ? 'active' : ''}
    %a{ href:'/b/google_analytics/top_pages' }
      Top Pages
  %li{ role:'presentation', class: active_tab.eql?('referrals') ? 'active' : ''}
    %a{ href: '/b/google_analytics/referrals' }
      Referrals
  %li{ role:'presentation', class: active_tab.eql?('campaigns') ? 'active' : ''}
    %a{ href:'/b/google_analytics/campaigns' }
      Campaigns
  %li{ role:'presentation', class: active_tab.eql?('source_medium') ? 'active' : ''}
    %a{ href:'/b/google_analytics/source_medium' }
      Source Medium
  %li{ role:'presentation', class: active_tab.eql?('locales') ? 'active' : ''}
    %a{ href: '/b/google_analytics/locales' }
      Locales
