
.col-md-12
  .row-action-primary.checkbox.checkbox-success.text-center.row-picture.inline.pull-right.mt-xs.mr
    %label.fleft.overdue_checkbox-material
      %input.email_opened_check{type: 'checkbox'}
      %span.checkbox-material
      Email Opened
  .row-action-primary.checkbox.checkbox-success.text-center.row-picture.inline.pull-right.mt-xs.mr
    %label.fleft.overdue_checkbox-material
      %input.blocked_check{type: 'checkbox'}
      %span.checkbox-material
      Existing in CloseIO
