.ui-2020
  .pb-md.page-heading.no-margin-bottom
    %h1
      %i.clickx-icon-CalltoAction.title-icon>
      Facebook Ads
    .options
      .form-group
        %md-button.md-raised.md-primary
          = text_field_tag :date_filter, daterange, class: 'btn btn--dark'
