%ul.nav.nav-tabs.material-nav-tabs.mb-lg
  %li{role:'presentation', class: active_tab.eql?('campaign') ? 'active' : ''}
    %a{ href: '/b/facebook_ads/campaigns' }
      Campaigns
  %li{role: "presentation", class: active_tab.eql?('adset') ? 'active' : ''}
    %a{ href: '/b/facebook_ads/adsets' }
      Adsets
  %li{ role:'presentation', class: active_tab.eql?('ads') ? 'active' : ''}
    %a{ href:'/b/facebook_ads/ads' }
      Ads
