.page-heading.no-margin-bottom
  %h1
    %i.clickx-icon-Local-Listings.title-icon>
    Add New Location
    %i.fa.fa-info-circle.tooltip-text-icon{'title': 'This tool helps you add new local listings for your company easily.'}
    %small
.container-fluid
  %form.new_location{id: "new_locations", name:'locationForm', 'data-parsley-validate': "", 'ng-submit':'save_location()' }
    %div
      .row
        %bmd-accordion.col-xs-12{ "close-others": "true" }
          .basic{'ng-include':"", src: "'themeX/locations/form/_basic.html'"}
          .details{'ng-include':"", src: "'themeX/locations/form/_details.html'"}
          .description{'ng-include':"", src: "'themeX/locations/form/_description.html'"}

%script
  window.ParsleyConfig = {
  validationThreshold: 0,
  successClass: 'has-success',
  errorClass: 'has-error',
  errorElem: '<span></span>',
  errorsWrapper: '<span class="help-block"></span>',
  errorTemplate: "<div></div>",
  classHandler: function(el) {
  return el.$element.closest(".form-group");
  }
  };

%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.6.2/parsley.min.js"}