= chapter.video_embed_code.html_safe
.mt-5.pt-3
- if raw(chapter.description).present?
  %h2.fw-sb.mb-4.mt-0
    Lesson overview
  %p
    = raw(chapter.description)
.row
  - if chapter.file_attachments.present?
    .col-md-12
      - chapter.file_attachments.each do |file_attachment|
        = link_to file_attachment.file.url, {target: '_blank', class: 'btn btn-raised btn-primary font15'} do
          = file_attachment.display_name
          %i.fa.fa-download.pl-sm
