%script{"type":"text/ng-template","id":"add_ipfilter_code.html"}
  %md-dialog.modal-dialog.clx-modal.modal-darkstone-blue-bg.modal-compressed{'aria-label':'Add IP Filter'}
    %form.add-lead-m-form{name:"add_ipfilter","ng-submit":"addIpFilter($event)"}
      .modal-header
        %button.close{"aria-hidden" => "true", "ng-click": "closeModal()", :type => "button"}
          %span.fa.fa-times-circle-o
        %h2.modal-title Add a New IP Filter
      %md-dialog-content
        .md-dialog-content
          .form-group{"ng-class":"{'has-warning':add_ipfilter.name.$invalid && add_ipfilter.$dirty}"}
            %label.control-label IP Name
            %input.form-control{"ng-model":"ip_filter.name","placeholder":"Enter the ip name",name:"name",required:"required"}
          .form-group{"ng-class":"{'has-warning':add_ipfilter.ip.$invalid && add_ipfilter.$dirty}"}
            %label.control-label IP Address
            %input.form-control{"ng-model":"ip_filter.ip","placeholder":"Enter the ip address",name:"address",required:"required"}
      %md-dialog-actions{:layout => "row"}
        %button.btn.btn-raised.btn-primary{"data-dismiss" => "modal", :type => "button","ng-click":"closeModal()"} Close
        %button.btn.btn-info.btn-raised{:type => "submit","ng-disabled":"add_ipfilter.$invalid"} Save
