%script{type:"text/ng-template",id:"analytic.html"}
  %md-dialog.modal-dialog.clx-modal.modal-darkstone-blue-bg.modal-md{'aria-label':'Users List'}
    .modal-header
      %button.close{ 'aria-hidden': 'true', 'ng-click': 'close()', 'type': 'button' }
        %span.fa.fa-times-circle-o
      %h2.modal-title Users List
    %md-dialog-content
      .md-dialog-content
        .row
          .col-xs-12
            %p.text-center{'ng-if': 'users.length == 0'}
              No one yet submitted.
            .table-responsive{'ng-if': 'users.length > 0'}
              %table.table.table-hover.table-vam.table-striped.text-muted
                %tbody
                  %tr{ 'ng-repeat': 'user in users' }
                    %td
                      %h4 {{ user.email }}

    %md-dialog-actions{layout:"row"}
      %button.btn.btn-default.btn-raised{ 'data-dismiss': 'modal',
      'type': 'button', 'ng-click': 'close()' } Close
