<md-dialog class=" modal-dialog clx-modal modal-darkstone-blue-bg modal-compressed">
  <div class="modal-header">
    <button class="close" ng-click="closeModal()">
      <span class="fa fa-times-circle-o"></span>
    </button>
    <h2 class="modal-title">Welcome To Clickx</h2>
  </div>
  <md-dialog-content>
    <div class="md-dialog-content">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe allowtransparency="true" class="wistia_embed" frameborder="0" height="366"
                name="wistia_embed" scrolling="no"
                src="https://fast.wistia.net/embed/iframe/d653enu7lo?plugin%5Bsocialbar-v1%5D%5Bon%5D=false"
                width="650"></iframe>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
