.row
  .col-md-12
    .tab-container
      %ul.nav.panel-warning.nav-tabs{:style => "background: #F44336;"}
        / %li.active
        /   %a{"data-toggle" => "tab", 'data-target' => "#sc-top-avg-position", 'ng-click' => "resizeChart('position'); searchConsole()"} Avg Position
        %li.active
          %a{"data-toggle" => "tab", 'data-target' => "#sc-top-impressions", 'ng-click' => "resizeChart('impression'); searchConsole()"} Impressions
        %li
          %a{"data-toggle" => "tab", 'data-target' => "#sc-top-clicks", 'ng-click' => "resizeChart('clicks'); searchConsole()"} Clicks
        / %li
        /   %a{"data-toggle" => "tab", 'data-target' => "#sc-top-ctr", 'ng-click' => "resizeChart('ctr'); searchConsole()"} CTR

      .tab-content
        / #sc-top-avg-position.tab-pane.active
        /   .panel-body
        /     .centered
        /       #position

        #sc-top-impressions.tab-pane.active
          .panel-body
            .centered
              #impression

        #sc-top-clicks.tab-pane
          .panel-body
            .centered
              #clicks

        / #sc-top-ctr.tab-pane
        /   .panel-body
        /     .centered
        /       #ctr

.row
  .col-md-12
    .tab-container
      .tab-content{'st-table'=>"search_console_data", 'st-safe-src' => "all_search_console_data"}
        .table-responsive
          %table.table.table-hover.table-bordered.table-vam
            %thead
              %tr
                %th.vam{'st-sort'=>'keys', :style => "padding-right:190px;"}
                  %u.help_pointer{ 'title': 'List of keywords for which you are ranking for on Google' }
                    Keywords
                %th.text-center{'st-sort'=>'position'}
                  %u.help_pointer{ 'title': 'The average position of where you are ranking for these keywords on Google' }
                    Avg. Position
                %th.text-center{'st-sort'=>'impressions'}
                  %u.help_pointer{ 'title': 'Number of times people came across your site while searching for the given keywords in Google' }
                    Impressions
                %th.text-center{'st-sort'=>'clicks'}
                  %u.help_pointer{ 'title': 'Number of times your site has been clicked while searching for the given keywords on Google' }
                    Clicks
                %th.text-center{'st-sort'=>'ctr'}
                  %u.help_pointer{ 'title': 'Percent of people who clicked on your site when they came across it on Google for the keywords' }
                    CTR
            %tbody
              %tr{'ng-repeat' => "data in search_console_data"}
                %td
                  {{data.keys}}
                  %add-remove-keywords{"keyword":"data"}
                %td{:align => "center"} {{ (data.position).toFixed(1)}}
                %td{:align => "center"} {{ data.impressions  | toLocaleString }}
                %td{:align => "center"} {{ data.clicks | toLocaleString }}
                %td{:align => "center"} {{ ((data.clicks/data.impressions)*100).toFixed(2) }} %

        %div.row.text-center.p-n.mgl-33{"ng-include":"", src: "'themeX/shared/_pagination_links.html'"}
        .pagination.pagination-lg.pagination-download
          %li{ 'title': 'Download report' }
            %a{ filename: "{{csv_file_name}}", 'ng-csv':'download_queries()', 'csv-header':'get_csv_header()',
             "style": "border-radius: 5px;" }
              %i.fa.fa-download.pr>
              Download CSV
