- content_for :title do
  New Case Study | Clickx
.container.mx-auto.px-4.my-12
  -# .page-heading.no-margin-bottom
  -#   %h1
  -#     %i.clickx-icon-user.title-icon
  -#     New Case Study
  = form_for @case_study, url: network_case_studies_path, method: :post do |f|
    = render 'form', f: f
