- content_for :title do
  0-10k SCALE  Challenge  | Clickx
.page-content.ui-2020
  .page-heading.pt-md.pb-md
    .row.align-items-center
      .col-md-6
        %h1
          %i.clickx-icon-Video
          0-10k SCALE  Challenge
  .container-fluid
    .px-lg-4
      #tab-1.tab-body
        .challenge_cards_list
          .challenge_cards_list_item
            .card.challenge_card.rounded
              .challenge_card-header
                .fs-md.fw-sb January
              .challenge_card-footer.d-flex.justify-content-between.align-items-center.fs-xxs
                .col-auto Completed
                .col-auto
                  50%

      .spacer15

