%tr
  %td{:align => "center", :style => "padding: 40px 0 0; text-align: center;"}
%tr
  %td{:style => "color: #646464; font-size: 25px; line-height: 25px; font-weight: bold; padding: 0 0 10px; text-align:center;"}
    Payment Link Subscribe Error

%tr
  %td{:style => "color: #646464; font-size: 18px; line-height: 28px; font-weight: bold; padding: 0;"}
    %table{:style => "width: 100%; max-width: 680px; margin: 20px auto;font-size: 15px; line-height: 25px; font-weight: normal;"}
      %tbody
        - @args.each_with_index do |(key, value), index|
          %tr{:bgcolor => "#{index.even? ? '#FFF' : ''}"}
            %td{:style => "font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:15px;margin:0;padding:6px 20px; width:50%"} #{key}:
            %td{:style => "font-size: 13px; font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:13px;margin:0;padding:6px 3px;width:12%;"}= value
      %tr{:bgcolor => "#fFF"}
        %td{:style => "font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:15px;margin:0;padding:6px 20px"}Error Msg:
        %td{:style => "font-size: 13px; font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:13px;margin:0;padding:6px 3px;width:12%;"}= @msg
