%p
  Please congratulate #{@user.name} on both Facebook groups for #CLOSING a deal
%p
  Agency: #{@agency.name}
%p
  Product purchased: #{@package_name}
%p
  %img{ alt: '', height: 'auto', src: 'https://clickx-images.s3.amazonaws.com/fb/image-1.jpg'}
  %img{ alt: '', height: 'auto', src: 'https://clickx-images.s3.amazonaws.com/fb/image-2.jpg'}
  %img{ alt: '', height: 'auto', src: 'https://clickx-images.s3.amazonaws.com/fb/image-3.jpg'}



