/**=============================
***        COLORS            ***
=============================**/

$CLICKX_YELLOW: #d19921;
$CLICKX_GREEN: #8bc34a;
$CLICKX_BLUE: #60bbea;
$CLICKX_ORANGE: #f16b45;
$CLICKX_RED: #f44336;

$DARKSTONE_BLUE: #4c4e60;
$MERIGOLD: #f8b018;
$LIGHT_HAZE: #f6f6f7;
$ACCENT_RED: #ef5023;
$ACCENT_BLUE: #60bbea;
$ACCENT_GREEN: #bad531;
$GREY_COLOR: #777777;
$WHITE_COLOR: #ffffff;
$BLACK_COLOR: #111111;

/**============================
* END COLORS
============================**/
