- content_for :title do
  ROI Calculator | Clickx
.page-heading.mb-n.pb-md.mt-sm
  %h1
    %i.clickx-icon-Calculator.title-icon>
    ROI Calculators
.container-fluid.pt-4
  .row.d-flex.flex-wrap
    .col-lg-3.col-sm-6.col-xs-12.pb-5
      %a.card.br-10.m-0.text-center.d-flex.flex-column.h-100{href: '/a/roi'}
        .col-stretch.pt-4
          %span.card-icon.d-inline-block
            %i.clickx-icon-Calculator
          %h4 ROI Calculator
          %span.d-block.p-b-20
        %div.py-3
          %span.bg-dark.d-block.p-3.br-8.fs-xs View Calculator
    .col-lg-3.col-sm-6.col-xs-12.pb-5
      %a.card.br-10.m-0.text-center.d-flex.flex-column.h-100{href: '/a/roi_ecom_calculator'}
        .col-stretch.pt-4
          %span.card-icon.d-inline-block
            %i.clickx-icon-Calculator
          %h4 Ecommerce ROI Calculator
          %span.d-block.p-b-20
        %div.py-3
          %span.bg-dark.d-block.p-3.br-8.fs-xs View Calculator
