.page-content
  .page-heading.no-margin-bottom
    %h1
      %i.clickx-icon-SellSheets.title-icon
      Onboarding
    .options
      %a.btn.btn-white.btn-raised{href: '/#/agencies/service_onboarding/new'}
        %span.fa.fa-plus
        Create
      %a.btn.btn-white.btn-raised{href: "/#/agencies/service_onboarding/assigned"}
        Manage Assigned
  .container-fluid
    %div
      .row.onboarding-checklist
        .col-sm-12
          .panel.panel-default
            .panel-body
              .table-responsive
                %table.table.table-striped.table-bordered.table-vam
                  %thead
                    %th Title
                    %th.center Action

                  %tbody

                    %tr{'ng-repeat' => "procedure in onboarding_procedures"}
                      %td {{procedure.title}}
                      %td.center
                        %span
                          %a.btn.btn-success.btn-sm{href: '/#/agencies/service_onboarding/{{procedure.id}}'}
                            %span.fa.fa-edit
                            Edit
                          %a.btn.btn-danger.btn-sm{'ng-click' => 'delete(procedure.id)'}
                            %span.fa.fa-trash
                            Delete
