#lead-strategies-modal.modal.fade.in{"aria-hidden" => "false", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: block; padding-right: 0px;", :tabindex => "-1"}
  .d-lg-flex.align-items-center.h-lg-cover.pt-5.pb-5
    .modal-dialog.clx-modal.spl-modal.modal-darkstone-blue-bg
      .modal-content.modal-content--rounded
        .modal-header
          Strategies - #{@lead.company}
          %a.close.pl-md{"data-dismiss" => "modal"}
            %span
              %i.material-icons close
        .modal-body#strategies_body_container
          = render 'agency/leads/shared/strategies_body'
