%h1 New Subscription Added
%p
  Hi there,
  %br
  We just secured a payment. Please send Preliminary Info about #{@business['name']}
  %br
  Sign Up Revenue: $#{@plan_price}
  %br
  Thanks,
  %br
  Solomon
