- content_for :title do
  Facebook Ads | Clickx
.px-lg-4
  .page-heading.mb-n.pb-md.mt-sm
    %h1
      %i.clickx-icon-facebook
      Facebook Ads
  .container-fluid.pt-lg-5.pt-4
    .bg-sky-blue.rounded.border-1.border-blue.px-4.px-lg-5.py-lg-4
      .row.d-flex.flex-wrap
        - @facebook_ads.each do |facebook_ad|
          .col-xs-12.col-sm-6.col-lg-4.col-xl-3
            .awesome-card
              .awesome-card-inner
                %a.awesome-card-link{:href => agency_facebook_ad_path(agency_id: current_agency,id: facebook_ad)}
                  .awesome-card-thumbnail
                    .awesome-card-thumb.awesome-card-thumb--fb{:style => "background-image:url(#{facebook_ad.thumbnail&.file&.url});"}
                  .awesome-card-footer
                    .awesome-card-btn.awesome-card-btn--fb
                      View
                      %span
                        Ad
              .awesome-card--shadow
              .awesome-card--shadow.awesome-card--shadow2
    .p-lg-4.p-3