= content_for :title, 'Project Name | Clickx'
.py-8
  .lg:container.mx-auto.px-4
    .lg:flex.flex-wrap
      %div{:class => "lg:w-2/3 lg:pr-4"}
        .border.bg-light-blue.border-blue-200.rounded-md.mb-4.sm:mb-8
          .bg-white.py-3.px-4.sm:py-4.sm:px-8.rounded-t-md.text-lg.sm:text-xl.font-medium Anterior - Magento 2.0 Plugin
          .p-4.sm:p-8
            .bg-white.border.border-gray-200.py-4.px-6.rounded-xl.mb-5
              .sm:flex
                .col-auto.flex-1.flex.justify-center.pb-4.sm:pb-0
                  %div
                    .text-gray-400.text-sm
                      Agreed
                    .text-gray-800.text-2xl
                      $7,200.00
                .col-auto.flex-1.flex.justify-center.sm:border-l.sm:border-r.border-gray-200.border-t.border-b.sm:border-t-0.sm:border-b-0.py-4.sm:py-0
                  %div
                    .text-gray-400.text-sm
                      Paid
                    .text-gray-800.text-2xl
                      $5,030.00
                .col-auto.flex-1.flex.justify-center.pt-4.sm:pt-0
                  %div
                    .text-gray-400.text-sm
                      Remaining
                    .text-gray-800.text-2xl
                      $2,170.00

            .bg-white.border.border-gray-200.py-4.px-6.rounded-xl
              .sm:flex.justify-between.items-center.text-gray-500.text-sm
                .col-auto
                  Attachments
                .col-auto
                  %a.font-medium.text-primary{:href => "#0"} Magento 2.0 Plugin Scope.pdf

        .border.bg-light-blue.border-blue-200.rounded-md.mb-4.sm:mb-8
          .bg-white.py-3.px-4.sm:py-4.sm:px-8.rounded-t-md.text-lg.sm:text-xl.font-medium Milestone
          .sm:p-4
            .responsive-table.overflow-x-auto
              .p-4
                %table.data-table.w-full.text-left.text-sm.text-gray-500
                  %tbody
                    %tr.row-card.rounded-xl.shadow
                      %td.pl-5.py-3.bg-white.rounded-l-xl 1
                      %td.pl-3.py-3.bg-white
                        Week 1 Kick Off
                      %td.py-3.px-2.bg-white
                        $2,330.00
                        %i.fa.fa-check-circle-o.text-xl.ml-2.text-green
                      %td.py-3.pl-2.pr-5.bg-white.rounded-r-xl
                        Approved 1 month ago
                        %div
                          %a.text-primary{:href => "#0"} Review Submissions
                    %tr.spacer-row
                      %td.p-2{colspan:4}
                    %tr.row-card.rounded-xl.shadow
                      %td.pl-5.py-3.bg-white.rounded-l-xl 1
                      %td.pl-3.py-3.bg-white
                        Week 2 - Delivery of Plugin
                      %td.py-3.px-2.bg-white
                        $2,700.00
                        %i.fa.fa-check-circle-o.text-xl.ml-2.text-green
                      %td.py-3.pl-2.pr-5.bg-white.rounded-r-xl
                        Approved 20 days ago
                        %div
                          %a.text-primary{:href => "#0"} Review Submissions
                    %tr.spacer-row
                      %td.p-2{colspan:4}
                    %tr.row-card.rounded-xl.shadow
                      %td.pl-5.py-3.bg-white.rounded-l-xl 1
                      %td.pl-3.py-3.bg-white
                        Week 3 - Documentation & Final Delivery
                      %td.py-3.px-2.bg-white
                        .whitespace-no-wrap $2,170.00 (Funded)
                      %td.py-3.pl-2.pr-5.bg-white.rounded-r-xl
                        %a.btn.whitespace-no-wrap.inline-block{:href => "#0"} Submit Work / Request Payment

      %div{:class => "lg:w-1/3 lg:pl-4"}
        .border.bg-light-blue.border-blue-200.rounded-md.mb-8
          .bg-white.py-3.px-4.sm:py-4.sm:px-8.rounded-t-md.text-lg.sm:text-xl.font-medium  Client Info
          .p-4.sm:p-8
            .bg-white.border.border-gray-200.py-4.px-5.rounded-xl
              .flex.items-center.text-gray-800
                .col-auto.pr-3
                  .bg-cover.bg-gray-300.w-12.h-12.rounded-full.text-center.leading-10.p-1 SA
                .flex-1
                  .font-medium Sebastian Astone
                  .text-xs.text-gray-400 Anterior

        .border.bg-light-blue.border-blue-200.rounded-md.mb-8
          .bg-white.py-3.px-4.sm:py-4.sm:px-8.rounded-t-md.text-lg.sm:text-xl.font-medium  Contract Info
          .p-4.sm:p-8
            .bg-white.border.border-gray-200.py-4.px-5.rounded-xl
              .text-xl.font-medium.text-green.pb-3 Active
              .text-gray-400.text-sm Since Oct 23,2021 - Contract ID : 20012255
              .py-3
                %a.text-primary.text-sm{:href => "#0"} View Original Job Post
              %div
                %a.text-primary.text-sm{:href => "#0"} View Offer


