%h4.ptb-25 1.   Services.
%p.text-doc.txt-jstfy Beginning on the Effective Date and remaining in effect for the term of this Agreement, Contractor shall provide Company with the following services listed in Appendix A, without limitation.

%h4.ptb-25 2.   Contractor Representations and Warranties.
%p Beginning on the Effective Date and remaining in effect for the term of this Agreement, Contractor makes the following representations and warranties.
%p.text-doc.txt-jstfy
  %b 2.1
  &nbsp;&nbsp; That Contractor is fully authorized and empowered to enter into this Agreement, and that Contractor’s performance of the obligations under this Agreement will not violate any agreement between Contractor and any other person, firm or organization or any law or governmental regulation.
%p.text-doc.txt-jstfy
  %b 2.2
  &nbsp;&nbsp; That Contractor will notify Company of any change(s) to Contractor’s schedule that could adversely affect the availability of Contractor, whether known or unknown at the time of this Agreement, no later than six (6) weeks prior to such change(s). If Contractor becomes aware of such change(s) within the six (6) week period, Contractor shall promptly notify Company of such change(s) within a reasonable amount of time. If Contractor is not in compliance with the Section 2.2, Company may in its sole discretion terminate this Agreement without any further obligation to Contractor.
%p.text-doc.txt-jstfy
  %b 2.3
  &nbsp;&nbsp; That Contractor will bear all expenses incurred in the performance of this Agreement, including but not limited to operation expenses, mail and phone communication expenses, travel expenses, and equipment expenses. Modifications to this provision may be made by the parties by mutual agreement in writing.

%h4.ptb-25 3.   Company Representations and Warranties.
%p Beginning on the Effective Date and remaining in effect for the term of this Agreement, Company makes the following representations and warranties.
%p.text-doc.txt-jstfy
  %b 3.1
  &nbsp;&nbsp; That Company is fully authorized and empowered to enter into this Agreement, and that its performance of the obligations under this Agreement will not violate any agreement between Contractor and any other person, firm or organization or any law or governmental regulation.
%p.text-doc.txt-jstfy
  %b 3.2
  &nbsp;&nbsp; That Company is in full compliance with any and all laws and/or statutes applicable to the services described hereunder.

%h4.ptb-25 4.   Compensation.
%p.text-doc.txt-jstfy The work performed by Contractor shall be performed at the rate set forth in Appendix A.

%h4.ptb-25 5.   Independent Contractor Status.
%p.text-doc.txt-jstfy
  %b 5.1
  &nbsp;&nbsp; Contractor is an independent contractor of Company. Nothing contained in this Agreement shall be construed to create the relationship of employer and employee, principal and agent, partnership or joint venture, or any other fiduciary relationship.
%p.text-doc.txt-jstfy
  %b 5.2
  &nbsp;&nbsp; Contractor shall have no authority to act as agent for, or on behalf of Company, or to represent Company, or bind Company in any manner without written consent from Company.
%p.text-doc.txt-jstfy
  %b 5.3
  &nbsp;&nbsp; Contractor shall not be entitled to worker's compensation, retirement, insurance or other benefits afforded to employees of Company.

%h4.ptb-25 6.   Agreement Not to Solicit.
%p.text-doc.txt-jstfy
  %b 6.1 Non-solicitation of Clients.
  &nbsp;&nbsp; During the term of this Agreement and for a period of twelve (12) months thereafter (the “Non-solicitation Term”) if this Agreement is terminated for any reason, with or without cause, Contractor shall not, directly or indirectly, solicit or otherwise seek to obtain for Contractor’s benefit (or assist any other person or entity in which Contractor or any member of his or her family has an interest or by which Contractor is affiliated) any business from any person, firm, or other entity that is or was, on the Termination Date, a client or customer of Company, which would be directly or indirectly competitive with the business of Company or any of its affiliates or contact such client or customer for any purpose directly or indirectly relating to the service that Company currently provides. Services which were specifically listed as available services under Contractor’s listing on Company’s website are expressly excluded from this provision.

%p.text-doc.txt-jstfy
  %b 6.2 Non-solicitation of Employees or Contractors of Company.
  &nbsp;&nbsp; During the Non-solicitation Term, Contractor shall not solicit or attempt to induce any employee or independent contractor of Company to terminate his or her employment or relationship with Company or otherwise interfere with the employment or relationship between Company and its other employees or contractors by soliciting any of such individuals to participate in independent business ventures.

%h4.ptb-25 7.   Confidential Information and Non-Disclosure Agreement.
%p.text-doc.txt-jstfy
  %b 7.1
  &nbsp;&nbsp; Contractor and its employees shall not, during the time of rendering services to Company or thereafter, disclose to anyone other than authorized employees of Company (or persons designated by such duly authorized employees of Company) or use for the benefit of Contractor and its employees or for any entity other than Company, any information of a confidential nature, including but not limited to, information relating to: any and all non-public or proprietary information with respect to business plans, marketing plans, operations, assets, properties, financial condition, financial information, information pertaining to customers and vendors, customer lists, business records, projections, product information, business designs, business processes, technical processes, website designs, website processes, prototypes, programs, source codes, object codes, algorithms and related documentation, dashboards, wireframes, software designs, patent applications, scripts, writings, storyboards, film and television pitches, and any other information which gives the Company an advantage over its competition, together with all reports, summaries, studies, checklists, compilations and other documentation, and any other information not publicly available and disclosed by the Company to Party (hereinafter, the “Confidential Information”).
%p.text-doc.txt-jstfy
  %b 7.2
  &nbsp;&nbsp; Nothing contained in this Agreement shall be deemed or construed to grant or confer any rights by license or otherwise to Contractor for the use of the Confidential information outside of the scope of performing Contractor’s services described in Appendix A to this Agreement.
%p.text-doc.txt-jstfy
  %b 7.3
  &nbsp;&nbsp; Upon the expiration or termination of this Agreement, Contractor shall return to the Company all Confidential Information, and any derivations thereof, then in its possession or in the possession of any of its representatives without retaining any copy thereof, and will promptly destroy all copies of any analyses, compilations, studies or other documents, records or data prepared by it or any of its representatives, which contain or otherwise reflect or are generated from the Confidential Information, and a duly authorized individual will certify in writing, under the penalty of perjury, to the Company that such destruction has been accomplished.
%p.text-doc.txt-jstfy
  %b 7.4
  &nbsp;&nbsp; In the event that Contractor or any of its respective representatives is requested or required (by deposition, interrogatory, request for documents, subpoena, civil investigative demand or similar legal, judicial or regulatory process or as otherwise required by applicable law or regulation) to disclose any of the Confidential Information, Contractor shall (a) provide Company with prompt prior written notice of such request or requirement, and (b) cooperate with Company so that Company may seek a protective order or other appropriate remedy. In the event that such protective order or other remedy is not obtained, or Company waives compliance with the terms and provisions of Section 7 to this Agreement, Contractor and its representatives may disclose only that portion of the Confidential Information that the receiving party is advised by legal counsel in writing is legally required to be disclosed.
%p.text-doc.txt-jstfy
  %b 7.5
  &nbsp;&nbsp; Contractor acknowledges and agrees that any breach of this Section will cause injury to Company for which money damages would be an inadequate remedy and that, in addition to remedies at law, Company is entitled to equitable relief as a remedy for any such breach, including, without limitation, injunctive relief (including, without limitation, the right to obtain a temporary or permanent injunction) and specific performance (without being required to obtain a bond or post other security or prove actual damages). All the rights and remedies of Company hereunder shall be cumulative. Contractor shall be liable to Company for all reasonable attorneys’ fees and costs should Company prevail in any legal action initiated by Company pursuant to Section 7 of this Agreement.

%h4.ptb-25 8.   Intellectual Property.
%p.text-doc.txt-jstfy
  %b 8.1
  &nbsp;&nbsp; Company represents that all content provided by Company to Contractor, in furtherance of Contractor’s services described hereunder, including, without limitation, images, videos and text, including any intellectual property, such as copyrights, assumed names or trademarks (the “Company Content”), is owned solely and legally by Company
%p.text-doc.txt-jstfy
  %b 8.2
  &nbsp;&nbsp; Company grants Contractor a non-exclusive, transferable sub-licensable, royalty-free, worldwide license to use Company Content, which is created by Contractor in connection with Contractor’s services described hereunder, in Contractor’s portfolio provided Contractor credit Company. This license may be freely revoked by Company at any time for any reason.
%p.text-doc.txt-jstfy
  %b 8.3
  &nbsp;&nbsp; Any materials developed by Company, making use of Content, remains the sole property of Company subject to all applicable laws and/or statutes.
%p.text-doc.txt-jstfy
  %b 8.4
  &nbsp;&nbsp; During the course of performing under this Agreement, Contractor and its directors, officers, employees, or other representatives may, independently or in conjunction with Company, develop information, produce work product, or achieve other results for Company in connection with the services it performs for Company under this Agreement. Contractor agrees that any such information, work product, and other results, systems and information developed by Contractor and/or Company in connection with such services (hereinafter referred to collectively as the "Work Product") shall, to the extent permitted by law, be a "work made for hire" within the definition of Section 101 of the Copyright Act (17 U.S.C. § 101) and shall remain the sole and exclusive property of Company.

%h4.ptb-25 9.   Liability.
%p.text-doc.txt-jstfy
  %b 9.1
  &nbsp;&nbsp; Company shall not be responsible for any costs incurred by Contractor, including, without limitation, any and all fees and expenses, such as those described in Section 2.3 above. Modifications to this provision may be made by the parties by mutual agreement in writing.
%p.text-doc.txt-jstfy
  %b 9.2
  &nbsp;&nbsp; Company shall not be liable for the services or deliverables performed by Contractor as a result of being listed on Company’s website. This is the case regardless of whether Company performs services for any such customer. For the avoidance of doubt, Contractor shall be solely liable for its performance (or nonperformance) of services and delivery of deliverables.
%p.text-doc.txt-jstfy
  %b 9.3
  &nbsp;&nbsp; NOTWITHSTANDING ANY OTHER PROVISION OF THIS AGREEMENT, IN NO EVENT WILL COMPANY OR ITS AFFILIATES BE LIABLE TO CONTRACTOR OR ITS AFFILIATES FOR ANY SPECIAL, INDIRECT, INCIDENTAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES OF ANY NATURE ARISING OUT OF OR RELATED TO THIS AGREEMENT, EVEN IF CONTRACTOR WILL HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING WILL APPLY REGARDLESS OF THE NEGLIGENCE OR OTHER FAILURE OF COMPANY AND REGARDLESS OF WHETHER SUCH LIABILITY ARISES IN CONTRACT, NEGLIGENCE, TORT, STRICT LIABILITY OR ANY OTHER THEORY OF LIABILITY. NOTWITHSTANDING ANYTHING TO THE CONTRARY IN THIS AGREEMENT OR OTHERWISE, IN NO EVENT WILL COMPANY BE LIABLE TO CONTRACTOR FOR ANY IMPAIRMENT OR LOSS OF GOODWILL. SUCH EXCLUDED DAMAGES INCLUDE, WITHOUT LIMITATION, LOSS OF DATA, LOSS OF OPPORTUNITY, LOSS OF PROFITS, AND/OR LOSS OF SAVINGS OR REVENUE.

%h4.ptb-25 10.   Disclaimer of Warranty.
%p.text-doc.txt-jstfy
  %b 10.1
  &nbsp;&nbsp; THE WARRANTIES CONTAINED HEREIN ARE THE ONLY WARRANTIES MADE BY THE PARTIES HEREUNDER. EACH PARTY MAKES NO OTHER WARRANTY, WHETHER EXPRESS OR IMPLIED, AND EXPRESSLY EXCLUDES AND DISCLAIMS ALL OTHER WARRANTIES AND REPRESENTATIONS OF ANY KIND, INCLUDING ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT. COMPANY DOES NOT PROVIDE ANY WARRANTY THAT OPERATION OF ANY SERVICES HEREUNDER WILL BE UNINTERRUPTED OR ERROR-FREE.

%h4.ptb-25 11.   Indemnification.
%p.text-doc.txt-jstfy
  %b 11.1
  &nbsp;&nbsp; Contractor (“Indemnifying Party”) agrees to indemnify, defend and hold harmless Company, its Affiliates and their respective officers, directors, employees, agents, representatives, successors, and assigns (“Indemnified Parties”), from and against any and all Third Party claims, damages, losses, suits, actions, demands, proceedings, expenses, and/or liabilities of any kind (including but not limited to reasonable attorneys’ fees incurred and/or those necessary to successfully establish the right to indemnification) threatened, asserted or filed (collectively, “Claims”), against Company, to the extent that such Claims arise out of or relate to: (a) Contractor’s breach or alleged breach of any warranty, representation, or covenant made under this Agreement; (b) infringement or misappropriation or alleged infringement or misappropriation of an Intellectual Property Right of a Third Party by the Contractor’s services or deliverables; (c) violation of Applicable Law by Contractor; and (d) Claims by government regulators or agencies for fines, penalties, sanctions, underpayments or other remedies to the extent such fines, penalties, sanctions, underpayments or other remedies relate to Contractor’s failure to perform its responsibilities under this Agreement.
%p.text-doc.txt-jstfy
  %b 11.2
  &nbsp;&nbsp; Company will have the right to approve the counsel selected by Contractor for defense of the Claims. Company will provide Contractor reasonably prompt written notice of any such Claims and provide reasonable information and assistance, at Contractor’s expense, to help defend such Claims. Contractor will not have any right, without Company’s written consent, to settle any such claim if such settlement arises from or is part of any criminal action, suit or proceeding or contains a stipulation to or admission or acknowledgment of, any liability or wrongdoing (whether in contract, tort or otherwise) on the part of Company or its Affiliates or otherwise requires Company or its Affiliates to take or refrain from taking any material action (such as the payment of fees).

%h4.ptb-25 12.   Miscellaneous.
%p.text-doc.txt-jstfy
  %b 12.1
  &nbsp;&nbsp; This Agreement shall take effect immediately and shall remain fully enforceable and effective until terminated pursuant to the terms of this Agreement.
%p.text-doc.txt-jstfy
  %b 12.2
  &nbsp;&nbsp; Contractor may terminate this Agreement for any reason upon ninety (90) days’ written notice to Company. Company may terminate this Agreement for any reason upon written notice to Contractor. Either party may terminate this Agreement for cause immediately upon written notice to the breaching party.
%p.text-doc.txt-jstfy
  %b 12.3
  &nbsp;&nbsp; In the event Company proposes to sell its business operated pursuant to this Agreement, whether by sale of the assets thereof, or otherwise, Contractor shall have the option in its sole discretion to terminate this Agreement upon the consummation of such sale or at any time thereafter, upon written notice to Company or the buyer of Company’s business.
%p.text-doc.txt-jstfy
  %b 12.4
  &nbsp;&nbsp; This Agreement, and any accompanying appendices, duplicates, or copies, constitutes the entire agreement between the Parties with respect to the subject matter of this Agreement, and supersedes all prior negotiations, agreements, representations, and understandings of any kind, whether written or oral, between the Parties, preceding the date of this Agreement.
%p.text-doc.txt-jstfy
  %b 12.5
  &nbsp;&nbsp; This Agreement may be amended only by written agreement duly executed by an authorized representative of each party.
%p.text-doc.txt-jstfy
  %b 12.6
  &nbsp;&nbsp; If any provision or provisions of this Agreement shall be held unenforceable for any reason, then such provision shall be modified to reflect the parties’ intention. All remaining provisions of this Agreement shall remain fully enforceable and effective for the duration of this Agreement.
%p.text-doc.txt-jstfy
  %b 12.7
  &nbsp;&nbsp; This Agreement shall not be assigned by Contractor without Company’s express written consent.
%p.text-doc.txt-jstfy
  %b 12.8
  &nbsp;&nbsp; Contractor shall be liable to Company for all reasonable attorneys’ fees and costs should Company prevail in any legal action initiated by Company arising out of or relating to this Agreement.

%h4.ptb-25 13.   Governing Law and Jurisdiction.
%p.text-doc.txt-jstfy
  %b 13.1
  &nbsp;&nbsp; This Agreement shall be governed by and construed in accordance with the laws of the State of Illinois without reference to any principles of conflicts of laws, which might cause the application of the laws of another state. Any action instituted by either party arising out of this Agreement shall only be brought, tried and resolved in the applicable federal or state courts having jurisdiction in the State of Illinois. EACH PARTY HEREBY CONSENTS TO THE EXCLUSIVE PERSONAL JURISDICTION AND VENUE OF THE COURTS, STATE AND FEDERAL, HAVING JURISDICTION IN THE STATE OF ILLINOIS.

%h4.ptb-25 14.   Waiver of Rights.
%p.text-doc.txt-jstfy
  %b 14.1
  &nbsp;&nbsp; A failure or delay in exercising any right, power or privilege in respect of this Agreement will not be presumed to operate as a waiver, and a single or partial exercise of any right, power or privilege will not be presumed to preclude any subsequent or further exercise, of that right, power or privilege or the exercise of any other right, power or privilege.
%br
  %b IN WITNESS WHEREOF,
  &nbsp;&nbsp; the Parties, intending to be legally bound, have each executed this agreement as of the Effective Date
