.step-heading
  Step 02 - Copy Tracker Code to Website
%hr.steps-sep.mb-md.mt-md
.col-md-12#js-code.collapse
  .row
    .form-group
      .col-md-offset-8.col-md-4
        %a.btn.btn-raised.pull-right{ "data-toggle": "collapse", "data-target": "#review-keywords"}
          Review Keywords
          %i.fa.fa-chevron-right
