.iconpicker-popup.rounded-lg.p-4.clearfix.shadow-lg
  .iconpicker-search.mb-1
    %input.iconpicker-search-input.mb-0.px-3.py-1.rounded.w-full{:placeholder => "Search icon", :type => "text"}/
  %ul
    %li
      %a{"data-icon" => "fa fa-500px", :href => "#"}
        %i.fa.fa-500px
    %li
      %a{"data-icon" => "fa fa-adjust", :href => "#"}
        %i.fa.fa-adjust
    %li
      %a{"data-icon" => "fa fa-adn", :href => "#"}
        %i.fa.fa-adn
    %li
      %a{"data-icon" => "fa fa-align-center", :href => "#"}
        %i.fa.fa-align-center
    %li
      %a{"data-icon" => "fa fa-align-justify", :href => "#"}
        %i.fa.fa-align-justify
    %li
      %a{"data-icon" => "fa fa-align-left", :href => "#"}
        %i.fa.fa-align-left
    %li
      %a{"data-icon" => "fa fa-align-right", :href => "#"}
        %i.fa.fa-align-right
    %li
      %a{"data-icon" => "fa fa-amazon", :href => "#"}
        %i.fa.fa-amazon
    %li
      %a{"data-icon" => "fa fa-ambulance", :href => "#"}
        %i.fa.fa-ambulance
    %li
      %a{"data-icon" => "fa fa-anchor", :href => "#"}
        %i.fa.fa-anchor
    %li
      %a{"data-icon" => "fa fa-android", :href => "#"}
        %i.fa.fa-android
    %li
      %a{"data-icon" => "fa fa-angellist", :href => "#"}
        %i.fa.fa-angellist
    %li
      %a{"data-icon" => "fa fa-angle-double-down", :href => "#"}
        %i.fa.fa-angle-double-down
    %li
      %a{"data-icon" => "fa fa-angle-double-left", :href => "#"}
        %i.fa.fa-angle-double-left
    %li
      %a{"data-icon" => "fa fa-angle-double-right", :href => "#"}
        %i.fa.fa-angle-double-right
    %li
      %a{"data-icon" => "fa fa-angle-double-up", :href => "#"}
        %i.fa.fa-angle-double-up
    %li
      %a{"data-icon" => "fa fa-angle-down", :href => "#"}
        %i.fa.fa-angle-down
    %li
      %a{"data-icon" => "fa fa-angle-left", :href => "#"}
        %i.fa.fa-angle-left
    %li
      %a{"data-icon" => "fa fa-angle-right", :href => "#"}
        %i.fa.fa-angle-right
    %li
      %a{"data-icon" => "fa fa-angle-up", :href => "#"}
        %i.fa.fa-angle-up
    %li
      %a{"data-icon" => "fa fa-apple", :href => "#"}
        %i.fa.fa-apple
    %li
      %a{"data-icon" => "fa fa-archive", :href => "#"}
        %i.fa.fa-archive
    %li
      %a{"data-icon" => "fa fa-area-chart", :href => "#"}
        %i.fa.fa-area-chart
    %li
      %a{"data-icon" => "fa fa-arrow-circle-down", :href => "#"}
        %i.fa.fa-arrow-circle-down
    %li
      %a{"data-icon" => "fa fa-arrow-circle-left", :href => "#"}
        %i.fa.fa-arrow-circle-left
    %li
      %a{"data-icon" => "fa fa-arrow-circle-o-down", :href => "#"}
        %i.fa.fa-arrow-circle-o-down
    %li
      %a{"data-icon" => "fa fa-arrow-circle-o-left", :href => "#"}
        %i.fa.fa-arrow-circle-o-left
    %li
      %a{"data-icon" => "fa fa-arrow-circle-o-right", :href => "#"}
        %i.fa.fa-arrow-circle-o-right
    %li
      %a{"data-icon" => "fa fa-arrow-circle-o-up", :href => "#"}
        %i.fa.fa-arrow-circle-o-up
    %li
      %a{"data-icon" => "fa fa-arrow-circle-right", :href => "#"}
        %i.fa.fa-arrow-circle-right
    %li
      %a{"data-icon" => "fa fa-arrow-circle-up", :href => "#"}
        %i.fa.fa-arrow-circle-up
    %li
      %a{"data-icon" => "fa fa-arrow-down", :href => "#"}
        %i.fa.fa-arrow-down
    %li
      %a{"data-icon" => "fa fa-arrow-left", :href => "#"}
        %i.fa.fa-arrow-left
    %li
      %a{"data-icon" => "fa fa-arrow-right", :href => "#"}
        %i.fa.fa-arrow-right
    %li
      %a{"data-icon" => "fa fa-arrow-up", :href => "#"}
        %i.fa.fa-arrow-up
    %li
      %a{"data-icon" => "fa fa-arrows", :href => "#"}
        %i.fa.fa-arrows
    %li
      %a{"data-icon" => "fa fa-arrows-alt", :href => "#"}
        %i.fa.fa-arrows-alt
    %li
      %a{"data-icon" => "fa fa-arrows-h", :href => "#"}
        %i.fa.fa-arrows-h
    %li
      %a{"data-icon" => "fa fa-arrows-v", :href => "#"}
        %i.fa.fa-arrows-v
    %li
      %a{"data-icon" => "fa fa-asterisk", :href => "#"}
        %i.fa.fa-asterisk
    %li
      %a{"data-icon" => "fa fa-at", :href => "#"}
        %i.fa.fa-at
    %li
      %a{"data-icon" => "fa fa-backward", :href => "#"}
        %i.fa.fa-backward
    %li
      %a{"data-icon" => "fa fa-balance-scale", :href => "#"}
        %i.fa.fa-balance-scale
    %li
      %a{"data-icon" => "fa fa-ban", :href => "#"}
        %i.fa.fa-ban
    %li
      %a{"data-icon" => "fa fa-bar-chart", :href => "#"}
        %i.fa.fa-bar-chart
    %li
      %a{"data-icon" => "fa fa-barcode", :href => "#"}
        %i.fa.fa-barcode
    %li
      %a{"data-icon" => "fa fa-bars", :href => "#"}
        %i.fa.fa-bars
    %li
      %a{"data-icon" => "fa fa-battery-empty", :href => "#"}
        %i.fa.fa-battery-empty
    %li
      %a{"data-icon" => "fa fa-battery-full", :href => "#"}
        %i.fa.fa-battery-full
    %li
      %a{"data-icon" => "fa fa-battery-half", :href => "#"}
        %i.fa.fa-battery-half
    %li
      %a{"data-icon" => "fa fa-battery-quarter", :href => "#"}
        %i.fa.fa-battery-quarter
    %li
      %a{"data-icon" => "fa fa-battery-three-quarters", :href => "#"}
        %i.fa.fa-battery-three-quarters
    %li
      %a{"data-icon" => "fa fa-bed", :href => "#"}
        %i.fa.fa-bed
    %li
      %a{"data-icon" => "fa fa-beer", :href => "#"}
        %i.fa.fa-beer
    %li
      %a{"data-icon" => "fa fa-behance", :href => "#"}
        %i.fa.fa-behance
    %li
      %a{"data-icon" => "fa fa-behance-square", :href => "#"}
        %i.fa.fa-behance-square
    %li
      %a{"data-icon" => "fa fa-bell", :href => "#"}
        %i.fa.fa-bell
    %li
      %a{"data-icon" => "fa fa-bell-o", :href => "#"}
        %i.fa.fa-bell-o
    %li
      %a{"data-icon" => "fa fa-bell-slash", :href => "#"}
        %i.fa.fa-bell-slash
    %li
      %a{"data-icon" => "fa fa-bell-slash-o", :href => "#"}
        %i.fa.fa-bell-slash-o
    %li
      %a{"data-icon" => "fa fa-bicycle", :href => "#"}
        %i.fa.fa-bicycle
    %li
      %a{"data-icon" => "fa fa-binoculars", :href => "#"}
        %i.fa.fa-binoculars
    %li
      %a{"data-icon" => "fa fa-birthday-cake", :href => "#"}
        %i.fa.fa-birthday-cake
    %li
      %a{"data-icon" => "fa fa-bitbucket", :href => "#"}
        %i.fa.fa-bitbucket
    %li
      %a{"data-icon" => "fa fa-bitbucket-square", :href => "#"}
        %i.fa.fa-bitbucket-square
    %li
      %a{"data-icon" => "fa fa-black-tie", :href => "#"}
        %i.fa.fa-black-tie
    %li
      %a{"data-icon" => "fa fa-bold", :href => "#"}
        %i.fa.fa-bold
    %li
      %a{"data-icon" => "fa fa-bolt", :href => "#"}
        %i.fa.fa-bolt
    %li
      %a{"data-icon" => "fa fa-bomb", :href => "#"}
        %i.fa.fa-bomb
    %li
      %a{"data-icon" => "fa fa-book", :href => "#"}
        %i.fa.fa-book
    %li
      %a{"data-icon" => "fa fa-bookmark", :href => "#"}
        %i.fa.fa-bookmark
    %li
      %a{"data-icon" => "fa fa-bookmark-o", :href => "#"}
        %i.fa.fa-bookmark-o
    %li
      %a{"data-icon" => "fa fa-briefcase", :href => "#"}
        %i.fa.fa-briefcase
    %li
      %a{"data-icon" => "fa fa-btc", :href => "#"}
        %i.fa.fa-btc
    %li
      %a{"data-icon" => "fa fa-bug", :href => "#"}
        %i.fa.fa-bug
    %li
      %a{"data-icon" => "fa fa-building", :href => "#"}
        %i.fa.fa-building
    %li
      %a{"data-icon" => "fa fa-building-o", :href => "#"}
        %i.fa.fa-building-o
    %li
      %a{"data-icon" => "fa fa-bullhorn", :href => "#"}
        %i.fa.fa-bullhorn
    %li
      %a{"data-icon" => "fa fa-bullseye", :href => "#"}
        %i.fa.fa-bullseye
    %li
      %a{"data-icon" => "fa fa-bus", :href => "#"}
        %i.fa.fa-bus
    %li
      %a{"data-icon" => "fa fa-buysellads", :href => "#"}
        %i.fa.fa-buysellads
    %li
      %a{"data-icon" => "fa fa-calculator", :href => "#"}
        %i.fa.fa-calculator
    %li
      %a{"data-icon" => "fa fa-calendar", :href => "#"}
        %i.fa.fa-calendar
    %li
      %a{"data-icon" => "fa fa-calendar-check-o", :href => "#"}
        %i.fa.fa-calendar-check-o
    %li
      %a{"data-icon" => "fa fa-calendar-minus-o", :href => "#"}
        %i.fa.fa-calendar-minus-o
    %li
      %a{"data-icon" => "fa fa-calendar-o", :href => "#"}
        %i.fa.fa-calendar-o
    %li
      %a{"data-icon" => "fa fa-calendar-plus-o", :href => "#"}
        %i.fa.fa-calendar-plus-o
    %li
      %a{"data-icon" => "fa fa-calendar-times-o", :href => "#"}
        %i.fa.fa-calendar-times-o
    %li
      %a{"data-icon" => "fa fa-camera", :href => "#"}
        %i.fa.fa-camera
    %li
      %a{"data-icon" => "fa fa-camera-retro", :href => "#"}
        %i.fa.fa-camera-retro
    %li
      %a{"data-icon" => "fa fa-car", :href => "#"}
        %i.fa.fa-car
    %li
      %a{"data-icon" => "fa fa-caret-down", :href => "#"}
        %i.fa.fa-caret-down
    %li
      %a{"data-icon" => "fa fa-caret-left", :href => "#"}
        %i.fa.fa-caret-left
    %li
      %a{"data-icon" => "fa fa-caret-right", :href => "#"}
        %i.fa.fa-caret-right
    %li
      %a{"data-icon" => "fa fa-caret-square-o-down", :href => "#"}
        %i.fa.fa-caret-square-o-down
    %li
      %a{"data-icon" => "fa fa-caret-square-o-left", :href => "#"}
        %i.fa.fa-caret-square-o-left
    %li
      %a{"data-icon" => "fa fa-caret-square-o-right", :href => "#"}
        %i.fa.fa-caret-square-o-right
    %li
      %a{"data-icon" => "fa fa-caret-square-o-up", :href => "#"}
        %i.fa.fa-caret-square-o-up
    %li
      %a{"data-icon" => "fa fa-caret-up", :href => "#"}
        %i.fa.fa-caret-up
    %li
      %a{"data-icon" => "fa fa-cart-arrow-down", :href => "#"}
        %i.fa.fa-cart-arrow-down
    %li
      %a{"data-icon" => "fa fa-cart-plus", :href => "#"}
        %i.fa.fa-cart-plus
    %li
      %a{"data-icon" => "fa fa-cc", :href => "#"}
        %i.fa.fa-cc
    %li
      %a{"data-icon" => "fa fa-cc-amex", :href => "#"}
        %i.fa.fa-cc-amex
    %li
      %a{"data-icon" => "fa fa-cc-diners-club", :href => "#"}
        %i.fa.fa-cc-diners-club
    %li
      %a{"data-icon" => "fa fa-cc-discover", :href => "#"}
        %i.fa.fa-cc-discover
    %li
      %a{"data-icon" => "fa fa-cc-jcb", :href => "#"}
        %i.fa.fa-cc-jcb
    %li
      %a{"data-icon" => "fa fa-cc-mastercard", :href => "#"}
        %i.fa.fa-cc-mastercard
    %li
      %a{"data-icon" => "fa fa-cc-paypal", :href => "#"}
        %i.fa.fa-cc-paypal
    %li
      %a{"data-icon" => "fa fa-cc-stripe", :href => "#"}
        %i.fa.fa-cc-stripe
    %li
      %a{"data-icon" => "fa fa-cc-visa", :href => "#"}
        %i.fa.fa-cc-visa
    %li
      %a{"data-icon" => "fa fa-certificate", :href => "#"}
        %i.fa.fa-certificate
    %li
      %a{"data-icon" => "fa fa-chain-broken", :href => "#"}
        %i.fa.fa-chain-broken
    %li
      %a{"data-icon" => "fa fa-check", :href => "#"}
        %i.fa.fa-check
    %li
      %a{"data-icon" => "fa fa-check-circle", :href => "#"}
        %i.fa.fa-check-circle
    %li
      %a{"data-icon" => "fa fa-check-circle-o", :href => "#"}
        %i.fa.fa-check-circle-o
    %li
      %a{"data-icon" => "fa fa-check-square", :href => "#"}
        %i.fa.fa-check-square
    %li
      %a{"data-icon" => "fa fa-check-square-o", :href => "#"}
        %i.fa.fa-check-square-o
    %li
      %a{"data-icon" => "fa fa-chevron-circle-down", :href => "#"}
        %i.fa.fa-chevron-circle-down
    %li
      %a{"data-icon" => "fa fa-chevron-circle-left", :href => "#"}
        %i.fa.fa-chevron-circle-left
    %li
      %a{"data-icon" => "fa fa-chevron-circle-right", :href => "#"}
        %i.fa.fa-chevron-circle-right
    %li
      %a{"data-icon" => "fa fa-chevron-circle-up", :href => "#"}
        %i.fa.fa-chevron-circle-up
    %li
      %a{"data-icon" => "fa fa-chevron-down", :href => "#"}
        %i.fa.fa-chevron-down
    %li
      %a{"data-icon" => "fa fa-chevron-left", :href => "#"}
        %i.fa.fa-chevron-left
    %li
      %a{"data-icon" => "fa fa-chevron-right", :href => "#"}
        %i.fa.fa-chevron-right
    %li
      %a{"data-icon" => "fa fa-chevron-up", :href => "#"}
        %i.fa.fa-chevron-up
    %li
      %a{"data-icon" => "fa fa-child", :href => "#"}
        %i.fa.fa-child
    %li
      %a{"data-icon" => "fa fa-chrome", :href => "#"}
        %i.fa.fa-chrome
    %li
      %a{"data-icon" => "fa fa-circle", :href => "#"}
        %i.fa.fa-circle
    %li
      %a{"data-icon" => "fa fa-circle-o", :href => "#"}
        %i.fa.fa-circle-o
    %li
      %a{"data-icon" => "fa fa-circle-o-notch", :href => "#"}
        %i.fa.fa-circle-o-notch
    %li
      %a{"data-icon" => "fa fa-circle-thin", :href => "#"}
        %i.fa.fa-circle-thin
    %li
      %a{"data-icon" => "fa fa-clipboard", :href => "#"}
        %i.fa.fa-clipboard
    %li
      %a{"data-icon" => "fa fa-clock-o", :href => "#"}
        %i.fa.fa-clock-o
    %li
      %a{"data-icon" => "fa fa-clone", :href => "#"}
        %i.fa.fa-clone
    %li
      %a{"data-icon" => "fa fa-cloud", :href => "#"}
        %i.fa.fa-cloud
    %li
      %a{"data-icon" => "fa fa-cloud-download", :href => "#"}
        %i.fa.fa-cloud-download
    %li
      %a{"data-icon" => "fa fa-cloud-upload", :href => "#"}
        %i.fa.fa-cloud-upload
    %li
      %a{"data-icon" => "fa fa-code", :href => "#"}
        %i.fa.fa-code
    %li
      %a{"data-icon" => "fa fa-code-fork", :href => "#"}
        %i.fa.fa-code-fork
    %li
      %a{"data-icon" => "fa fa-codepen", :href => "#"}
        %i.fa.fa-codepen
    %li
      %a{"data-icon" => "fa fa-coffee", :href => "#"}
        %i.fa.fa-coffee
    %li
      %a{"data-icon" => "fa fa-cog", :href => "#"}
        %i.fa.fa-cog
    %li
      %a{"data-icon" => "fa fa-cogs", :href => "#"}
        %i.fa.fa-cogs
    %li
      %a{"data-icon" => "fa fa-columns", :href => "#"}
        %i.fa.fa-columns
    %li
      %a{"data-icon" => "fa fa-comment", :href => "#"}
        %i.fa.fa-comment
    %li
      %a{"data-icon" => "fa fa-comment-o", :href => "#"}
        %i.fa.fa-comment-o
    %li
      %a{"data-icon" => "fa fa-commenting", :href => "#"}
        %i.fa.fa-commenting
    %li
      %a{"data-icon" => "fa fa-commenting-o", :href => "#"}
        %i.fa.fa-commenting-o
    %li
      %a{"data-icon" => "fa fa-comments", :href => "#"}
        %i.fa.fa-comments
    %li
      %a{"data-icon" => "fa fa-comments-o", :href => "#"}
        %i.fa.fa-comments-o
    %li
      %a{"data-icon" => "fa fa-compass", :href => "#"}
        %i.fa.fa-compass
    %li
      %a{"data-icon" => "fa fa-compress", :href => "#"}
        %i.fa.fa-compress
    %li
      %a{"data-icon" => "fa fa-connectdevelop", :href => "#"}
        %i.fa.fa-connectdevelop
    %li
      %a{"data-icon" => "fa fa-contao", :href => "#"}
        %i.fa.fa-contao
    %li
      %a{"data-icon" => "fa fa-copyright", :href => "#"}
        %i.fa.fa-copyright
    %li
      %a{"data-icon" => "fa fa-creative-commons", :href => "#"}
        %i.fa.fa-creative-commons
    %li
      %a{"data-icon" => "fa fa-credit-card", :href => "#"}
        %i.fa.fa-credit-card
    %li
      %a{"data-icon" => "fa fa-crop", :href => "#"}
        %i.fa.fa-crop
    %li
      %a{"data-icon" => "fa fa-crosshairs", :href => "#"}
        %i.fa.fa-crosshairs
    %li
      %a{"data-icon" => "fa fa-css3", :href => "#"}
        %i.fa.fa-css3
    %li
      %a{"data-icon" => "fa fa-cube", :href => "#"}
        %i.fa.fa-cube
    %li
      %a{"data-icon" => "fa fa-cubes", :href => "#"}
        %i.fa.fa-cubes
    %li
      %a{"data-icon" => "fa fa-cutlery", :href => "#"}
        %i.fa.fa-cutlery
    %li
      %a{"data-icon" => "fa fa-dashcube", :href => "#"}
        %i.fa.fa-dashcube
    %li
      %a{"data-icon" => "fa fa-database", :href => "#"}
        %i.fa.fa-database
    %li
      %a{"data-icon" => "fa fa-delicious", :href => "#"}
        %i.fa.fa-delicious
    %li
      %a{"data-icon" => "fa fa-desktop", :href => "#"}
        %i.fa.fa-desktop
    %li
      %a{"data-icon" => "fa fa-deviantart", :href => "#"}
        %i.fa.fa-deviantart
    %li
      %a{"data-icon" => "fa fa-diamond", :href => "#"}
        %i.fa.fa-diamond
    %li
      %a{"data-icon" => "fa fa-digg", :href => "#"}
        %i.fa.fa-digg
    %li
      %a{"data-icon" => "fa fa-dot-circle-o", :href => "#"}
        %i.fa.fa-dot-circle-o
    %li
      %a{"data-icon" => "fa fa-download", :href => "#"}
        %i.fa.fa-download
    %li
      %a{"data-icon" => "fa fa-dribbble", :href => "#"}
        %i.fa.fa-dribbble
    %li
      %a{"data-icon" => "fa fa-dropbox", :href => "#"}
        %i.fa.fa-dropbox
    %li
      %a{"data-icon" => "fa fa-drupal", :href => "#"}
        %i.fa.fa-drupal
    %li
      %a{"data-icon" => "fa fa-eject", :href => "#"}
        %i.fa.fa-eject
    %li
      %a{"data-icon" => "fa fa-ellipsis-h", :href => "#"}
        %i.fa.fa-ellipsis-h
    %li
      %a{"data-icon" => "fa fa-ellipsis-v", :href => "#"}
        %i.fa.fa-ellipsis-v
    %li
      %a{"data-icon" => "fa fa-empire", :href => "#"}
        %i.fa.fa-empire
    %li
      %a{"data-icon" => "fa fa-envelope", :href => "#"}
        %i.fa.fa-envelope
    %li
      %a{"data-icon" => "fa fa-envelope-o", :href => "#"}
        %i.fa.fa-envelope-o
    %li
      %a{"data-icon" => "fa fa-envelope-square", :href => "#"}
        %i.fa.fa-envelope-square
    %li
      %a{"data-icon" => "fa fa-eraser", :href => "#"}
        %i.fa.fa-eraser
    %li
      %a{"data-icon" => "fa fa-eur", :href => "#"}
        %i.fa.fa-eur
    %li
      %a{"data-icon" => "fa fa-exchange", :href => "#"}
        %i.fa.fa-exchange
    %li
      %a{"data-icon" => "fa fa-exclamation", :href => "#"}
        %i.fa.fa-exclamation
    %li
      %a{"data-icon" => "fa fa-exclamation-circle", :href => "#"}
        %i.fa.fa-exclamation-circle
    %li
      %a{"data-icon" => "fa fa-exclamation-triangle", :href => "#"}
        %i.fa.fa-exclamation-triangle
    %li
      %a{"data-icon" => "fa fa-expand", :href => "#"}
        %i.fa.fa-expand
    %li
      %a{"data-icon" => "fa fa-expeditedssl", :href => "#"}
        %i.fa.fa-expeditedssl
    %li
      %a{"data-icon" => "fa fa-external-link", :href => "#"}
        %i.fa.fa-external-link
    %li
      %a{"data-icon" => "fa fa-external-link-square", :href => "#"}
        %i.fa.fa-external-link-square
    %li
      %a{"data-icon" => "fa fa-eye", :href => "#"}
        %i.fa.fa-eye
    %li
      %a{"data-icon" => "fa fa-eye-slash", :href => "#"}
        %i.fa.fa-eye-slash
    %li
      %a{"data-icon" => "fa fa-eyedropper", :href => "#"}
        %i.fa.fa-eyedropper
    %li
      %a{"data-icon" => "fa fa-facebook", :href => "#"}
        %i.fa.fa-facebook
    %li
      %a{"data-icon" => "fa fa-facebook-official", :href => "#"}
        %i.fa.fa-facebook-official
    %li
      %a{"data-icon" => "fa fa-facebook-square", :href => "#"}
        %i.fa.fa-facebook-square
    %li
      %a{"data-icon" => "fa fa-fast-backward", :href => "#"}
        %i.fa.fa-fast-backward
    %li
      %a{"data-icon" => "fa fa-fast-forward", :href => "#"}
        %i.fa.fa-fast-forward
    %li
      %a{"data-icon" => "fa fa-fax", :href => "#"}
        %i.fa.fa-fax
    %li
      %a{"data-icon" => "fa fa-female", :href => "#"}
        %i.fa.fa-female
    %li
      %a{"data-icon" => "fa fa-fighter-jet", :href => "#"}
        %i.fa.fa-fighter-jet
    %li
      %a{"data-icon" => "fa fa-file", :href => "#"}
        %i.fa.fa-file
    %li
      %a{"data-icon" => "fa fa-file-archive-o", :href => "#"}
        %i.fa.fa-file-archive-o
    %li
      %a{"data-icon" => "fa fa-file-audio-o", :href => "#"}
        %i.fa.fa-file-audio-o
    %li
      %a{"data-icon" => "fa fa-file-code-o", :href => "#"}
        %i.fa.fa-file-code-o
    %li
      %a{"data-icon" => "fa fa-file-excel-o", :href => "#"}
        %i.fa.fa-file-excel-o
    %li
      %a{"data-icon" => "fa fa-file-image-o", :href => "#"}
        %i.fa.fa-file-image-o
    %li
      %a{"data-icon" => "fa fa-file-o", :href => "#"}
        %i.fa.fa-file-o
    %li
      %a{"data-icon" => "fa fa-file-pdf-o", :href => "#"}
        %i.fa.fa-file-pdf-o
    %li
      %a{"data-icon" => "fa fa-file-powerpoint-o", :href => "#"}
        %i.fa.fa-file-powerpoint-o
    %li
      %a{"data-icon" => "fa fa-file-text", :href => "#"}
        %i.fa.fa-file-text
    %li
      %a{"data-icon" => "fa fa-file-text-o", :href => "#"}
        %i.fa.fa-file-text-o
    %li
      %a{"data-icon" => "fa fa-file-video-o", :href => "#"}
        %i.fa.fa-file-video-o
    %li
      %a{"data-icon" => "fa fa-file-word-o", :href => "#"}
        %i.fa.fa-file-word-o
    %li
      %a{"data-icon" => "fa fa-files-o", :href => "#"}
        %i.fa.fa-files-o
    %li
      %a{"data-icon" => "fa fa-film", :href => "#"}
        %i.fa.fa-film
    %li
      %a{"data-icon" => "fa fa-filter", :href => "#"}
        %i.fa.fa-filter
    %li
      %a{"data-icon" => "fa fa-fire", :href => "#"}
        %i.fa.fa-fire
    %li
      %a{"data-icon" => "fa fa-fire-extinguisher", :href => "#"}
        %i.fa.fa-fire-extinguisher
    %li
      %a{"data-icon" => "fa fa-firefox", :href => "#"}
        %i.fa.fa-firefox
    %li
      %a{"data-icon" => "fa fa-flag", :href => "#"}
        %i.fa.fa-flag
    %li
      %a{"data-icon" => "fa fa-flag-checkered", :href => "#"}
        %i.fa.fa-flag-checkered
    %li
      %a{"data-icon" => "fa fa-flag-o", :href => "#"}
        %i.fa.fa-flag-o
    %li
      %a{"data-icon" => "fa fa-flask", :href => "#"}
        %i.fa.fa-flask
    %li
      %a{"data-icon" => "fa fa-flickr", :href => "#"}
        %i.fa.fa-flickr
    %li
      %a{"data-icon" => "fa fa-floppy-o", :href => "#"}
        %i.fa.fa-floppy-o
    %li
      %a{"data-icon" => "fa fa-folder", :href => "#"}
        %i.fa.fa-folder
    %li
      %a{"data-icon" => "fa fa-folder-o", :href => "#"}
        %i.fa.fa-folder-o
    %li
      %a{"data-icon" => "fa fa-folder-open", :href => "#"}
        %i.fa.fa-folder-open
    %li
      %a{"data-icon" => "fa fa-folder-open-o", :href => "#"}
        %i.fa.fa-folder-open-o
    %li
      %a{"data-icon" => "fa fa-font", :href => "#"}
        %i.fa.fa-font
    %li
      %a{"data-icon" => "fa fa-fonticons", :href => "#"}
        %i.fa.fa-fonticons
    %li
      %a{"data-icon" => "fa fa-forumbee", :href => "#"}
        %i.fa.fa-forumbee
    %li
      %a{"data-icon" => "fa fa-forward", :href => "#"}
        %i.fa.fa-forward
    %li
      %a{"data-icon" => "fa fa-foursquare", :href => "#"}
        %i.fa.fa-foursquare
    %li
      %a{"data-icon" => "fa fa-frown-o", :href => "#"}
        %i.fa.fa-frown-o
    %li
      %a{"data-icon" => "fa fa-futbol-o", :href => "#"}
        %i.fa.fa-futbol-o
    %li
      %a{"data-icon" => "fa fa-gamepad", :href => "#"}
        %i.fa.fa-gamepad
    %li
      %a{"data-icon" => "fa fa-gavel", :href => "#"}
        %i.fa.fa-gavel
    %li
      %a{"data-icon" => "fa fa-gbp", :href => "#"}
        %i.fa.fa-gbp
    %li
      %a{"data-icon" => "fa fa-genderless", :href => "#"}
        %i.fa.fa-genderless
    %li
      %a{"data-icon" => "fa fa-get-pocket", :href => "#"}
        %i.fa.fa-get-pocket
    %li
      %a{"data-icon" => "fa fa-gg", :href => "#"}
        %i.fa.fa-gg
    %li
      %a{"data-icon" => "fa fa-gg-circle", :href => "#"}
        %i.fa.fa-gg-circle
    %li
      %a{"data-icon" => "fa fa-gift", :href => "#"}
        %i.fa.fa-gift
    %li
      %a{"data-icon" => "fa fa-git", :href => "#"}
        %i.fa.fa-git
    %li
      %a{"data-icon" => "fa fa-git-square", :href => "#"}
        %i.fa.fa-git-square
    %li
      %a{"data-icon" => "fa fa-github", :href => "#"}
        %i.fa.fa-github
    %li
      %a{"data-icon" => "fa fa-github-alt", :href => "#"}
        %i.fa.fa-github-alt
    %li
      %a{"data-icon" => "fa fa-github-square", :href => "#"}
        %i.fa.fa-github-square
    %li
      %a{"data-icon" => "fa fa-glass", :href => "#"}
        %i.fa.fa-glass
    %li
      %a{"data-icon" => "fa fa-globe", :href => "#"}
        %i.fa.fa-globe
    %li
      %a{"data-icon" => "fa fa-google", :href => "#"}
        %i.fa.fa-google
    %li
      %a{"data-icon" => "fa fa-google-plus", :href => "#"}
        %i.fa.fa-google-plus
    %li
      %a{"data-icon" => "fa fa-google-plus-square", :href => "#"}
        %i.fa.fa-google-plus-square
    %li
      %a{"data-icon" => "fa fa-google-wallet", :href => "#"}
        %i.fa.fa-google-wallet
    %li
      %a{"data-icon" => "fa fa-graduation-cap", :href => "#"}
        %i.fa.fa-graduation-cap
    %li
      %a{"data-icon" => "fa fa-gratipay", :href => "#"}
        %i.fa.fa-gratipay
    %li
      %a{"data-icon" => "fa fa-h-square", :href => "#"}
        %i.fa.fa-h-square
    %li
      %a{"data-icon" => "fa fa-hacker-news", :href => "#"}
        %i.fa.fa-hacker-news
    %li
      %a{"data-icon" => "fa fa-hand-lizard-o", :href => "#"}
        %i.fa.fa-hand-lizard-o
    %li
      %a{"data-icon" => "fa fa-hand-o-down", :href => "#"}
        %i.fa.fa-hand-o-down
    %li
      %a{"data-icon" => "fa fa-hand-o-left", :href => "#"}
        %i.fa.fa-hand-o-left
    %li
      %a{"data-icon" => "fa fa-hand-o-right", :href => "#"}
        %i.fa.fa-hand-o-right
    %li
      %a{"data-icon" => "fa fa-hand-o-up", :href => "#"}
        %i.fa.fa-hand-o-up
    %li
      %a{"data-icon" => "fa fa-hand-paper-o", :href => "#"}
        %i.fa.fa-hand-paper-o
    %li
      %a{"data-icon" => "fa fa-hand-peace-o", :href => "#"}
        %i.fa.fa-hand-peace-o
    %li
      %a{"data-icon" => "fa fa-hand-pointer-o", :href => "#"}
        %i.fa.fa-hand-pointer-o
    %li
      %a{"data-icon" => "fa fa-hand-rock-o", :href => "#"}
        %i.fa.fa-hand-rock-o
    %li
      %a{"data-icon" => "fa fa-hand-scissors-o", :href => "#"}
        %i.fa.fa-hand-scissors-o
    %li
      %a{"data-icon" => "fa fa-hand-spock-o", :href => "#"}
        %i.fa.fa-hand-spock-o
    %li
      %a{"data-icon" => "fa fa-hdd-o", :href => "#"}
        %i.fa.fa-hdd-o
    %li
      %a{"data-icon" => "fa fa-header", :href => "#"}
        %i.fa.fa-header
    %li
      %a{"data-icon" => "fa fa-headphones", :href => "#"}
        %i.fa.fa-headphones
    %li
      %a{"data-icon" => "fa fa-heart", :href => "#"}
        %i.fa.fa-heart
    %li
      %a{"data-icon" => "fa fa-heart-o", :href => "#"}
        %i.fa.fa-heart-o
    %li
      %a{"data-icon" => "fa fa-heartbeat", :href => "#"}
        %i.fa.fa-heartbeat
    %li
      %a{"data-icon" => "fa fa-history", :href => "#"}
        %i.fa.fa-history
    %li
      %a{"data-icon" => "fa fa-home", :href => "#"}
        %i.fa.fa-home
    %li
      %a{"data-icon" => "fa fa-hospital-o", :href => "#"}
        %i.fa.fa-hospital-o
    %li
      %a{"data-icon" => "fa fa-hourglass", :href => "#"}
        %i.fa.fa-hourglass
    %li
      %a{"data-icon" => "fa fa-hourglass-end", :href => "#"}
        %i.fa.fa-hourglass-end
    %li
      %a{"data-icon" => "fa fa-hourglass-half", :href => "#"}
        %i.fa.fa-hourglass-half
    %li
      %a{"data-icon" => "fa fa-hourglass-o", :href => "#"}
        %i.fa.fa-hourglass-o
    %li
      %a{"data-icon" => "fa fa-hourglass-start", :href => "#"}
        %i.fa.fa-hourglass-start
    %li
      %a{"data-icon" => "fa fa-houzz", :href => "#"}
        %i.fa.fa-houzz
    %li
      %a{"data-icon" => "fa fa-html5", :href => "#"}
        %i.fa.fa-html5
    %li
      %a{"data-icon" => "fa fa-i-cursor", :href => "#"}
        %i.fa.fa-i-cursor
    %li
      %a{"data-icon" => "fa fa-ils", :href => "#"}
        %i.fa.fa-ils
    %li
      %a{"data-icon" => "fa fa-inbox", :href => "#"}
        %i.fa.fa-inbox
    %li
      %a{"data-icon" => "fa fa-indent", :href => "#"}
        %i.fa.fa-indent
    %li
      %a{"data-icon" => "fa fa-industry", :href => "#"}
        %i.fa.fa-industry
    %li
      %a{"data-icon" => "fa fa-info", :href => "#"}
        %i.fa.fa-info
    %li
      %a{"data-icon" => "fa fa-info-circle", :href => "#"}
        %i.fa.fa-info-circle
    %li
      %a{"data-icon" => "fa fa-inr", :href => "#"}
        %i.fa.fa-inr
    %li
      %a{"data-icon" => "fa fa-instagram", :href => "#"}
        %i.fa.fa-instagram
    %li
      %a{"data-icon" => "fa fa-internet-explorer", :href => "#"}
        %i.fa.fa-internet-explorer
    %li
      %a{"data-icon" => "fa fa-ioxhost", :href => "#"}
        %i.fa.fa-ioxhost
    %li
      %a{"data-icon" => "fa fa-italic", :href => "#"}
        %i.fa.fa-italic
    %li
      %a{"data-icon" => "fa fa-joomla", :href => "#"}
        %i.fa.fa-joomla
    %li
      %a{"data-icon" => "fa fa-jpy", :href => "#"}
        %i.fa.fa-jpy
    %li
      %a{"data-icon" => "fa fa-jsfiddle", :href => "#"}
        %i.fa.fa-jsfiddle
    %li
      %a{"data-icon" => "fa fa-key", :href => "#"}
        %i.fa.fa-key
    %li
      %a{"data-icon" => "fa fa-keyboard-o", :href => "#"}
        %i.fa.fa-keyboard-o
    %li
      %a{"data-icon" => "fa fa-krw", :href => "#"}
        %i.fa.fa-krw
    %li
      %a{"data-icon" => "fa fa-language", :href => "#"}
        %i.fa.fa-language
    %li
      %a{"data-icon" => "fa fa-laptop", :href => "#"}
        %i.fa.fa-laptop
    %li
      %a{"data-icon" => "fa fa-lastfm", :href => "#"}
        %i.fa.fa-lastfm
    %li
      %a{"data-icon" => "fa fa-lastfm-square", :href => "#"}
        %i.fa.fa-lastfm-square
    %li
      %a{"data-icon" => "fa fa-leaf", :href => "#"}
        %i.fa.fa-leaf
    %li
      %a{"data-icon" => "fa fa-leanpub", :href => "#"}
        %i.fa.fa-leanpub
    %li
      %a{"data-icon" => "fa fa-lemon-o", :href => "#"}
        %i.fa.fa-lemon-o
    %li
      %a{"data-icon" => "fa fa-level-down", :href => "#"}
        %i.fa.fa-level-down
    %li
      %a{"data-icon" => "fa fa-level-up", :href => "#"}
        %i.fa.fa-level-up
    %li
      %a{"data-icon" => "fa fa-life-ring", :href => "#"}
        %i.fa.fa-life-ring
    %li
      %a{"data-icon" => "fa fa-lightbulb-o", :href => "#"}
        %i.fa.fa-lightbulb-o
    %li
      %a{"data-icon" => "fa fa-line-chart", :href => "#"}
        %i.fa.fa-line-chart
    %li
      %a{"data-icon" => "fa fa-link", :href => "#"}
        %i.fa.fa-link
    %li
      %a{"data-icon" => "fa fa-linkedin", :href => "#"}
        %i.fa.fa-linkedin
    %li
      %a{"data-icon" => "fa fa-linkedin-square", :href => "#"}
        %i.fa.fa-linkedin-square
    %li
      %a{"data-icon" => "fa fa-linux", :href => "#"}
        %i.fa.fa-linux
    %li
      %a{"data-icon" => "fa fa-list", :href => "#"}
        %i.fa.fa-list
    %li
      %a{"data-icon" => "fa fa-list-alt", :href => "#"}
        %i.fa.fa-list-alt
    %li
      %a{"data-icon" => "fa fa-list-ol", :href => "#"}
        %i.fa.fa-list-ol
    %li
      %a{"data-icon" => "fa fa-list-ul", :href => "#"}
        %i.fa.fa-list-ul
    %li
      %a{"data-icon" => "fa fa-location-arrow", :href => "#"}
        %i.fa.fa-location-arrow
    %li
      %a{"data-icon" => "fa fa-lock", :href => "#"}
        %i.fa.fa-lock
    %li
      %a{"data-icon" => "fa fa-long-arrow-down", :href => "#"}
        %i.fa.fa-long-arrow-down
    %li
      %a{"data-icon" => "fa fa-long-arrow-left", :href => "#"}
        %i.fa.fa-long-arrow-left
    %li
      %a{"data-icon" => "fa fa-long-arrow-right", :href => "#"}
        %i.fa.fa-long-arrow-right
    %li
      %a{"data-icon" => "fa fa-long-arrow-up", :href => "#"}
        %i.fa.fa-long-arrow-up
    %li
      %a{"data-icon" => "fa fa-magic", :href => "#"}
        %i.fa.fa-magic
    %li
      %a{"data-icon" => "fa fa-magnet", :href => "#"}
        %i.fa.fa-magnet
    %li
      %a{"data-icon" => "fa fa-male", :href => "#"}
        %i.fa.fa-male
    %li
      %a{"data-icon" => "fa fa-map", :href => "#"}
        %i.fa.fa-map
    %li
      %a{"data-icon" => "fa fa-map-marker", :href => "#"}
        %i.fa.fa-map-marker
    %li
      %a{"data-icon" => "fa fa-map-o", :href => "#"}
        %i.fa.fa-map-o
    %li
      %a{"data-icon" => "fa fa-map-pin", :href => "#"}
        %i.fa.fa-map-pin
    %li
      %a{"data-icon" => "fa fa-map-signs", :href => "#"}
        %i.fa.fa-map-signs
    %li
      %a{"data-icon" => "fa fa-mars", :href => "#"}
        %i.fa.fa-mars
    %li
      %a{"data-icon" => "fa fa-mars-double", :href => "#"}
        %i.fa.fa-mars-double
    %li
      %a{"data-icon" => "fa fa-mars-stroke", :href => "#"}
        %i.fa.fa-mars-stroke
    %li
      %a{"data-icon" => "fa fa-mars-stroke-h", :href => "#"}
        %i.fa.fa-mars-stroke-h
    %li
      %a{"data-icon" => "fa fa-mars-stroke-v", :href => "#"}
        %i.fa.fa-mars-stroke-v
    %li
      %a{"data-icon" => "fa fa-maxcdn", :href => "#"}
        %i.fa.fa-maxcdn
    %li
      %a{"data-icon" => "fa fa-meanpath", :href => "#"}
        %i.fa.fa-meanpath
    %li
      %a{"data-icon" => "fa fa-medium", :href => "#"}
        %i.fa.fa-medium
    %li
      %a{"data-icon" => "fa fa-medkit", :href => "#"}
        %i.fa.fa-medkit
    %li
      %a{"data-icon" => "fa fa-meh-o", :href => "#"}
        %i.fa.fa-meh-o
    %li
      %a{"data-icon" => "fa fa-mercury", :href => "#"}
        %i.fa.fa-mercury
    %li
      %a{"data-icon" => "fa fa-microphone", :href => "#"}
        %i.fa.fa-microphone
    %li
      %a{"data-icon" => "fa fa-microphone-slash", :href => "#"}
        %i.fa.fa-microphone-slash
    %li
      %a{"data-icon" => "fa fa-minus", :href => "#"}
        %i.fa.fa-minus
    %li
      %a{"data-icon" => "fa fa-minus-circle", :href => "#"}
        %i.fa.fa-minus-circle
    %li
      %a{"data-icon" => "fa fa-minus-square", :href => "#"}
        %i.fa.fa-minus-square
    %li
      %a{"data-icon" => "fa fa-minus-square-o", :href => "#"}
        %i.fa.fa-minus-square-o
    %li
      %a{"data-icon" => "fa fa-mobile", :href => "#"}
        %i.fa.fa-mobile
    %li
      %a{"data-icon" => "fa fa-money", :href => "#"}
        %i.fa.fa-money
    %li
      %a{"data-icon" => "fa fa-moon-o", :href => "#"}
        %i.fa.fa-moon-o
    %li
      %a{"data-icon" => "fa fa-motorcycle", :href => "#"}
        %i.fa.fa-motorcycle
    %li
      %a{"data-icon" => "fa fa-mouse-pointer", :href => "#"}
        %i.fa.fa-mouse-pointer
    %li
      %a{"data-icon" => "fa fa-music", :href => "#"}
        %i.fa.fa-music
    %li
      %a{"data-icon" => "fa fa-neuter", :href => "#"}
        %i.fa.fa-neuter
    %li
      %a{"data-icon" => "fa fa-newspaper-o", :href => "#"}
        %i.fa.fa-newspaper-o
    %li
      %a{"data-icon" => "fa fa-object-group", :href => "#"}
        %i.fa.fa-object-group
    %li
      %a{"data-icon" => "fa fa-object-ungroup", :href => "#"}
        %i.fa.fa-object-ungroup
    %li
      %a{"data-icon" => "fa fa-odnoklassniki", :href => "#"}
        %i.fa.fa-odnoklassniki
    %li
      %a{"data-icon" => "fa fa-odnoklassniki-square", :href => "#"}
        %i.fa.fa-odnoklassniki-square
    %li
      %a{"data-icon" => "fa fa-opencart", :href => "#"}
        %i.fa.fa-opencart
    %li
      %a{"data-icon" => "fa fa-openid", :href => "#"}
        %i.fa.fa-openid
    %li
      %a{"data-icon" => "fa fa-opera", :href => "#"}
        %i.fa.fa-opera
    %li
      %a{"data-icon" => "fa fa-optin-monster", :href => "#"}
        %i.fa.fa-optin-monster
    %li
      %a{"data-icon" => "fa fa-outdent", :href => "#"}
        %i.fa.fa-outdent
    %li
      %a{"data-icon" => "fa fa-pagelines", :href => "#"}
        %i.fa.fa-pagelines
    %li
      %a{"data-icon" => "fa fa-paint-brush", :href => "#"}
        %i.fa.fa-paint-brush
    %li
      %a{"data-icon" => "fa fa-paper-plane", :href => "#"}
        %i.fa.fa-paper-plane
    %li
      %a{"data-icon" => "fa fa-paper-plane-o", :href => "#"}
        %i.fa.fa-paper-plane-o
    %li
      %a{"data-icon" => "fa fa-paperclip", :href => "#"}
        %i.fa.fa-paperclip
    %li
      %a{"data-icon" => "fa fa-paragraph", :href => "#"}
        %i.fa.fa-paragraph
    %li
      %a{"data-icon" => "fa fa-pause", :href => "#"}
        %i.fa.fa-pause
    %li
      %a{"data-icon" => "fa fa-paw", :href => "#"}
        %i.fa.fa-paw
    %li
      %a{"data-icon" => "fa fa-paypal", :href => "#"}
        %i.fa.fa-paypal
    %li
      %a{"data-icon" => "fa fa-pencil", :href => "#"}
        %i.fa.fa-pencil
    %li
      %a{"data-icon" => "fa fa-pencil-square", :href => "#"}
        %i.fa.fa-pencil-square
    %li
      %a{"data-icon" => "fa fa-pencil-square-o", :href => "#"}
        %i.fa.fa-pencil-square-o
    %li
      %a{"data-icon" => "fa fa-phone", :href => "#"}
        %i.fa.fa-phone
    %li
      %a{"data-icon" => "fa fa-phone-square", :href => "#"}
        %i.fa.fa-phone-square
    %li
      %a{"data-icon" => "fa fa-picture-o", :href => "#"}
        %i.fa.fa-picture-o
    %li
      %a{"data-icon" => "fa fa-pie-chart", :href => "#"}
        %i.fa.fa-pie-chart
    %li
      %a{"data-icon" => "fa fa-pied-piper", :href => "#"}
        %i.fa.fa-pied-piper
    %li
      %a{"data-icon" => "fa fa-pied-piper-alt", :href => "#"}
        %i.fa.fa-pied-piper-alt
    %li
      %a{"data-icon" => "fa fa-pinterest", :href => "#"}
        %i.fa.fa-pinterest
    %li
      %a{"data-icon" => "fa fa-pinterest-p", :href => "#"}
        %i.fa.fa-pinterest-p
    %li
      %a{"data-icon" => "fa fa-pinterest-square", :href => "#"}
        %i.fa.fa-pinterest-square
    %li
      %a{"data-icon" => "fa fa-plane", :href => "#"}
        %i.fa.fa-plane
    %li
      %a{"data-icon" => "fa fa-play", :href => "#"}
        %i.fa.fa-play
    %li
      %a{"data-icon" => "fa fa-play-circle", :href => "#"}
        %i.fa.fa-play-circle
    %li
      %a{"data-icon" => "fa fa-play-circle-o", :href => "#"}
        %i.fa.fa-play-circle-o
    %li
      %a{"data-icon" => "fa fa-plug", :href => "#"}
        %i.fa.fa-plug
    %li
      %a{"data-icon" => "fa fa-plus", :href => "#"}
        %i.fa.fa-plus
    %li
      %a{"data-icon" => "fa fa-plus-circle", :href => "#"}
        %i.fa.fa-plus-circle
    %li
      %a{"data-icon" => "fa fa-plus-square", :href => "#"}
        %i.fa.fa-plus-square
    %li
      %a{"data-icon" => "fa fa-plus-square-o", :href => "#"}
        %i.fa.fa-plus-square-o
    %li
      %a{"data-icon" => "fa fa-power-off", :href => "#"}
        %i.fa.fa-power-off
    %li
      %a{"data-icon" => "fa fa-print", :href => "#"}
        %i.fa.fa-print
    %li
      %a{"data-icon" => "fa fa-puzzle-piece", :href => "#"}
        %i.fa.fa-puzzle-piece
    %li
      %a{"data-icon" => "fa fa-qq", :href => "#"}
        %i.fa.fa-qq
    %li
      %a{"data-icon" => "fa fa-qrcode", :href => "#"}
        %i.fa.fa-qrcode
    %li
      %a{"data-icon" => "fa fa-question", :href => "#"}
        %i.fa.fa-question
    %li
      %a{"data-icon" => "fa fa-question-circle", :href => "#"}
        %i.fa.fa-question-circle
    %li
      %a{"data-icon" => "fa fa-quote-left", :href => "#"}
        %i.fa.fa-quote-left
    %li
      %a{"data-icon" => "fa fa-quote-right", :href => "#"}
        %i.fa.fa-quote-right
    %li
      %a{"data-icon" => "fa fa-random", :href => "#"}
        %i.fa.fa-random
    %li
      %a{"data-icon" => "fa fa-rebel", :href => "#"}
        %i.fa.fa-rebel
    %li
      %a{"data-icon" => "fa fa-recycle", :href => "#"}
        %i.fa.fa-recycle
    %li
      %a{"data-icon" => "fa fa-reddit", :href => "#"}
        %i.fa.fa-reddit
    %li
      %a{"data-icon" => "fa fa-reddit-square", :href => "#"}
        %i.fa.fa-reddit-square
    %li
      %a{"data-icon" => "fa fa-refresh", :href => "#"}
        %i.fa.fa-refresh
    %li
      %a{"data-icon" => "fa fa-registered", :href => "#"}
        %i.fa.fa-registered
    %li
      %a{"data-icon" => "fa fa-renren", :href => "#"}
        %i.fa.fa-renren
    %li
      %a{"data-icon" => "fa fa-repeat", :href => "#"}
        %i.fa.fa-repeat
    %li
      %a{"data-icon" => "fa fa-reply", :href => "#"}
        %i.fa.fa-reply
    %li
      %a{"data-icon" => "fa fa-reply-all", :href => "#"}
        %i.fa.fa-reply-all
    %li
      %a{"data-icon" => "fa fa-retweet", :href => "#"}
        %i.fa.fa-retweet
    %li
      %a{"data-icon" => "fa fa-road", :href => "#"}
        %i.fa.fa-road
    %li
      %a{"data-icon" => "fa fa-rocket", :href => "#"}
        %i.fa.fa-rocket
    %li
      %a{"data-icon" => "fa fa-rss", :href => "#"}
        %i.fa.fa-rss
    %li
      %a{"data-icon" => "fa fa-rss-square", :href => "#"}
        %i.fa.fa-rss-square
    %li
      %a{"data-icon" => "fa fa-rub", :href => "#"}
        %i.fa.fa-rub
    %li
      %a{"data-icon" => "fa fa-safari", :href => "#"}
        %i.fa.fa-safari
    %li
      %a{"data-icon" => "fa fa-scissors", :href => "#"}
        %i.fa.fa-scissors
    %li
      %a{"data-icon" => "fa fa-search", :href => "#"}
        %i.fa.fa-search
    %li
      %a{"data-icon" => "fa fa-search-minus", :href => "#"}
        %i.fa.fa-search-minus
    %li
      %a{"data-icon" => "fa fa-search-plus", :href => "#"}
        %i.fa.fa-search-plus
    %li
      %a{"data-icon" => "fa fa-sellsy", :href => "#"}
        %i.fa.fa-sellsy
    %li
      %a{"data-icon" => "fa fa-server", :href => "#"}
        %i.fa.fa-server
    %li
      %a{"data-icon" => "fa fa-share", :href => "#"}
        %i.fa.fa-share
    %li
      %a{"data-icon" => "fa fa-share-alt", :href => "#"}
        %i.fa.fa-share-alt
    %li
      %a{"data-icon" => "fa fa-share-alt-square", :href => "#"}
        %i.fa.fa-share-alt-square
    %li
      %a{"data-icon" => "fa fa-share-square", :href => "#"}
        %i.fa.fa-share-square
    %li
      %a{"data-icon" => "fa fa-share-square-o", :href => "#"}
        %i.fa.fa-share-square-o
    %li
      %a{"data-icon" => "fa fa-shield", :href => "#"}
        %i.fa.fa-shield
    %li
      %a{"data-icon" => "fa fa-ship", :href => "#"}
        %i.fa.fa-ship
    %li
      %a{"data-icon" => "fa fa-shirtsinbulk", :href => "#"}
        %i.fa.fa-shirtsinbulk
    %li
      %a{"data-icon" => "fa fa-shopping-cart", :href => "#"}
        %i.fa.fa-shopping-cart
    %li
      %a{"data-icon" => "fa fa-sign-in", :href => "#"}
        %i.fa.fa-sign-in
    %li
      %a{"data-icon" => "fa fa-sign-out", :href => "#"}
        %i.fa.fa-sign-out
    %li
      %a{"data-icon" => "fa fa-signal", :href => "#"}
        %i.fa.fa-signal
    %li
      %a{"data-icon" => "fa fa-simplybuilt", :href => "#"}
        %i.fa.fa-simplybuilt
    %li
      %a{"data-icon" => "fa fa-sitemap", :href => "#"}
        %i.fa.fa-sitemap
    %li
      %a{"data-icon" => "fa fa-skyatlas", :href => "#"}
        %i.fa.fa-skyatlas
    %li
      %a{"data-icon" => "fa fa-skype", :href => "#"}
        %i.fa.fa-skype
    %li
      %a{"data-icon" => "fa fa-slack", :href => "#"}
        %i.fa.fa-slack
    %li
      %a{"data-icon" => "fa fa-sliders", :href => "#"}
        %i.fa.fa-sliders
    %li
      %a{"data-icon" => "fa fa-slideshare", :href => "#"}
        %i.fa.fa-slideshare
    %li
      %a{"data-icon" => "fa fa-smile-o", :href => "#"}
        %i.fa.fa-smile-o
    %li
      %a{"data-icon" => "fa fa-sort", :href => "#"}
        %i.fa.fa-sort
    %li
      %a{"data-icon" => "fa fa-sort-alpha-asc", :href => "#"}
        %i.fa.fa-sort-alpha-asc
    %li
      %a{"data-icon" => "fa fa-sort-alpha-desc", :href => "#"}
        %i.fa.fa-sort-alpha-desc
    %li
      %a{"data-icon" => "fa fa-sort-amount-asc", :href => "#"}
        %i.fa.fa-sort-amount-asc
    %li
      %a{"data-icon" => "fa fa-sort-amount-desc", :href => "#"}
        %i.fa.fa-sort-amount-desc
    %li
      %a{"data-icon" => "fa fa-sort-asc", :href => "#"}
        %i.fa.fa-sort-asc
    %li
      %a{"data-icon" => "fa fa-sort-desc", :href => "#"}
        %i.fa.fa-sort-desc
    %li
      %a{"data-icon" => "fa fa-sort-numeric-asc", :href => "#"}
        %i.fa.fa-sort-numeric-asc
    %li
      %a{"data-icon" => "fa fa-sort-numeric-desc", :href => "#"}
        %i.fa.fa-sort-numeric-desc
    %li
      %a{"data-icon" => "fa fa-soundcloud", :href => "#"}
        %i.fa.fa-soundcloud
    %li
      %a{"data-icon" => "fa fa-space-shuttle", :href => "#"}
        %i.fa.fa-space-shuttle
    %li
      %a{"data-icon" => "fa fa-spinner", :href => "#"}
        %i.fa.fa-spinner
    %li
      %a{"data-icon" => "fa fa-spoon", :href => "#"}
        %i.fa.fa-spoon
    %li
      %a{"data-icon" => "fa fa-spotify", :href => "#"}
        %i.fa.fa-spotify
    %li
      %a{"data-icon" => "fa fa-square", :href => "#"}
        %i.fa.fa-square
    %li
      %a{"data-icon" => "fa fa-square-o", :href => "#"}
        %i.fa.fa-square-o
    %li
      %a{"data-icon" => "fa fa-stack-exchange", :href => "#"}
        %i.fa.fa-stack-exchange
    %li
      %a{"data-icon" => "fa fa-stack-overflow", :href => "#"}
        %i.fa.fa-stack-overflow
    %li
      %a{"data-icon" => "fa fa-star", :href => "#"}
        %i.fa.fa-star
    %li
      %a{"data-icon" => "fa fa-star-half", :href => "#"}
        %i.fa.fa-star-half
    %li
      %a{"data-icon" => "fa fa-star-half-o", :href => "#"}
        %i.fa.fa-star-half-o
    %li
      %a{"data-icon" => "fa fa-star-o", :href => "#"}
        %i.fa.fa-star-o
    %li
      %a{"data-icon" => "fa fa-steam", :href => "#"}
        %i.fa.fa-steam
    %li
      %a{"data-icon" => "fa fa-steam-square", :href => "#"}
        %i.fa.fa-steam-square
    %li
      %a{"data-icon" => "fa fa-step-backward", :href => "#"}
        %i.fa.fa-step-backward
    %li
      %a{"data-icon" => "fa fa-step-forward", :href => "#"}
        %i.fa.fa-step-forward
    %li
      %a{"data-icon" => "fa fa-stethoscope", :href => "#"}
        %i.fa.fa-stethoscope
    %li
      %a{"data-icon" => "fa fa-sticky-note", :href => "#"}
        %i.fa.fa-sticky-note
    %li
      %a{"data-icon" => "fa fa-sticky-note-o", :href => "#"}
        %i.fa.fa-sticky-note-o
    %li
      %a{"data-icon" => "fa fa-stop", :href => "#"}
        %i.fa.fa-stop
    %li
      %a{"data-icon" => "fa fa-street-view", :href => "#"}
        %i.fa.fa-street-view
    %li
      %a{"data-icon" => "fa fa-strikethrough", :href => "#"}
        %i.fa.fa-strikethrough
    %li
      %a{"data-icon" => "fa fa-stumbleupon", :href => "#"}
        %i.fa.fa-stumbleupon
    %li
      %a{"data-icon" => "fa fa-stumbleupon-circle", :href => "#"}
        %i.fa.fa-stumbleupon-circle
    %li
      %a{"data-icon" => "fa fa-subscript", :href => "#"}
        %i.fa.fa-subscript
    %li
      %a{"data-icon" => "fa fa-subway", :href => "#"}
        %i.fa.fa-subway
    %li
      %a{"data-icon" => "fa fa-suitcase", :href => "#"}
        %i.fa.fa-suitcase
    %li
      %a{"data-icon" => "fa fa-sun-o", :href => "#"}
        %i.fa.fa-sun-o
    %li
      %a{"data-icon" => "fa fa-superscript", :href => "#"}
        %i.fa.fa-superscript
    %li
      %a{"data-icon" => "fa fa-table", :href => "#"}
        %i.fa.fa-table
    %li
      %a{"data-icon" => "fa fa-tablet", :href => "#"}
        %i.fa.fa-tablet
    %li
      %a{"data-icon" => "fa fa-tachometer", :href => "#"}
        %i.fa.fa-tachometer
    %li
      %a{"data-icon" => "fa fa-tag", :href => "#"}
        %i.fa.fa-tag
    %li
      %a{"data-icon" => "fa fa-tags", :href => "#"}
        %i.fa.fa-tags
    %li
      %a{"data-icon" => "fa fa-tasks", :href => "#"}
        %i.fa.fa-tasks
    %li
      %a{"data-icon" => "fa fa-taxi", :href => "#"}
        %i.fa.fa-taxi
    %li
      %a{"data-icon" => "fa fa-television", :href => "#"}
        %i.fa.fa-television
    %li
      %a{"data-icon" => "fa fa-tencent-weibo", :href => "#"}
        %i.fa.fa-tencent-weibo
    %li
      %a{"data-icon" => "fa fa-terminal", :href => "#"}
        %i.fa.fa-terminal
    %li
      %a{"data-icon" => "fa fa-text-height", :href => "#"}
        %i.fa.fa-text-height
    %li
      %a{"data-icon" => "fa fa-text-width", :href => "#"}
        %i.fa.fa-text-width
    %li
      %a{"data-icon" => "fa fa-th", :href => "#"}
        %i.fa.fa-th
    %li
      %a{"data-icon" => "fa fa-th-large", :href => "#"}
        %i.fa.fa-th-large
    %li
      %a{"data-icon" => "fa fa-th-list", :href => "#"}
        %i.fa.fa-th-list
    %li
      %a{"data-icon" => "fa fa-thumb-tack", :href => "#"}
        %i.fa.fa-thumb-tack
    %li
      %a{"data-icon" => "fa fa-thumbs-down", :href => "#"}
        %i.fa.fa-thumbs-down
    %li
      %a{"data-icon" => "fa fa-thumbs-o-down", :href => "#"}
        %i.fa.fa-thumbs-o-down
    %li
      %a{"data-icon" => "fa fa-thumbs-o-up", :href => "#"}
        %i.fa.fa-thumbs-o-up
    %li
      %a{"data-icon" => "fa fa-thumbs-up", :href => "#"}
        %i.fa.fa-thumbs-up
    %li
      %a{"data-icon" => "fa fa-ticket", :href => "#"}
        %i.fa.fa-ticket
    %li
      %a{"data-icon" => "fa fa-times", :href => "#"}
        %i.fa.fa-times
    %li
      %a{"data-icon" => "fa fa-times-circle", :href => "#"}
        %i.fa.fa-times-circle
    %li
      %a{"data-icon" => "fa fa-times-circle-o", :href => "#"}
        %i.fa.fa-times-circle-o
    %li
      %a{"data-icon" => "fa fa-tint", :href => "#"}
        %i.fa.fa-tint
    %li
      %a{"data-icon" => "fa fa-toggle-off", :href => "#"}
        %i.fa.fa-toggle-off
    %li
      %a{"data-icon" => "fa fa-toggle-on", :href => "#"}
        %i.fa.fa-toggle-on
    %li
      %a{"data-icon" => "fa fa-trademark", :href => "#"}
        %i.fa.fa-trademark
    %li
      %a{"data-icon" => "fa fa-train", :href => "#"}
        %i.fa.fa-train
    %li
      %a{"data-icon" => "fa fa-transgender", :href => "#"}
        %i.fa.fa-transgender
    %li
      %a{"data-icon" => "fa fa-transgender-alt", :href => "#"}
        %i.fa.fa-transgender-alt
    %li
      %a{"data-icon" => "fa fa-trash", :href => "#"}
        %i.fa.fa-trash
    %li
      %a{"data-icon" => "fa fa-trash-o", :href => "#"}
        %i.fa.fa-trash-o
    %li
      %a{"data-icon" => "fa fa-tree", :href => "#"}
        %i.fa.fa-tree
    %li
      %a{"data-icon" => "fa fa-trello", :href => "#"}
        %i.fa.fa-trello
    %li
      %a{"data-icon" => "fa fa-tripadvisor", :href => "#"}
        %i.fa.fa-tripadvisor
    %li
      %a{"data-icon" => "fa fa-trophy", :href => "#"}
        %i.fa.fa-trophy
    %li
      %a{"data-icon" => "fa fa-truck", :href => "#"}
        %i.fa.fa-truck
    %li
      %a{"data-icon" => "fa fa-try", :href => "#"}
        %i.fa.fa-try
    %li
      %a{"data-icon" => "fa fa-tty", :href => "#"}
        %i.fa.fa-tty
    %li
      %a{"data-icon" => "fa fa-tumblr", :href => "#"}
        %i.fa.fa-tumblr
    %li
      %a{"data-icon" => "fa fa-tumblr-square", :href => "#"}
        %i.fa.fa-tumblr-square
    %li
      %a{"data-icon" => "fa fa-twitch", :href => "#"}
        %i.fa.fa-twitch
    %li
      %a{"data-icon" => "fa fa-twitter", :href => "#"}
        %i.fa.fa-twitter
    %li
      %a{"data-icon" => "fa fa-twitter-square", :href => "#"}
        %i.fa.fa-twitter-square
    %li
      %a{"data-icon" => "fa fa-umbrella", :href => "#"}
        %i.fa.fa-umbrella
    %li
      %a{"data-icon" => "fa fa-underline", :href => "#"}
        %i.fa.fa-underline
    %li
      %a{"data-icon" => "fa fa-undo", :href => "#"}
        %i.fa.fa-undo
    %li
      %a{"data-icon" => "fa fa-university", :href => "#"}
        %i.fa.fa-university
    %li
      %a{"data-icon" => "fa fa-unlock", :href => "#"}
        %i.fa.fa-unlock
    %li
      %a{"data-icon" => "fa fa-unlock-alt", :href => "#"}
        %i.fa.fa-unlock-alt
    %li
      %a{"data-icon" => "fa fa-upload", :href => "#"}
        %i.fa.fa-upload
    %li
      %a{"data-icon" => "fa fa-usd", :href => "#"}
        %i.fa.fa-usd
    %li
      %a{"data-icon" => "fa fa-user", :href => "#"}
        %i.fa.fa-user
    %li
      %a{"data-icon" => "fa fa-user-md", :href => "#"}
        %i.fa.fa-user-md
    %li
      %a{"data-icon" => "fa fa-user-plus", :href => "#"}
        %i.fa.fa-user-plus
    %li
      %a{"data-icon" => "fa fa-user-secret", :href => "#"}
        %i.fa.fa-user-secret
    %li
      %a{"data-icon" => "fa fa-user-times", :href => "#"}
        %i.fa.fa-user-times
    %li
      %a{"data-icon" => "fa fa-users", :href => "#"}
        %i.fa.fa-users
    %li
      %a{"data-icon" => "fa fa-venus", :href => "#"}
        %i.fa.fa-venus
    %li
      %a{"data-icon" => "fa fa-venus-double", :href => "#"}
        %i.fa.fa-venus-double
    %li
      %a{"data-icon" => "fa fa-venus-mars", :href => "#"}
        %i.fa.fa-venus-mars
    %li
      %a{"data-icon" => "fa fa-viacoin", :href => "#"}
        %i.fa.fa-viacoin
    %li
      %a{"data-icon" => "fa fa-video-camera", :href => "#"}
        %i.fa.fa-video-camera
    %li
      %a{"data-icon" => "fa fa-vimeo", :href => "#"}
        %i.fa.fa-vimeo
    %li
      %a{"data-icon" => "fa fa-vimeo-square", :href => "#"}
        %i.fa.fa-vimeo-square
    %li
      %a{"data-icon" => "fa fa-vine", :href => "#"}
        %i.fa.fa-vine
    %li
      %a{"data-icon" => "fa fa-vk", :href => "#"}
        %i.fa.fa-vk
    %li
      %a{"data-icon" => "fa fa-volume-down", :href => "#"}
        %i.fa.fa-volume-down
    %li
      %a{"data-icon" => "fa fa-volume-off", :href => "#"}
        %i.fa.fa-volume-off
    %li
      %a{"data-icon" => "fa fa-volume-up", :href => "#"}
        %i.fa.fa-volume-up
    %li
      %a{"data-icon" => "fa fa-weibo", :href => "#"}
        %i.fa.fa-weibo
    %li
      %a{"data-icon" => "fa fa-weixin", :href => "#"}
        %i.fa.fa-weixin
    %li
      %a{"data-icon" => "fa fa-whatsapp", :href => "#"}
        %i.fa.fa-whatsapp
    %li
      %a{"data-icon" => "fa fa-wheelchair", :href => "#"}
        %i.fa.fa-wheelchair
    %li
      %a{"data-icon" => "fa fa-wifi", :href => "#"}
        %i.fa.fa-wifi
    %li
      %a{"data-icon" => "fa fa-wikipedia-w", :href => "#"}
        %i.fa.fa-wikipedia-w
    %li
      %a{"data-icon" => "fa fa-windows", :href => "#"}
        %i.fa.fa-windows
    %li
      %a{"data-icon" => "fa fa-wordpress", :href => "#"}
        %i.fa.fa-wordpress
    %li
      %a{"data-icon" => "fa fa-wrench", :href => "#"}
        %i.fa.fa-wrench
    %li
      %a{"data-icon" => "fa fa-xing", :href => "#"}
        %i.fa.fa-xing
    %li
      %a{"data-icon" => "fa fa-xing-square", :href => "#"}
        %i.fa.fa-xing-square
    %li
      %a{"data-icon" => "fa fa-y-combinator", :href => "#"}
        %i.fa.fa-y-combinator
    %li
      %a{"data-icon" => "fa fa-yahoo", :href => "#"}
        %i.fa.fa-yahoo
    %li
      %a{"data-icon" => "fa fa-yelp", :href => "#"}
        %i.fa.fa-yelp
    %li
      %a{"data-icon" => "fa fa-youtube", :href => "#"}
        %i.fa.fa-youtube
    %li
      %a{"data-icon" => "fa fa-youtube-play", :href => "#"}
        %i.fa.fa-youtube-play
    %li
      %a{"data-icon" => "fa fa-youtube-square", :href => "#"}
        %i.fa.fa-youtube-square
