.page-header
  %h3
    Add Faq
    %small.pull-right
      %a.btn.btn-sm.btn-reset-sm.btn-warning.btn-reset-m-0{href: super_admin_faqs_path } Back
.agency-form
  = form_for @faq, url: super_admin_faqs_path, method: :post do |f|
    = render 'form', f: f
