%ul.stages
  - if steps.include?('plan')
    %li.completed
      .stage-data
        .stages-number
          %i.material-icons check
        .stages-title Plan
  - if steps.include?('client')
    %li.completed
      .stage-data
        .stages-number
          %i.material-icons check
        .stages-title Client
  - if steps.include?('agreement')
    %li.completed
      .stage-data
        .stages-number
          %i.material-icons check
        .stages-title Agreement
  - if steps.include?('payment')
    %li.current
      .stage-data
        .stages-number
          %i.material-icons check
        .stages-title Payment
  - if steps.include?('success')
    %li
      .stage-data
        .stages-number
          %i.material-icons check
        .stages-title Complete
  - if steps.include?('kick_off')
    %li
      .stage-data
        .stages-number
          %i.material-icons check
        .stages-title Kick-Off
  - if steps.include?('questionnaire')
    %li
      .stage-data
        .stages-number
          %i.material-icons check
        .stages-title Questionnaire
.checkout-stages--content.mt-xxl
  .panel.panel-default.p-xxl.p-lg--sm
    .panel-body.pl-n.pr-n
      .add_card_form
        .panel-heading
          %h2 Payment method
        .panel-body
          .card_list
            %md-input-container
              .form-group.m-n
                %label.md-no-float.md-container-ignore Cards
                = select_tag "selected_card", options_for_select(card_collection(@cards), @default_card), class: 'form-control'
          #add_card_form
            - if @cards.blank?
              = render 'agency/package_subscriptions/shared/new_card'
          %p.order-summary-bnf
            %i.material-icons.secuicon> lock
            Secure Checkout
  .text-center
    %form#submit_payment_form{action: '#'}
      %input.btn.btn-lg.m-n.btn-warning.btn-raised.step_complete.payment-next-btn{type: 'submit', value: 'Pay Now', data: {disable_with: "Processing...", next_step: next_step, current_step: 'payment'}}

:javascript
  $( "#submit_payment_form" ).submit(function( event ) {
    event.preventDefault();
  });
