- content_for :title do
  Forgot Password | #{app_name}

.col-md-10.col-sm-12.col-xs-12.col-md-offset-1.col-sm-offset-0.col-xs-offset-0
  .col-md-offset-3.col-sm-offset-3.col-md-6.col-sm-6.p-lg
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post }) do |f|
      .form-group
        %i.glyphicon.glyphicon-user
        = f.email_field :email, class: 'form-control login', autofocus: true, placeholder: 'Enter your email'
      %button.btn.btn-warning{type: 'submit'} Send Reset Instructions
      %a.forgot.pull-right.inline{href: new_user_session_path} Log In
