
%label{for: 'agency_credit_balance'} Monthly Data Credits
= f.number_field :credit_balance, class: 'input-wrapper-input login'
-#.w-md-50.pb-4.px-3.mb-2
-#  .input-wrapper
-#    %label{for: 'agency_download_limit'} Download Limit
-#    = f.number_field :download_limit, class: 'input-wrapper-input login'