.pb-md.page-heading.no-margin-bottom.competitors-list
  - if @sites.present?
    %h1
      Please choose the site you wish to connect with :
  - else
    %h1
      Sorry ! We can't find any Google Search Console details.
    .options
      %a.btn.btn-white.btn-raised{href: "/b/dashboard"}
        %i.fa.fa-arrow-left.pr-xs
        Back
- if @sites.present?
  .container-fluid
    %div
      .row
        .col-md-12
          .tab-container
            .tab-content
              .table-responsive
                = form_tag tokens_store_search_console_info_path, method: 'post' do
                  %table.table.table-bordered.table-vam.table-hover.mb-n
                    %tbody
                      = hidden_field_tag :authenticity_token, form_authenticity_token
                      - @sites.each_slice(3).with_index do |items, index_i|
                        %tr
                          - items.each_with_index do |item, index_j|
                            %td
                              .radio-button
                                %label
                                  = radio_button_tag 'website_url', item['siteUrl'], (index_i.zero? && index_j.zero?)
                                  %span.checkbox-button
                            %td.text-left
                              %a{ href: item['siteUrl'], target: '_blank'}
                                = item['siteUrl']
                  %button.btn.btn-info.btn-raised.btn-md.pull-right{type: 'submit'} Submit
