.header
  %button.btn.btn-warning.pull-right
    %i.glyphicon.glyphicon-plus
    Add a New Location
  %h1 Listings
/ /header
.locations
  .address
    %h3
      %i.glyphicon.glyphicon-map-marker.blue
      %span.name Phil’s Company
    %p 8531 Almond Street, Chicago IL, 60000
    %p 888-888-8888
    %a.blue{:href => "#"} http://www.philscompany.com/about/locations/chicago
  .address
    %h3
      %i.glyphicon.glyphicon-map-marker.red
      %span.name Phil’s Company
    %p 9843 Strawberry Street, Denver CO, 90000
    %p 888-888-8888
    %a.red{:href => "#"} http://www.philscompany.com/about/locations/denver
/ /locations
.add-new-locations
  %i.glyphicon.glyphicon-map-marker
  %span.button Add a New Location
