Hi "#{@agency.name}" Data Request is failed and its external_requests_id is: #{@outscrapper_request.external_requests_id} under List: #{@lead_source.name} and created by: #{@outscrapper_request&.user&.name}
