<div class="modal fade" id="video-intro-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog clx-modal spl-modal modal-darkstone-blue-bg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" ng-click="closeModal()">
          <span>&times;</span>
        </a>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <div class="show-loading text-center">
            <h3>Please wait!.. Introduction video will show soon</h3>
            <h5>Watch video and learn how Clickx enhance your Business</h5>
            <p class="text-center">
              <span class="fa fa-spin fa-spinner"></span>
            </p>
          </div>
          <iframe src="https://fast.wistia.net/embed/iframe/d653enu7lo?plugin%5Bsocialbar-v1%5D%5Bon%5D=false"
                  allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed"
                  allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen
                  width="650" height="366"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
