.page-header
  %h3
    Edit Plug And Play Ad
    %small.pull-right
      %a.btn.btn-sm.btn-reset-sm.btn-warning.btn-reset-m-0{href: super_admin_plug_and_play_ads_path } Back
.agency-form
  = form_for @plug_and_play_ad, url: super_admin_plug_and_play_ad_path, method: :put do |f|
    = render 'form', f: f




