%ul.nav.nav-tabs.material-nav-tabs.mb-lg
  %li{ class: active_tab.eql?('queries') ? 'active' : ''}
    %a{'href' => "/b/search_console"} Top Queries
  %li{ role: "presentation", class: active_tab.eql?('pages') ? 'active' : ''}
    %a{'href' => "/b/search_console/top_pages"} Top Pages
  %li{ role: "presentation", class: active_tab.eql?('sitemaps') ? 'active' : ''}
    %a{'href' => "/b/search_console/sitemaps"} Sitemaps