%button.btn.btn-default.btn-raised.l-s-2.f-s-xxs{:type => "button"} LAST 30 DAYS
%button.btn.btn-default.btn-raised.l-s-2.f-s-xxs{:type => "button"} ONE YEAR
%button.btn.btn-default.btn-raised.l-s-2.f-s-xxs{:type => "button"} ALL TIME