.panel.panel-default.m-n#google-search-console{ 'ng-if': 'marketing_performance_loaded && googleSearchConsoleStatus' }
  .panel-heading.cursor-move
    %h2
      %a.l-grey{href: "#/{{current_business}}/search_console/queries"}
        Google Search Console
        %i.fa.fa-info-circle.tooltip-text-icon{ 'title': 'Graph denoting the keyword ranking position, impressions on your site, clicks and CTR.' }
    #onboarding-google-search-console.on-boarding
    .panel-ctrls
      %button.Dbutton.btn.button-icon.pull-left.mt-sm{ 'ng-click': 'pdf_export("google-search-console")', 'title': 'Download report', 'ng-class': "{'disable-button': export_disabled}" }
        %span.material-icons.inverted file_download
      %button.btn.button-icon.mt-sm.refresh-panel{ 'ng-click': 'init_google_search_console_page()', 'title': 'Refresh report' }
        %span.material-icons.inverted refresh
  .panel-body.no-padding.scroll-pane{style: 'height: 420px;'}
    .scroll-content.p-n
      .col-sm-12.p-n
        .panel-body.pt-sm
          %md-tabs{'md-border-bottom':'', 'md-dynamic-height':''}
            %md-tab.active{label: 'Position', index:'0', 'md-on-select':"resizeChart('position_chart');"}
              %md-content.mt
                %draw-chart#position_chart{ 'on-click-chart': '', 'on-load-chart': '', 'config': 'console_data[0]' }
            %md-tab{label: 'Impressions', index:'1', 'md-on-select':"resizeChart('impression_chart');"}
              %md-content.mt
                %draw-chart#impression_chart{ 'on-click-chart': '', 'config': 'console_data[1]' }
            %md-tab{label: 'Clicks', index:'2', 'md-on-select':"resizeChart('clicks_chart');"}
              %md-content.mt
                %draw-chart#clicks_chart{ 'on-click-chart': '', 'config': 'console_data[2]' }
            %md-tab{label: 'CTR', index:'3', 'md-on-select':"resizeChart('ctr_chart');"}
              %md-content.mt
                %draw-chart#ctr_chart{ 'on-click-chart': '', 'config': 'console_data[3]' }
        .panel-footer.width100.p-sm{ 'ng-click': 'goTo("/search_console/queries")' }
          .col-lg-3.col-md-6.col-sm-6.col-xs-6.bdr-line.p-sm.text-center.bdr-b-blue.btn-pointer
            %h4.mt-n.mb-n.pt-xs
              %small.mt-n.mb-sm> Total Clicks
              {{ clicks | toLocaleString }}
          .col-lg-3.col-md-6.col-sm-6.col-xs-6.bdr-line.p-sm.text-center.bdr-b-red.btn-pointer
            %h4.mt-n.mb-n.pt-xs
              %small.mt-n.mb-sm> Total Impressions
              {{ impressions | toLocaleString }}
          .col-lg-3.col-md-6.col-sm-6.col-xs-6.bdr-line.p-sm.text-center.bdr-b-yellow.btn-pointer
            %h4.mt-n.mb-n.pt-xs
              %small.mt-n.mb-sm> Avg. CTR
              {{ ctr | toLocaleString }}
          .col-lg-3.col-md-6.col-sm-6.col-xs-6.bdr-line.p-sm.text-center.bdr-b-green.btn-pointer
            %h4.mt-n.mb-n.pt-xs
              %small.mt-n.mb-sm> AVG. Position
              {{ position | toLocaleString }}
