#newAdminCalendlyScriptModal.modal.fade{role: "dialog", tabindex: '-1', data: {backdrop: 'false'}}
  .modal-dialog.clx-modal.spl-modal.modal-darkstone-blue-bg{role: 'document'}
    = form_tag create_admin_calendly_script_super_admin_agency_signup_links_path, method: :post, remote: true do
      .modal-content
        .modal-header
          Calendly Script
          %a.close.pl-md{'data-dismiss': 'modal'}
            %span ×
        .modal-body
          .row
            .col-md-10
              .d-flex.align-items-center
                %p{style: 'width:130px;'} Admin
                = select_tag 'admin', options_for_select(admins_without_calendly_script), include_blank: 'Select Admin', class: 'form-control'
              .spacer10
              .d-flex.align-items-center
                %p{style: 'width:130px;'} Calendly Script
                = text_area_tag 'admin_calendly_script', nil, class: 'form-control', rows: 5
        .modal-footer
          = submit_tag 'Save', class: 'btn btn-primary btn-raised submit'
