%h2
  - if @unsubscribed
    You've already unsubscribed from our e-mail list. We’re sad to see you go, but we respect your choice!
  - else
    You have successfully unsubscribed from our e-mail list. We’re sad to see you go, but we respect your choice!
