/ START OF CONTENT BLOCK
%table{align: "center", bgcolor: "#F4F4F4", border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
  %tr
    %td{style: "height:50px"}
%table{align: "center", bgcolor: "#F4F4F4", border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
  %tr
    %td.sm-p-15{style: "padding:0 50px", valign: "top"}
      / Title
      %table{align: "center", bgcolor: "#fff", border: "0", cellpadding: "0", cellspacing: "0", style: "border-radius:15px 15px 0 0; background:#fff", width: "100%"}
        %tr
          %td{style: "padding: 0 30px"}
            %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
              %tr
                %td{height: "40", width: "100%"}
              %tr
                %td{style: "text-align: left;", width: "100%"}
                  %h2{style: "font-size:24px; font-weight:500; margin:0; color:#F8B018"} Welcome Back!
              %tr
                %td{height: "20", width: "100%"}
%table{align: "center", bgcolor: "#F4F4F4", border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
  %tr
    %td.sm-p-15{style: "padding:0 50px", valign: "top"}
      / Title
      %table{align: "center", bgcolor: "#fff", border: "0", cellpadding: "0", cellspacing: "0", style: "background:#fff; border-radius:0 0 15px 15px", width: "100%"}
        %tr
          %td{style: "padding: 0 30px"}
            %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
              %tr
                %td{style: "text-align: left; padding-bottom:15px;", width: "100%"}
                  %p{style: "font-size: 14px; font-weight: 300; color:#777777; line-height:1.5em;"}
                    Hi #{@user.first_name},
                    %br/
                    You've been approved to create your profile on the Clickx Fulfillment Network!
              %tr
                %td{style: "text-align: left; padding-bottom:20px;", width: "100%"}
                  %p{style: "font-size: 15px; font-weight: 300; color:#777777; line-height:1.2em;"} Now you can log in to complete your profile such as
                  %p -   Add your Picture, Cover Photo, Headline, Skills, etc.
              %tr
                %td{style: "text-align: left; padding-bottom:30px;", width: "100%"}
                  %p{style: "font-size: 15px; font-weight: 300; color:#777777; line-height:1.2em;"} Remember to upload your most recent resume as well as case studies.
              %tr
                %td{style: "text-align: left; padding-bottom:30px;", width: "100%"}
                  %p{style: "font-size: 15px; font-weight: 300; color:#777777; line-height:1.2em;"} Log in with your email and the password you created when you registered.
              %tr
                %td{style: "text-align: center; padding-bottom:20px;", width: "100%"}
                  %a.btn{href: ENV['ROOT_URL'], style: "background-color:#F8B018; color:#fff; padding:18px 25px; line-height: 20px; min-width: 180px; display: inline-block; border-radius:10px; font-size:16px; font-weight:300;", target: "_blank"} Login
              %tr
                %td{height: "50", style: "height:20px;", width: "100%"}
              %tr
                %td{style: "text-align: left; padding-bottom:20px;", width: "100%"}
                  %p{style: "font-size: 15px; font-weight: 300; color:#777777; line-height:1.2em;"} Thanks,
                  %div{style: "height:10px;"}
                  %p{style: "font-size: 15px; font-weight: 300; color:#777777; line-height:1.2em;"} Clickx Team
              %tr
                %td{height: "15", style: "height:15px;", width: "100%"}
%table{align: "center", bgcolor: "#F4F4F4", border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
  %tr
    %td{style: "height:50px"}
/ END OF CONTENT BLOCK
