%h4 Sales Training
%p
    %a.btn--zoom{:href => "https://us06web.zoom.us/j/81949295583", :target => "_blank"} Join Zoom Meeting
%p Meeting ID: 819 4929 5583
%p Every Monday and Wednesday at 3.30pm Eastern Time (US and Canada)
.py-2
    %a.addeventatc{"data-id" => "iI11477254", :href => "https://www.addevent.com/event/iI11477254", :rel => "nofollow", :target => "_blank", :title => "Add to Calendar"} Add to Calendar