.section-card.bg-white.rounded-12.mb-4.support-accordion.support-accordion--collapsed.border-1.border-light
  .section-card-heading.pl-5.pr-4.py-4.rounded-t-12.support-accordion-header
    .d-flex.justify-content-between
      .col
        %span.fw-m.mr-3
          %i.fa.fa-video-camera.color-blue.mr-2
          Every Monday
        %span.fw-sb.d-none.d-md-inline.pr-3 Sales Training 
        %span.f-s-xxs.d-none.d-md-inline 3.30pm Eastern Time (US and Canada)
      .col
        %span.accordion-arrow
          %i.fa.fa-chevron-up
  #scale_private_coaching.support-accordion-content
    .section-card-body.px-5.py-4
      %h5.d-md-none.fs-sm.fw-sb.mt-0.mb-4 Sales Training 
      %p.d-md-none
        Time: 3.30pm Eastern Time (US and Canada)
      %p
        %a.btn--zoom{:href => "https://us06web.zoom.us/j/81949295583", :target => "_blank"} Join Zoom Meeting
      %p Meeting ID: 819 4929 5583
      .py-2
      %a.addeventatc{"data-id" => "iI11477254", :href => "https://www.addevent.com/event/iI11477254", :rel => "nofollow", :target => "_blank", :title => "Add to Calendar"} Add to Calendar

- if current_agency.support_prospecting_call?
  .section-card.bg-white.rounded-12.mb-4.support-accordion.support-accordion--collapsed.border-1.border-light
    .section-card-heading.pl-5.pr-4.py-4.rounded-t-12.support-accordion-header
      .d-flex.justify-content-between
        .col
          %span.fw-m.mr-3
            %i.fa.fa-video-camera.color-blue.mr-2
            Every Tuesday
          %span.fw-sb.d-none.d-md-inline.pr-3 Partner Office Hours
          %span.f-s-xxs.d-none.d-md-inline 10am - 11am Eastern Time (US and Canada)
        .col
          %span.accordion-arrow
            %i.fa.fa-chevron-up
    #scale_live_qa.support-accordion-content
      .section-card-body.px-5.py-4
        %h5.d-md-none.fs-sm.fw-sb.mt-0.mb-4 Partner Office Hours
        %p.d-md-none
          Time: 10am - 11am Eastern Time (US and Canada)
        %p
          %a.btn--zoom{:href => "https://us06web.zoom.us/j/87647244170?pwd=QXZsK3FRVmd5a2JpSlJPdmhFYlNSUT09", :target => "_blank"} Join Zoom Meeting
        %p
          Meeting ID: 876 4724 4170
        .py-2
        %a.addeventatc{"data-id" => "db14516168", :href => "https://www.addevent.com/event/db14516168", :target => "_blank", :title => "Add to Calendar"} Add to Calendar

-# .section-card.bg-white.rounded-12.mb-4.support-accordion.support-accordion--collapsed.border-1.border-light
-#   .section-card-heading.pl-5.pr-4.py-4.rounded-t-12.support-accordion-header
-#     .d-flex.justify-content-between
-#       .col
-#         %span.fw-m.mr-3
-#           %i.fa.fa-video-camera.color-blue.mr-2
-#           Every Wednesday
-#         %span.fw-sb.d-none.d-md-inline.pr-3 Sales Training 
-#         %span.f-s-xxs.d-none.d-md-inline 3.30pm Eastern Time (US and Canada)
-#       .col
-#         %span.accordion-arrow
-#           %i.fa.fa-chevron-up
-#   #scale_private_coaching.support-accordion-content
-#     .section-card-body.px-5.py-4
-#       %h5.d-md-none.fs-sm.fw-sb.mt-0.mb-4 Sales Training 
-#       %p.d-md-none
-#         Time: 3.30pm Eastern Time (US and Canada)
-#       %p
-#         %a.btn--zoom{:href => "https://us06web.zoom.us/j/81949295583", :target => "_blank"} Join Zoom Meeting
-#       %p Meeting ID: 819 4929 5583
-#       .py-2
-#       %a.addeventatc{"data-id" => "iI11477254", :href => "https://www.addevent.com/event/iI11477254", :rel => "nofollow", :target => "_blank", :title => "Add to Calendar"} Add to Calendar

.section-card.bg-white.rounded-12.mb-4.support-accordion.support-accordion--collapsed.border-1.border-light
  .section-card-heading.pl-5.pr-4.py-4.rounded-t-12.support-accordion-header
    .d-flex.justify-content-between
      .col
        %span.fw-m.mr-3
          %i.fa.fa-video-camera.color-blue.mr-2
          Every Thursday
        %span.fw-sb.d-none.d-md-inline.pr-3 Implementation Hour
        %span.f-s-xxs.d-none.d-md-inline 3.30pm Eastern Time (US and Canada)
      .col
        %span.accordion-arrow
          %i.fa.fa-chevron-up
  #scale_live_qa.support-accordion-content
    .section-card-body.px-5.py-4
      %h5.d-md-none.fs-sm.fw-sb.mt-0.mb-4 Implementation Hour
      %p.d-md-none
        Time: 3.30pm Eastern Time (US and Canada)
      %p
        %a.btn--zoom{:href => "https://us06web.zoom.us/j/81949295583", :target => "_blank"} Join Zoom Meeting
      %p
        Meeting ID: 819 4929 5583
      .py-2
      %a.addeventatc{"data-id" => "oX11477204", :href => "https://www.addevent.com/event/oX11477204", :rel => "nofollow", :target => "_blank", :title => "Add to Calendar"} Add to Calendar

.section-card.bg-white.rounded-12.mb-4.support-accordion.support-accordion--collapsed.border-1.border-light
  .section-card-heading.pl-5.pr-4.py-4.rounded-t-12.support-accordion-header
    .d-flex.justify-content-between
      .col
        %span.fw-m.mr-3
          %i.fa.fa-video-camera.color-blue.mr-2
          Every Friday
        %span.fw-sb.d-none.d-md-inline.pr-3 Hot Seats
        %span.f-s-xxs.d-none.d-md-inline 11am Eastern Time (US and Canada)
      .col
        %span.accordion-arrow
          %i.fa.fa-chevron-up
  #scale_live_qa.support-accordion-content
    .section-card-body.px-5.py-4
      %h5.d-md-none.fs-sm.fw-sb.mt-0.mb-4 Hot Seats
      %p.d-md-none
        Time: 11am Eastern Time (US and Canada)
      %p
        %a.btn--zoom{:href => "https://us06web.zoom.us/j/85017617224", :target => "_blank"} Join Zoom Meeting
      %p
        Meeting ID: 850 1761 7224
      .py-2
      %a.addeventatc{"data-id" => "oX11477204", :href => "https://www.addevent.com/event/wj15540490%22", :rel => "nofollow", :target => "_blank", :title => "Add to Calendar"} Add to Calendar
.section-card.bg-white.rounded-12.mb-4.support-accordion.support-accordion--collapsed.border-1.border-light
  .section-card-heading.pl-5.pr-4.py-4.rounded-t-12.support-accordion-header
    .d-flex.justify-content-between
      .col
        %span.fw-m.mr-3
          %i.fa.fa-video-camera.color-blue.mr-2
          Hour of Sales
        %span.fw-sb.d-none.d-md-inline.pr-3 Monday to Thursday
        %span.f-s-xxs.d-none.d-md-inline 11am - 12pm Eastern Time (US and Canada)
      .col
        %span.accordion-arrow
          %i.fa.fa-chevron-up
  #scale_private_coaching.support-accordion-content
    .section-card-body.px-5.py-4
      %h5.d-md-none.fs-sm.fw-sb.mt-0.mb-4 Hour of Sales
      %p.d-md-none
        Time: Monday to Thursday 11am - 12pm Eastern Time (US and Canada)
      %p
        %a.btn--zoom{:href => "https://us06web.zoom.us/j/82841254748", :target => "_blank"} Join Zoom Meeting
      %p Meeting ID: 828 412 54748
      .py-2
      %a.addeventatc{"data-id" => "Bm16109488", :href => "https://www.addevent.com/event/Bm16109488", :rel => "nofollow", :target => "_blank", :title => "Add to Calendar"} Add to Calendar

%script{:async => "", :defer => "defer", :src => "https://cdn.addevent.com/libs/atc/1.6.1/atc.min.js", :type => "text/javascript"}
  