.pt-2.pb-4
  %p
    %p
      Partners Support Email
      %br
        partners@clickx.io
        %br
          Questions  Support: navigating the portal, onboarding, pricing, client questions and concerns
          %br
          Available: 8am - 5pm ET
    %p
      Kimberlee Tolkien, Head Account Manager
      %br
        Question  Support: client and fulfillment network questions, plan upgrades, affiliate program
        %br
          Available: 8am - 5pm ET
    %p      
      Shon Cornwell, Scale Coach
      %br
        Questions & Support: SCALE program
        %br
          Available: 8am - 5pm ET or by booked appointment
    -# %p    
    -#   Samantha Rivard, Partner Success Manager
    -#   %br
    -#     Questions and Support: Agency strategy and lead generation, niche selection, copywriting & messaging
    -#     %br            
    -#       Available: By booked appointment 
    %p 
      Steve Werner
      %br
        Executive Performance Coach
        %br
          Available: Every Other Wednesday

    %p 
      Patrick Geary
      %br
        Senior Sales Trainer & Coach
        %br
          Available: Every Monday 