- if current_agency.support_prospecting_call?
  %p
    %a.btn--zoom{:href => "https://us06web.zoom.us/j/89578625056", :target => "_blank"} Join Zoom Meeting
  %p Meeting ID: 895 7862 5056
  %p Septumber 1st 10.30am Eastern Time (US and Canada)
  .mt-4
  %a.addeventatc{"data-id" => "mn14730707", :href => "https://www.addevent.com/event/mn14730707", :target => "_blank", :title => "Add to Calendar"} Add to Calendar
  %script{:async => "", :defer => "defer", :src => "https://cdn.addevent.com/libs/atc/1.6.1/atc.min.js", :type => "text/javascript"}
  .mb-4