%h4 Hot Seats
%p
  %a.btn--zoom{:href => "https://us06web.zoom.us/j/85017617224", :target => "_blank"} Join Zoom Meeting
%p Meeting ID: 850 1761 7224
%p Every Friday 10.30am Eastern Time (US and Canada)
.py-2
  %a.addeventatc{"data-id" => "oX11477204", :href => "https://www.addevent.com/event/wj15540490%22", :rel => "nofollow", :target => "_blank", :title => "Add to Calendar"} Add to Calendar