- if current_agency.support_prospecting_call?
  %p
    %a.btn.btn-warning.fw-sb{:href => "https://10kscale.com/home-register", :target => "_blank"} Join Live Challenge
  %p LIVE 0-10K SCALE Challenge
  .mt-4
