- if current_agency.support_prospecting_call?
  %p
    We will host a series of interviews and trainings each Thursday with guest speakers. You can find out who our guests are and what time they will be in the
    %a{:href => "https://www.facebook.com/groups/467613194221213", :target => "_blank"}Facebook Group.
  %p
    Looking for coaching? Find out more about our SCALE Program and see if it's a good fit for you.
