.header
  %h1 Billing Management

.row.mb-xl
  .col-md-6
    .box-item
      = link_to 'Manage Plans', super_admin_plans_path, class: 'btn btn-warning m-n mt-md n'

  .col-md-6
    .box-item
      = link_to 'Manage Coupons', super_admin_coupons_path, class: 'btn btn-warning m-n mt-md n'

