.pad-5
  %h1 #{@business.name}
  %h1 Campaign Intelligence

  - @questionnaire.answers.each do |answer|
    %h4= answer.question.question
    %p= answer.my_ans

:css
  h1{
    font-size: 42px;
    text-align: center;
  }
  h4{
    font-size: 36px
  }
  p{
    font-size: 32px
  }
  .pad-5{
    padding: 5px;
  }
