.spacer50
%h2.mt-2.mb-3.regsubt
  Customize Client Budget
.form-group
  = text_area_tag 'lead_strategy[ad_spend_info]', lead_strategy.ad_spend_info, required: true, class: 'form-control', rows: 3
  %span.material-input
