= render 'page_header', daterange: daterange_picker_format(@start_date, @end_date)

.container-fluid
  %div
    .row
      .col-md-12
        = render 'tab_menu', active_tab: 'keyword'

      .col-md-12
        .tab-content.keyword
          = render 'business/google_ads/keyword', data: @ads_data

:javascript

  $(function() {
    $('#date_filter').daterangepicker({
      maxDate: new Date(),
      locale: { format: 'MM-DD-YYYY' }
    }).on("change", function() {
      const date_range = $(this).val();
      const [start_date, end_date] = date_range.split(' - ');
      const request_url = `/b/google_ads/keywords?start_date=${start_date}&end_date=${end_date}`;

      $.ajax({
        url: request_url,
        type: 'GET',
        dataType: 'script',
        success: function(data) {
        },
        error: function(data) {
          console.log(data);
        }
      });
    });

  });
