%ul.nav.nav-tabs.material-nav-tabs.mb-lg
  %li{class: get_active_class(business_adwords_path)}
    %a{href: "/b/adwords"} Summary
  %li{class: get_active_class(keyword_business_adwords_path)}
    %a{href: "/b/adwords/keyword"} Keywords
  %li{class: get_active_class(ads_business_adwords_path)}
    %a{href: "/b/adwords/ads"} Ads
  %li{class: get_active_class(queries_business_adwords_path)}
    %a{href: "/b/adwords/queries"} Search Terms
  %li{class: get_active_class(campaigns_business_adwords_path)}
    %a{href: "/b/adwords/campaigns"} Campaigns
