---
http_interactions:
- request:
    method: get
    uri: https://api.rebrandly.com/v1/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"c-dAuDFQrdjS3hezqxDTNgW7AOlYk"
    body:
      encoding: UTF-8
      string: Unauthorized
  recorded_at: Thu, 15 Mar 2018 09:54:23 GMT
- request:
    method: post
    uri: https://api.marchex.io/api/jsonrpc/1
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":"1","method":"call.search","params":[null,{"extended":true,"start":null,"end":null}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bWFyY2hleGFwaUBvbmVpbXMuY29tOk15WFZ6YzdsQjE=
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"code":"unexpected_failure","desc":"unexpected failure","event_id":"Ch4NpVqqQtgfTwC1"},"error":{"code":-32500,"message":"unexpected
        failure"},"jsonrpc":"2.0"}'
  recorded_at: Thu, 15 Mar 2018 09:54:32 GMT
- request:
    method: post
    uri: https://api.marchex.io/api/jsonrpc/1
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":"1","method":"call.search","params":["CtjSZVGKa-dELQBN",{"extended":true,"start":"2018-02-13","end":"2018-03-15"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bWFyY2hleGFwaUBvbmVpbXMuY29tOk15WFZ6YzdsQjE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":"1","result":[{"redacted":false,"ass_user":"","numlookup_p":0,"forwardno":"","custom16":"","custom3":"","acct":"CtjSZVGKa-dELQBN","grpid":"CtjSZVGKa-dELQBP","custom17":"","answer_offset":"","custom20":"","assigned_to":"","inboundno":"8889097265","inbound_ext":"","caller_number":"6104000746","custom19":"","custom12":"","duration":"00:00:08","custom1":"","call_id":"Ch6WIlqpfcYIgGYV","revenue":"","call_duration":8,"call_s":"2018-03-14
        15:53:42","call_end":"2018-03-14T19:53:51Z","listenedto":1,"c_name":"Clickx
        Toll Free (Website Phone)","custom2":"","caller_name":"Coatesville  PA","custom18":"","custom13":"","keyword":"","billable_minutes":1,"call_status":"CANCEL","status":"active","rating":"","cmpid":"Ch4NmVhljdo4MwCW","custom6":"","g_name":"default","a_name":"Clickx","recorded":true,"camp_kw":"Clickx
        Toll Free (Website Phone)","custom5":"","dna_class":"IVR/Voicemail Abandon","disposition":"","call_start":"2018-03-14T19:53:42Z","custom_id":"","custom4":"","custom9":"","custom15":"","custom10":"","ring_duration":"","custom11":"","numlookup":"","note":"","custom7":"","custom14":"","custom8":""},{"redacted":false,"ass_user":"","numlookup_p":0,"forwardno":"","custom16":"","custom3":"","acct":"CtjSZVGKa-dELQBN","grpid":"CtjSZVGKa-dELQBP","custom17":"","answer_offset":"","custom20":"","assigned_to":"","inboundno":"7188396795","inbound_ext":"","caller_number":"2254753918","custom19":"","custom12":"","duration":"00:00:04","custom1":"","call_id":"Cs2XEFqpUE4InNmI","revenue":"","call_duration":4,"call_s":"2018-03-14
        12:39:42","call_end":"2018-03-14T16:39:46Z","listenedto":0,"c_name[...]
- request:
    method: post
    uri: https://api.marchex.io/api/jsonrpc/1
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":"1","method":"call.get","params":["Ch6WIlqpfcYIgGYV"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bWFyY2hleGFwaUBvbmVpbXMuY29tOk15WFZ6YzdsQjE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":"1","result":{"forwardno":"","acct":"CtjSZVGKa-dELQBN","assigned_to":"","inboundno":"8889097265","inbound_ext":"","billing_acct":"CtjSZVEs6RwjsQDN","caller_number":"6104000746","call_id":"Ch6WIlqpfcYIgGYV","revenue":"","call_duration":8,"call_end":"2018-03-14T19:53:51Z","caller_name":"Coatesville  PA","c2cid":"","keyword":"","call_status":"CANCEL","custom":["","","","","","","","","","","","","","","","","","","",""],"rating":"","cmpid":"Ch4NmVhljdo4MwCW","recorded":true,"disposition":"","call_start":"2018-03-14T19:53:42Z","ring_duration":"","note":""}}'
  recorded_at: Thu, 15 Mar 2018 09:54:42 GMT
- request:
    method: post
    uri: https://api.marchex.io/api/jsonrpc/1
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":"1","method":"call.audio.url","params":[["Ch6WIlqpfcYIgGYV"],"mp3"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bWFyY2hleGFwaUBvbmVpbXMuY29tOk15WFZ6YzdsQjE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":"1","result":[{"url":"https://www.marchex.io/calls/audio?token=15f6ea3ca289063be324c4a4927216a7.mp3","token":"15f6ea3ca289063be324c4a4927216a7.mp3","call_id":"Ch6WIlqpfcYIgGYV"}]}'
  recorded_at: Thu, 15 Mar 2018 09:54:44 GMT
recorded_with: VCR 4.0.0
