---
http_interactions:
- request:
    method: get
    uri: https://api.rebrandly.com/v1/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - 382414aba74246f080f76c84050b1abd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2d4-qXiJqIPHxm9TlEaiwy1EDAMVpB4"
    body:
      encoding: UTF-8
      string: '[{"id":"d01213cffb934b7b95af925ff5d87e3e","fullName":"clickx.ly","topLevelDomain":"ly","level":2,"creationDate":"2017-05-20T06:26:55.000Z","createdAt":"2017-05-20T06:26:55.000Z","updatedAt":"2017-05-25T04:03:50.000Z","customHomepage":"http://www.clickx.io","ownerId":"d6ee5ed38a4447799db7b2b18fa34682","type":"USER","subdomains":0,"managed":false,"status":{"dns":"verified"},"https":false,"active":true},{"id":"8f104cc5b6ee4a4ba7897b06ac2ddcfb","fullName":"rebrand.ly","topLevelDomain":"ly","level":2,"creationDate":"2015-01-01T00:00:00.000Z","createdAt":"2015-01-01T00:00:00.000Z","updatedAt":"2017-04-24T10:29:37.000Z","type":"SERVICE","subdomains":0,"managed":true,"status":{"dns":"verified"},"https":true,"active":true}]'
  recorded_at: Wed, 27 Sep 2017 11:37:29 GMT
- request:
    method: post
    uri: https://api.rebrandly.com/v1/links
    body:
      encoding: UTF-8
      string: '{"title":"Clickx Signup","domain":{"id":"d01213cffb934b7b95af925ff5d87e3e","full_name":"clickx.ly","top_level_domain":"ly","level":2,"created_at":"2017-05-20T06:26:55.000Z","updated_at":"2017-05-25T04:03:50.000Z","custom_homepage":"http://www.clickx.io","owner_id":"d6ee5ed38a4447799db7b2b18fa34682","type":"USER","subdomains":0,"managed":false,"status":{"dns":"verified"},"https":false,"active":true},"destination":"https://app.clickx.io/signup?ref=8WVDT4XT1JJP"}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - 382414aba74246f080f76c84050b1abd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2ca-/CbcjqBAeo2xItJ/6ct99UI0SpE"
    body:
      encoding: UTF-8
      string: '{"id":"4467171","linkId":4467171,"title":"Clickx Signup","slashtag":"8r8j","destination":"https://app.clickx.io/signup?ref=8WVDT4XT1JJP","createdAt":"2017-09-27T11:37:32.000Z","updatedAt":"2017-09-27T11:37:32.000Z","status":"active","tags":[],"clicks":0,"isPublic":false,"shortUrl":"clickx.ly/8r8j","domainId":"d01213cffb934b7b95af925ff5d87e3e","domainName":"clickx.ly","domain":{"id":"d01213cffb934b7b95af925ff5d87e3e","ref":"/domains/d01213cffb934b7b95af925ff5d87e3e","fullName":"clickx.ly","active":true},"https":false,"favourite":false,"creator":{"id":"d6ee5ed38a4447799db7b2b18fa34682","fullName":"Clickx","avatarUrl":"https://s.gravatar.com/avatar/dfa68d603ee865f92e63bd7e32af0f41?size=80&d=retro&rating=g"}}'
  recorded_at: Wed, 27 Sep 2017 11:37:32 GMT
- request:
    method: post
    uri: https://api.marchex.io/api/jsonrpc/1
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":"1","method":"call.search","params":["CtjSZVGKa-dELQBN",{"extended":true,"start":"2017-08-28","end":"2017-09-27"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bWFyY2hleGFwaUBvbmVpbXMuY29tOk15WFZ6YzdsQjE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":"1","result":[{"redacted":false,"ass_user":"","numlookup_p":0,"forwardno":"9252986303","custom16":"","custom3":"","acct":"CtjSZVGKa-dELQBN","grpid":"CtjSZVGKa-dELQBP","custom17":"","answer_offset":16,"custom20":"","assigned_to":"","inboundno":"8477986400","inbound_ext":"","caller_number":"8880093717","custom19":"","custom12":"","duration":"00:01:19","custom1":"","call_id":"Cs2XFlnFWZ9bjOC9","revenue":"","call_duration":79,"call_s":"2017-09-22
        13:42:39","call_end":"2017-09-22T18:43:59Z","listenedto":0,"c_name":"Local
        Maps - Skokie","custom2":"","caller_name":"800 Service","custom18":"","custom13":"","keyword":"","billable_minutes":2,"call_status":"ANSWER","status":"active","rating":"","cmpid":"CtjSZ1GKbBAfFADb","custom6":"","g_name":"default","a_name":"Clickx","recorded":true,"camp_kw":"Local
        Maps - Skokie","custom5":"","dna_class":"Conversation","disposition":"","call_start":"2017-09-22T18:42:39Z","custom_id":"","custom4":"","custom9":"","custom15":"","custom10":"","ring_duration":3,"custom11":"","numlookup":"","note":"","custom7":"","custom14":"","custom8":""},{"redacted":false,"ass_user":"","numlookup_p":0,"forwardno":"","custom16":"","custom3":"","acct":"CtjSZVGKa-dELQBN","grpid":"CtjSZVGKa-dELQBP","custom17":"","answer_offset":"","custom20":"","assigned_to":"","inboundno":"8477986400","inbound_ext":"","caller_number":"8880093717","custom19":"","custom12":"","duration":"00:00:01","custom1":"","call_id":"Cs2XAlnD_LtfTKkl","revenue":"","call_duration":1,"call_s":"2017-09-21
        12:36:59","call_end":"2017-09-21T17:37:00Z","listenedto":0,"c_name[...]
[...]
