/* RESPONSIVE CSS */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width:768px) {
    .container {
        width: 752px;
    }
}

@media (min-width:992px) {
    .container {
        width: 972px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1172px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.row {
    margin-left: -16px;
    margin-right: -16px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0%;
}

@media (min-width:768px) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-pull-12 {
        right: 100%;
    }
    .col-sm-pull-11 {
        right: 91.66666667%;
    }
    .col-sm-pull-10 {
        right: 83.33333333%;
    }
    .col-sm-pull-9 {
        right: 75%;
    }
    .col-sm-pull-8 {
        right: 66.66666667%;
    }
    .col-sm-pull-7 {
        right: 58.33333333%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-pull-5 {
        right: 41.66666667%;
    }
    .col-sm-pull-4 {
        right: 33.33333333%;
    }
    .col-sm-pull-3 {
        right: 25%;
    }
    .col-sm-pull-2 {
        right: 16.66666667%;
    }
    .col-sm-pull-1 {
        right: 8.33333333%;
    }
    .col-sm-pull-0 {
        right: auto;
    }
    .col-sm-push-12 {
        left: 100%;
    }
    .col-sm-push-11 {
        left: 91.66666667%;
    }
    .col-sm-push-10 {
        left: 83.33333333%;
    }
    .col-sm-push-9 {
        left: 75%;
    }
    .col-sm-push-8 {
        left: 66.66666667%;
    }
    .col-sm-push-7 {
        left: 58.33333333%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-push-5 {
        left: 41.66666667%;
    }
    .col-sm-push-4 {
        left: 33.33333333%;
    }
    .col-sm-push-3 {
        left: 25%;
    }
    .col-sm-push-2 {
        left: 16.66666667%;
    }
    .col-sm-push-1 {
        left: 8.33333333%;
    }
    .col-sm-push-0 {
        left: auto;
    }
    .col-sm-offset-12 {
        margin-left: 100%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width:992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width:1200px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-pull-12 {
        right: 100%;
    }
    .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-push-12 {
        left: 100%;
    }
    .col-lg-push-11 {
        left: 91.66666667%;
    }
    .col-lg-push-10 {
        left: 83.33333333%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-8 {
        left: 66.66666667%;
    }
    .col-lg-push-7 {
        left: 58.33333333%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-5 {
        left: 41.66666667%;
    }
    .col-lg-push-4 {
        left: 33.33333333%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-2 {
        left: 16.66666667%;
    }
    .col-lg-push-1 {
        left: 8.33333333%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0%;
    }
}

@-ms-viewport {
    width: device-width;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}

tr.visible-xs,
tr.visible-sm,
tr.visible-md,
tr.visible-lg {
    display: none !important;
}

th.visible-xs,
th.visible-sm,
th.visible-md,
th.visible-lg,
td.visible-xs,
td.visible-sm,
td.visible-md,
td.visible-lg {
    display: none !important;
}

.btn-group.visible-xs,
.btn-group.visible-sm,
.btn-group.visible-md,
.btn-group.visible-lg,
.btn-group-vertical.visible-xs,
.btn-group-vertical.visible-sm,
.btn-group-vertical.visible-md,
.btn-group-vertical.visible-lg,
.btn.visible-xs,
.btn.visible-sm,
.btn.visible-md,
.btn.visible-lg,
span.visible-xs,
span.visible-sm,
span.visible-md,
span.visible-lg,
i.visible-xs,
i.visible-sm,
i.visible-md,
i.visible-lg {
    display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none !important;
}

@media (max-width:767px) {
    .visible-xs {
        display: block !important;
    }
    table.visible-xs {
        display: table;
    }
    tr.visible-xs {
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }
    tr.visible-xs {
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }
    .btn-group.visible-xs,
    .btn-group-vertical.visible-xs,
    .btn.visible-xs {
        display: inline-block !important;
    }
    span.visible-xs,
    i.visible-xs {
        display: inline !important;
    }
}

@media (max-width:767px) {
    .visible-xs-block {
        display: block !important;
    }
}

@media (max-width:767px) {
    .visible-xs-inline {
        display: inline !important;
    }
}

@media (max-width:767px) {
    .visible-xs-inline-block {
        display: inline-block !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm {
        display: block !important;
    }
    table.visible-sm {
        display: table;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
    .btn-group.visible-sm,
    .btn-group-vertical.visible-sm,
    .btn.visible-sm {
        display: inline-block !important;
    }
    span.visible-sm,
    i.visible-sm {
        display: inline !important;
    }
    .card-wrapper {
        padding: 20px 0 0 !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm-block {
        display: block !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm-inline {
        display: inline !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm-inline-block {
        display: inline-block !important;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md {
        display: block !important;
    }
    table.visible-md {
        display: table;
    }
    tr.visible-md {
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }
    tr.visible-md {
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }
    .btn-group.visible-md,
    .btn-group-vertical.visible-md,
    .btn.visible-md {
        display: inline-block !important;
    }
    span.visible-md,
    i.visible-md {
        display: inline !important;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md-block {
        display: block !important;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md-inline {
        display: inline !important;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md-inline-block {
        display: inline-block !important;
    }
}

@media (min-width:1200px) {
    .visible-lg {
        display: block !important;
    }
    table.visible-lg {
        display: table;
    }
    tr.visible-lg {
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
    tr.visible-lg {
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
    .btn-group.visible-lg,
    .btn-group-vertical.visible-lg,
    .btn.visible-lg {
        display: inline-block !important;
    }
    span.visible-lg,
    i.visible-lg {
        display: inline !important;
    }
}

@media (min-width:1200px) {
    .visible-lg-block {
        display: block !important;
    }
}

@media (min-width:1200px) {
    .visible-lg-inline {
        display: inline !important;
    }
}

@media (min-width:1200px) {
    .visible-lg-inline-block {
        display: inline-block !important;
    }
}

@media (max-width:767px) {
    .hidden-xs {
        display: none !important;
    }
    tr.hidden-xs {
        display: none !important;
    }
    th.hidden-xs,
    td.hidden-xs {
        display: none !important;
    }
    .btn-group.hidden-xs,
    .btn-group-vertical.hidden-xs,
    .btn.hidden-xs,
    span.hidden-xs,
    i.hidden-xs {
        display: none !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none !important;
    }
    tr.hidden-sm {
        display: none !important;
    }
    th.hidden-sm,
    td.hidden-sm {
        display: none !important;
    }
    .btn-group.hidden-sm,
    .btn-group-vertical.hidden-sm,
    .btn.hidden-sm,
    span.hidden-sm,
    i.hidden-sm {
        display: none !important;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none !important;
    }
    tr.hidden-md {
        display: none !important;
    }
    th.hidden-md,
    td.hidden-md {
        display: none !important;
    }
    .btn-group.hidden-md,
    .btn-group-vertical.hidden-md,
    .btn.hidden-md,
    span.hidden-md,
    i.hidden-md {
        display: none !important;
    }
}

@media (min-width:1200px) {
    .hidden-lg {
        display: none !important;
    }
    tr.hidden-lg {
        display: none !important;
    }
    th.hidden-lg,
    td.hidden-lg {
        display: none !important;
    }
    .btn-group.hidden-lg,
    .btn-group-vertical.hidden-lg,
    .btn.hidden-lg,
    span.hidden-lg,
    i.hidden-lg {
        display: none !important;
    }
}

.visible-print {
    display: none !important;
}

tr.visible-print {
    display: none !important;
}

th.visible-print,
td.visible-print {
    display: none !important;
}

.btn-group.visible-print,
.btn-group-vertical.visible-print,
.btn.visible-print,
span.visible-print,
i.visible-print {
    display: none !important;
}

@media print {
    .visible-print {
        display: block !important;
    }
    table.visible-print {
        display: table;
    }
    tr.visible-print {
        display: table-row !important;
    }
    th.visible-print,
    td.visible-print {
        display: table-cell !important;
    }
    tr.visible-print {
        display: table-row !important;
    }
    th.visible-print,
    td.visible-print {
        display: table-cell !important;
    }
    .btn-group.visible-print,
    .btn-group-vertical.visible-print,
    .btn.visible-print {
        display: inline-block !important;
    }
    span.visible-print,
    i.visible-print {
        display: inline !important;
    }
}

.visible-print-block {
    display: none !important;
}

@media print {
    .visible-print-block {
        display: block !important;
    }
}

.visible-print-inline {
    display: none !important;
}

@media print {
    .visible-print-inline {
        display: inline !important;
    }
}

.visible-print-inline-block {
    display: none !important;
}

@media print {
    .visible-print-inline-block {
        display: inline-block !important;
    }
}

@media print {
    .hidden-print {
        display: none !important;
    }
    tr.hidden-print {
        display: none !important;
    }
    th.hidden-print,
    td.hidden-print {
        display: none !important;
    }
    .btn-group.hidden-print,
    .btn-group-vertical.hidden-print,
    .btn.hidden-print,
    span.hidden-print,
    i.hidden-print {
        display: none !important;
    }
}

@media screen and (max-width:767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 13.5px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #f1f1f1;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }
    .table-responsive > .table-bordered,
    .table-responsive > .fc .fc-view > table {
        border: 0;
    }
    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child,
    .table-responsive > .fc .fc-view > table > thead > tr > th:first-child,
    .table-responsive > .fc .fc-view > table > tbody > tr > th:first-child,
    .table-responsive > .fc .fc-view > table > tfoot > tr > th:first-child,
    .table-responsive > .fc .fc-view > table > thead > tr > td:first-child,
    .table-responsive > .fc .fc-view > table > tbody > tr > td:first-child,
    .table-responsive > .fc .fc-view > table > tfoot > tr > td:first-child {
        border-left: 0;
    }
    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child,
    .table-responsive > .fc .fc-view > table > thead > tr > th:last-child,
    .table-responsive > .fc .fc-view > table > tbody > tr > th:last-child,
    .table-responsive > .fc .fc-view > table > tfoot > tr > th:last-child,
    .table-responsive > .fc .fc-view > table > thead > tr > td:last-child,
    .table-responsive > .fc .fc-view > table > tbody > tr > td:last-child,
    .table-responsive > .fc .fc-view > table > tfoot > tr > td:last-child {
        border-right: 0;
    }
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td,
    .table-responsive > .fc .fc-view > table > tbody > tr:last-child > th,
    .table-responsive > .fc .fc-view > table > tfoot > tr:last-child > th,
    .table-responsive > .fc .fc-view > table > tbody > tr:last-child > td,
    .table-responsive > .fc .fc-view > table > tfoot > tr:last-child > td {
        border-bottom: 0;
    }
}

@media (min-width:992px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .dl-horizontal dd {
        margin-left: 180px;
    }
}

@media (min-width:992px) {
    .navbar-right .dropdown-menu,
    .navbar-right .tt-dropdown-menu {
        left: auto;
        right: 0;
    }
    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto;
    }
}

@media (min-width:768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}

@media (min-width:768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #eeeeee;
        border-radius: 2px 2px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #f5f5f5;
    }
}

@media (min-width:768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin-bottom: 0;
    }
}

@media (min-width:768px) {
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #eeeeee;
        border-radius: 2px 2px 0 0;
    }
    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #f5f5f5;
    }
}

@media (min-width:768px) {
    .modal-dialog {
        width: 650px;
        margin: 30px auto !important;
    }
    .modal-content {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-sm {
        width: 360px !important;
    }
}

@media (min-width:992px) {
    .modal-lg {
        width: 900px;
    }
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner > .item {
        transition: -webkit-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
    }
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        left: 0;
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        left: 0;
    }
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

@media screen and (min-width:768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -15px;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -15px;
    }
    .carousel-caption {
        left: 20%;
        right: 20%;
        padding-bottom: 30px;
    }
    .carousel-indicators {
        bottom: 20px;
    }
}

@media screen and (min-width:768px) {
    .jumbotron {
        padding: 48px 0;
    }
    .container .jumbotron,
    .container-fluid .jumbotron {
        padding-left: 60px;
        padding-right: 60px;
    }
    .jumbotron h1,
    .jumbotron .h1 {
        font-size: 58.5px;
    }
}

@media (max-width:991px) {
    .navbar .navbar-nav .navbar-text {
        color: inherit;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .navbar .navbar-nav .open .dropdown-menu > .dropdown-header,
    .navbar .navbar-nav .open .tt-dropdown-menu > .dropdown-header {
        border: 0;
        color: inherit;
    }
    .navbar .navbar-nav .open .dropdown-menu .divider,
    .navbar .navbar-nav .open .tt-dropdown-menu .divider {
        border-bottom: 1px solid;
        opacity: 0.08;
    }
    .navbar .navbar-nav .open .dropdown-menu > li > a,
    .navbar .navbar-nav .open .tt-dropdown-menu > li > a {
        color: inherit;
    }
    .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar .navbar-nav .open .tt-dropdown-menu > li > a:hover,
    .navbar .navbar-nav .open .tt-dropdown-menu > li > a:focus {
        color: inherit;
        background-color: transparent;
    }
    .navbar .navbar-nav .open .dropdown-menu > .active > a,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:focus,
    .navbar .navbar-nav .open .tt-dropdown-menu > .active > a,
    .navbar .navbar-nav .open .tt-dropdown-menu > .active > a:hover,
    .navbar .navbar-nav .open .tt-dropdown-menu > .active > a:focus {
        color: inherit;
        background-color: transparent;
    }
    .navbar .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus,
    .navbar .navbar-nav .open .tt-dropdown-menu > .disabled > a,
    .navbar .navbar-nav .open .tt-dropdown-menu > .disabled > a:hover,
    .navbar .navbar-nav .open .tt-dropdown-menu > .disabled > a:focus {
        color: inherit;
        background-color: transparent;
    }
}

@media (max-width:1199px) {
    .navbar .navbar-brand {
        height: 50px;
        padding: 10px 15px;
    }
    .navbar .navbar-form {
        margin-top: 10px;
    }
    .navbar .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (-webkit-min-device-pixel-ratio:0.75),
(min--moz-device-pixel-ratio:0.75),
(-o-device-pixel-ratio:3/4),
(min-device-pixel-ratio:0.75),
(min-resolution:0.75dppx),
(-webkit-min-device-pixel-ratio:1.25),
(min-resolution:120dpi) {
    hr {
        height: 0.75px;
    }
}

@media (-webkit-min-device-pixel-ratio:1),
(min--moz-device-pixel-ratio:1),
(-o-device-pixel-ratio:1),
(min-device-pixel-ratio:1),
(min-resolution:1dppx),
(-webkit-min-device-pixel-ratio:1.6666666666666667),
(min-resolution:160dpi) {
    hr {
        height: 1px;
    }
}

@media (-webkit-min-device-pixel-ratio:1.33),
(min--moz-device-pixel-ratio:1.33),
(-o-device-pixel-ratio:133/100),
(min-device-pixel-ratio:1.33),
(min-resolution:1.33dppx),
(-webkit-min-device-pixel-ratio:2.21875),
(min-resolution:213dpi) {
    hr {
        height: 1.333px;
    }
}

@media (-webkit-min-device-pixel-ratio:1.5),
(min--moz-device-pixel-ratio:1.5),
(-o-device-pixel-ratio:3/2),
(min-device-pixel-ratio:1.5),
(min-resolution:1.5dppx),
(-webkit-min-device-pixel-ratio:2.5),
(min-resolution:240dpi) {
    hr {
        height: 1.5px;
    }
}

@media (-webkit-min-device-pixel-ratio:2),
(min--moz-device-pixel-ratio:2),
(-o-device-pixel-ratio:2/1),
(min-device-pixel-ratio:2),
(min-resolution:2dppx),
(-webkit-min-device-pixel-ratio:3.9583333333333335),
(min-resolution:380dpi) {
    hr {
        height: 2px;
    }
}

@media (-webkit-min-device-pixel-ratio:3),
(min--moz-device-pixel-ratio:3),
(-o-device-pixel-ratio:3/1),
(min-device-pixel-ratio:3),
(min-resolution:3dppx),
(-webkit-min-device-pixel-ratio:5),
(min-resolution:480dpi) {
    hr {
        height: 3px;
    }
}

@media (-webkit-min-device-pixel-ratio:4),
(min--moz-device-pixel-ratio:4),
(-o-device-pixel-ratio:4/1),
(min-device-pixel-ratio:3),
(min-resolution:4dppx),
(-webkit-min-device-pixel-ratio:6.666666666666667),
(min-resolution:640dpi) {
    hr {
        height: 4px;
    }
}


/* columns of same height styles */

.container-xs-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
}

.row-xs-height {
    display: table-row;
}

.col-xs-height {
    display: table-cell;
    float: none;
}

@media (min-width:768px) {
    .container-sm-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }
    .row-sm-height {
        display: table-row;
    }
    .col-sm-height {
        display: table-cell;
        float: none;
    }
}

@media (min-width:992px) {
    .container-md-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }
    .row-md-height {
        display: table-row;
    }
    .col-md-height {
        display: table-cell;
        float: none;
    }
}

@media (min-width:1200px) {
    .container-lg-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }
    .row-lg-height {
        display: table-row;
    }
    .col-lg-height {
        display: table-cell;
        float: none;
    }
}

@media (min-width:768px) {
    .lead {
        font-size: 19.5px;
    }
}


/*Horizontal Navigation*/

@media (min-width:768px) {
    #horizontal-navbar.large-icons-nav .navbar-nav {
        margin-bottom: 0;
    }
    #horizontal-navbar.large-icons-nav .navbar-nav > li {
        min-width: 100px;
    }
    #horizontal-navbar.large-icons-nav .navbar-nav > li a {
        padding: 14px 16px;
    }
    #horizontal-navbar.large-icons-nav .navbar-nav > li a > i {
        font-size: 28px;
        display: block;
        text-align: center;
        margin-top: 8px;
        margin-right: 0;
    }
    #horizontal-navbar.large-icons-nav .navbar-nav > li > a > span {
        display: block;
        text-align: center;
        margin-top: 16px;
        text-transform: uppercase;
        font-size: 11px;
        line-height: 1.35;
        font-weight: 500;
    }
}

#horizontal-navbar .navbar-nav > li > a {
    padding: 22px 16px;
    text-transform: uppercase;
}

#horizontal-navbar .navbar-nav > li > a > i {
    margin-right: 6px;
}

#horizontal-navbar .navbar-nav > li > a,
#horizontal-navbar .navbar-nav > li li a {
    font-weight: 500;
}

@media (max-width:768px) {
    #horizontal-navbar .navbar-nav > li i {
        font-size: 15px;
        margin-right: 8px;
    }
}

@media (max-width:767px) {
    .page-content {
        padding: 0;
    }
    .card-wrapper {
        padding: 20px 0 0 !important;
    }
}

@media (max-width:640px) {
    body .static-content {
        transition-duration: 250ms;
    }
    body .static-content-wrapper {
        overflow-x: hidden;
    }
    body:not(.sidebar-collapsed) .static-content {
        margin-right: -240px;
    }
    body.sidebar-collapsed .static-content {
        margin-right: 0px;
    }
}

@media (max-width:640px) {
    #topnav .navbar-brand {
        width: 64px;
    }
    #topnav .navbar-brand .img-white {
        opacity: 0 !important;
    }
    #topnav .navbar-brand .img-dark {
        opacity: 0 !important;
    }
    #topnav .navbar-brand .img-logo-dark {
        opacity: 1 !important;
    }
    #topnav .navbar-brand .img-logo-white {
        opacity: 1 !important;
    }
}

@media (min-width:992px) {
    #topnav .logo-area {
        width: auto;
        height: 48px;
        display: inline-block;
    }
}

@media (max-width:767px) {
    #topnav #search-box {
        padding-left: 0;
    }
}

@media (max-width:640px) {
    #topnav.search-active .toolbar-icon-bg:not(.appear-on-search),
    #topnav.search-active .navbar-brand {
        width: 0px !important;
    }
    #topnav.search-active #search-box .form-control {
        padding-left: 32px;
    }
}

@media screen and (max-width:1035px) {
    #topnav a.nav-username .hidden-sm {
        display: none;
    }
}

@media (max-width:767px) {
    #topnav .notifications::before,
    #topnav .notifications::after {
        right: 60px;
    }
}

@media screen and (max-width:768px) {
    .static-content-wrapper {
        overflow: hidden;
    }
    body.sidebar-collapsed .static-sidebar-wrapper {
        width: 0px;
    }
}

@media screen and (min-width:768px) {
    body.sidebar-collapsed .sidebar .widget:not(.stay-on-collapse) {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    body.sidebar-collapsed .sidebar .widget#widget-profileinfo {
        height: 0;
        -webkit-transform: scale(0.27);
        transform: scale(0.27);
    }
    body.sidebar-collapsed .sidebar .widget.stay-on-collapse .widget-heading,
    body.sidebar-collapsed .sidebar .widget.stay-on-collapse li.nav-separator {
        font-size: 0;
        padding: 4px 0;
    }
    body.sidebar-collapsed .sidebar .widget.stay-on-collapse li.nav-separator:hover {
        width: auto !important;
    }
    body.sidebar-collapsed .sidebar nav.widget-body > ul.acc-menu .badge,
    body.sidebar-collapsed .sidebar nav.widget-body > ul.acc-menu .label,
    body.sidebar-collapsed .sidebar nav.widget-body > ul.acc-menu #topnav .topnav-dropdown-header span.label {
        position: absolute;
        left: 28px;
        top: 10px;
    }
    body.sidebar-collapsed .static-sidebar-wrapper,
    body.sidebar-collapsed .static-sidebar-wrapper > div.stay-on-collapse {
        white-space: nowrap;
        width: 64px;
        overflow: visible;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul.acc-menu ul {
        border-bottom-right-radius: 0;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li {
        white-space: nowrap;
        position: relative;
        border-radius: 0;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li > a {
        border-radius: 0;
        padding: 11px 17px;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li.hasChild {
        border-radius: 0;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li.hasChild > a {
        border-radius: 0;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li:hover {
        width: 248px;
        z-index: 1512;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li:hover > ul {
        display: block;
        position: absolute;
        left: 64px;
        width: 200px;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li:hover > ul > li > a {
        padding-left: 16px;
        padding-right: 16px;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li:hover > ul > li li > a {
        padding-left: 32px;
        padding-right: 16px;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li:hover > ul > li li li > a {
        padding-left: 48px;
        padding-right: 16px;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li:hover > ul > li li li li > a {
        padding-left: 64px;
        padding-right: 16px;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li.active > ul {
        display: none !important;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul > li.active:hover > ul {
        display: block !important;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul.acc-menu > li:first-child:hover {
        border-bottom-right-radius: 0;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul.acc-menu > li:hover > a {
        box-shadow: none;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul.acc-menu ul li a {
        padding: 7px 12px 7px 64px;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul.acc-menu > li:hover {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul.acc-menu > li:hover .label,
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul.acc-menu > li:hover .badge,
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul.acc-menu > li:hover #topnav .topnav-dropdown-header span.label {
        position: absolute;
        left: 28px;
        top: 10px;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul.acc-menu > li.hasChild:hover > a {
        border-bottom-right-radius: 0;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul.acc-menu > li > a > span.icon {
        margin-right: 32px;
    }
    body.sidebar-collapsed .static-sidebar-wrapper .widget nav.widget-body > ul.acc-menu > li > ul {
        box-shadow: none;
        border-bottom-right-radius: 2px;
        width: 184px;
    }
}

@media (max-width:767px) {
    .static-sidebar {
        position: fixed !important;
        top: 64px;
        bottom: 0px;
        overflow-y: auto;
    }
    #topnav .navbar-nav.toolbar > li:last-child {
        width: 90px !important
    }
}

@media (max-width:640px) {
    .profile-tab .row div {
        margin-bottom: 40px !important;
    }
}

@media (max-width:479px) {
    .profile-area {
        padding: 32px 0 !important;
    }
    .profile-area div.col-md-6 {
        width: 100%;
        float: left;
    }
    .profile-area div.col-md-6 div.media-body {
        padding-left: 12px !important;
    }
    .profile-area div.col-md-6 ul {
        text-align: left;
    }
    .profile-area div.col-md-6:nth-child(2n) {
        padding-left: 127px;
    }
}

@media (min-width:992px) {
    .navbar {
        border-radius: 0;
    }
}

@media (min-width:992px) {
    .navbar-header {
        float: left;
    }
}

@media (min-width:992px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        visibility: visible !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-device-width:480px) and (orientation:landscape) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 200px;
    }
}

@media (min-width:992px) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (min-width:992px) {
    .navbar-static-top {
        border-radius: 0;
    }
}

@media (min-width:992px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }
}

@media (min-width:992px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: -16px;
    }
}

@media (min-width:992px) {
    .navbar-toggle {
        display: none;
    }
}

@media (max-width:991px) {
    .navbar-nav .open .dropdown-menu,
    .navbar-nav .open .tt-dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .tt-dropdown-menu > li > a,
    .navbar-nav .open .tt-dropdown-menu .dropdown-header {
        padding: 6px 16px 6px 16px;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .tt-dropdown-menu > li > a {
        line-height: 18px;
    }
    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-nav .open .tt-dropdown-menu > li > a:hover,
    .navbar-nav .open .tt-dropdown-menu > li > a:focus {
        background-image: none;
    }
}

@media (min-width:992px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

@media (min-width:768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .navbar-form .form-control-static {
        display: inline-block;
    }
    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle;
    }
    .navbar-form .input-group .input-group-addon,
    .navbar-form .input-group .input-group-btn,
    .navbar-form .input-group .form-control {
        width: auto;
    }
    .navbar-form .input-group > .form-control {
        width: 100%;
    }
    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio label,
    .navbar-form .checkbox label {
        padding-left: 0;
    }
    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }
    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }
}

@media (max-width:991px) {
    .navbar-form .form-group {
        margin-bottom: 5px;
    }
    .navbar-form .form-group:last-child {
        margin-bottom: 0;
    }
}

@media (min-width:992px) {
    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        box-shadow: none;
    }
}

@media (min-width:992px) {
    .navbar-text {
        float: left;
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (min-width:992px) {
    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
        margin-right: -16px;
    }
    .navbar-right ~ .navbar-right {
        margin-right: 0;
    }
}

@media (max-width:991px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a,
    .navbar-default .navbar-nav .open .tt-dropdown-menu > li > a {
        color: #424242;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav .open .tt-dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .tt-dropdown-menu > li > a:focus {
        color: #212121;
        background-color: #fafafa;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
    .navbar-default .navbar-nav .open .tt-dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .tt-dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .tt-dropdown-menu > .active > a:focus {
        color: #212121;
        background-color: #f5f5f5;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus,
    .navbar-default .navbar-nav .open .tt-dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .tt-dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .tt-dropdown-menu > .disabled > a:focus {
        color: #bdbdbd;
        background-color: transparent;
    }
}

@media (max-width:991px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header,
    .navbar-inverse .navbar-nav .open .tt-dropdown-menu > .dropdown-header {
        border-color: #3b3b3b;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider,
    .navbar-inverse .navbar-nav .open .tt-dropdown-menu .divider {
        background-color: #3b3b3b;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a,
    .navbar-inverse .navbar-nav .open .tt-dropdown-menu > li > a {
        color: #9e9e9e;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-inverse .navbar-nav .open .tt-dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .tt-dropdown-menu > li > a:focus {
        color: #bdbdbd;
        background-color: #2e2e2e;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus,
    .navbar-inverse .navbar-nav .open .tt-dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .tt-dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .tt-dropdown-menu > .active > a:focus {
        color: #bdbdbd;
        background-color: #3b3b3b;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus,
    .navbar-inverse .navbar-nav .open .tt-dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .tt-dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .tt-dropdown-menu > .disabled > a:focus {
        color: #292929;
        background-color: transparent;
    }
}

@media (max-width:980px) {
    .panel .panel-footer .expense {
        padding-left: 0 !important;
    }
}

@media (max-width:980px) {
    .col-md-4.chart-div {
        float: left;
        padding-left: 14px;
        width: 33.333%;
    }
}

@media (max-width:991px) {
    .col-md-6.pl-n,
    .col-md-6.pr-n {
        padding: 0 !important;
    }
}

@media (max-width:1024px) {
    .panel-body .account-view td {
        font-size: 13px !important;
    }
}

@media (max-width:1024px) {
    .panel-body .editable-table .delete-row {
        padding-left: 12px;
    }
}

@media (max-width:1024px) {
    .widget-revenues .second-panel {
        padding: 0 16px;
    }
    .widget-revenues .panel-data-inside {
        font-size: 11px !important;
    }
    .widget-revenues .panel-head-inside {
        font-size: 10px;
    }
}

@media (max-width:767px) {
    .panel-inbox .panel-body .table-inbox .inbox-msg-attach,
    .panel-inbox .panel-body .table-inbox .inbox-msg-time {
        display: none !important;
    }
    tr.panel-inbox .panel-body .table-inbox .inbox-msg-attach,
    tr.panel-inbox .panel-body .table-inbox .inbox-msg-time {
        display: none !important;
    }
    th.panel-inbox .panel-body .table-inbox .inbox-msg-attach,
    th.panel-inbox .panel-body .table-inbox .inbox-msg-time,
    td.panel-inbox .panel-body .table-inbox .inbox-msg-attach,
    td.panel-inbox .panel-body .table-inbox .inbox-msg-time {
        display: none !important;
    }
    .btn-group.panel-inbox .panel-body .table-inbox .inbox-msg-attach,
    .btn-group.panel-inbox .panel-body .table-inbox .inbox-msg-time,
    .btn-group-vertical.panel-inbox .panel-body .table-inbox .inbox-msg-attach,
    .btn-group-vertical.panel-inbox .panel-body .table-inbox .inbox-msg-time,
    .btn.panel-inbox .panel-body .table-inbox .inbox-msg-attach,
    .btn.panel-inbox .panel-body .table-inbox .inbox-msg-time,
    span.panel-inbox .panel-body .table-inbox .inbox-msg-attach,
    span.panel-inbox .panel-body .table-inbox .inbox-msg-time,
    i.panel-inbox .panel-body .table-inbox .inbox-msg-attach,
    i.panel-inbox .panel-body .table-inbox .inbox-msg-time {
        display: none !important;
    }
}

@media (max-width:1200px) {
    #topnav .navbar-nav.toolbar > li:last-child {
        width: 75px !important
    }
}

@media (min-width:1201px) and (max-width:1260px) {
    #trigger-fullscreen {
        display: none !important;
    }
}

@media (min-width:992px) and (max-width:1100px) {
    #topnav.search-active #search-box {
        width: 184px !important;
    }
}

@media (min-width:777px) and (max-width:990px) {}
