%main.theme-clickx.payment
  .container-fluid
    .payment-content-area.payment-content-area--thankyou
      .payment-min-height--wrapper.payment-min-height--wrapper-center.thank-you-content
        .text-center
          .spacer30
          %h2 Thank you.
          %p Our team will be in touch with you shortly with next steps.
          %br
          %p - Clickx Partner Team
