- content_for :title do
  Documents | Clickx
.container-fluid
  .header
    .row.d-flex.flex-wrap.align-items-center
      .col-md-6
        %h1 Resources
      .col-md-6.text-md-right
        .d-inline-block
          = text_field_tag :search_title, '', class: 'search login width250px select-box form-control m-0', placeholder: 'Search By Title'

.container-fluid
  %div{"data-widget-group" => "group1"}
    #documents_container
      = render 'super_admin/admin_documents/shared/list', documents: @documents
%a.btn.btn--add.pull-right{ 'href': new_super_admin_admin_document_path}
  %i.glyphicon.glyphicon-plus.glyphplus


:javascript
  function search(){
    var title = $('#search_title').val();
    $.ajax({
      url: "/s/admin_documents",
      type: 'get',
      data: { title: title },
      dataType: 'script',
      async: false,
      success:function(response){}
    })
  }

  $('#search_title').on("change", function() {
    search()
  })
