.user-from-wrapper
  .card.bg-white.shadow-xl.p-8.rounded-xl.my-12
    %span.success-message
      .text-2xl.leading-8.mb-6.pr-2 Your information has been submitted.
      = image_tag 'network/check.svg', class: 'ml-4 w-8 h-8'
    %p.text-gray-600.font-light You will receive an email to create your profile.
