code {
    background-color: #f7dce4;
}

.green-card, .blue-card{
  .panel-body{
    background-color: transparent;
  }
}

.try-themeX{
    text-align: center;
    margin: 0 100px;
    font-size: large;
    font-weight: 600;
}

.default-logo-style {
  max-width: 100%;
  cursor: pointer;
  max-height:75px;
}

a{
  outline: none;
  cursor: pointer;
}

.daterangepicker.dropdown-menu.single.opensright.show-calendar {
  left: 337.5px!important;
}

.color-green {
    color: #52c587 !important;
}

.width-25{
  width: 25% !important;
}
.industry_logo_preview{
  span{
    font-size: 50px;
  }
}
.font-size-50{
  font-size: 50px;
}
.industry_form, .case_study_form{
  select{
    width: 25%;
  }
  .form-control{
    width: 50%
  }
}
.case_study_form, .lead_strategy_form{
  .logo_preview{
    max-width: 100px;
    max-height: 100px;
    display: block;
  }
  .descriptive_preview{
    max-width: 200px;
    max-height: 200px;
    display: block;
  }
}
.cs_image_card{
  .add_fields{
    font-size: 75px;
    text-decoration: none;
  }
}
#ls_images{
  .add_fields{
    font-size: 75px;
    text-decoration: none;
  }
}
.w100{
  width: 100%!important;
}
.halfWidth {
  width: 50% !important;
}
.strategy-leads{
  .btn-danger{
    color: #fff;
    background-color: #e51c23 !important;
    border-color: #e51c23;
    font-size: 12px !important;
  }
  .btn-info{
    color: #fff;
    background-color: #5bc0de !important;
    border-color: #46b8da;
    font-size: 12px !important;
  }
}

.client-filters{
  .select2-selection{
    border: 1px solid #ccc !important;
  }
  // .select-box{
  //   width: 170px !important;
  // }
  .select2-search__field::placeholder{
    color: #a1a1a1 !important;
  }
  .input-wrapper{
    z-index: 999;
  }
}

.select2-search input {
  font-family: "Source Sans Pro", sans-serif !important;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  position: inherit !important;
  bottom: 0px !important;
  left: 5px !important;
  display: inline-block !important;
}
.writers-level-settings ul li .level .level-star span.fa {
  margin-right: -1px;
  line-height: 0;
}
.content-settings{
  .input-group-btn{
    display: inherit !important;
    .btn{
      padding: 6px 12px !important;
      background: #ffffff !important;
    }
  }
  .editable-buttons{
    .btn{
      padding: 6px 12px !important;
      background: #ffffff !important;
    }
  }
  .star-input-group{
    .input-group{
      width: auto !important;
      .form-control{
        width: auto !important;
      }
    }
  }
}
.admin-academy-item {
  .progress-bar-wrapper {
    .progress {
      border-radius: 0 0 10px 10px;
      height: auto;
      box-shadow: none;
      position: relative;
      background: #C1C1C1;
      font-weight: 500;
      margin: 0;
      display: block;
      font-size: 12px;
      .progress-bar {
        float: none;
        border-radius: 0 0 10px 10px;
        z-index: 0;
        text-align: center;
      }
      .progress__completed {
        padding: 0 12px;
        white-space: nowrap;
        height: 18px;
      }
    }
  }
  .card-body{
    border: 1px solid #d9d9d9;
    padding-left: 10px;
  }
}

.admin-academy{
  .timeline {
    padding-left: 0;
    list-style: none;
    position: relative;
    margin: 0;
  }
  .timeline li:last-child .timeline-body {
    border-bottom: 0 !important;
  }
  .timeline:before {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 25px;
    width: 2px;
    background: #f1f1f1;
    left: 6%;
    margin-left: 2px;
  }
  .timeline > li {
    position: relative;
  }
  .timeline > li .timeline-header {
    padding: 0;
    color: #011;
  }
  .timeline > li .timeline-header span.date {
    font-weight: normal;
    font-size: 14px;
  }
  .timeline > li .timeline-header span.author {
    font-size: 16px;
    display: block;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
  }
  .timeline > li .timeline-header + p {
    padding-top: 10px;
  }
  .timeline > li .timeline-icon {
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 31px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #9e9e9e;
    background: #f1f1f1;
    border-radius: 50%;
    text-align: center;
    left: 6%;
    top: 0;
    margin: 0 0 0 -12px;
    padding: 0;
  }
  .timeline > li .timeline-icon i {
    line-height: inherit;
    font-size: 16px;
  }
  .timeline > li .timeline-body {
    margin: 0 0 16px 20%;
    padding: 0 0 8px;
    position: relative;
    border-width: 0;
    border-style: solid;
    background-color: #fff;
  }
  .timeline > li .timeline-body .timeline-content ul {
    margin: 0;
  }
  .timeline > li .timeline-body .timeline-content ul li {
    padding-left: 0;
    padding-right: 8px;
  }
  .timeline > li .timeline-body .timeline-content p {
    margin-bottom: 0;
  }
  .timeline > li .timeline-body .timeline-content p + p {
    margin-top: 10px;
  }
  .timeline > li .timeline-body img {
    margin: 0;
  }
  .timeline > li .timeline-footer {
    padding-top: 20px;
    color: #fff;
  }
  .timeline-primary .timeline-icon {
    background: #60bbea !important;
    color: #e3f2fd !important;
  }
  .timeline-warning .timeline-icon {
    background: #ffc107 !important;
    color: #fff8e1 !important;
  }
  .timeline-danger .timeline-icon {
    background: #e51c23 !important;
    color: #fde0dc !important;
  }
  .timeline-success .timeline-icon {
    background: #8bc34a !important;
    color: #f1f8e9 !important;
  }
  .timeline-info .timeline-icon {
    background: #00bcd4 !important;
    color: #e0f7fa !important;
  }
  .timeline-inverse .timeline-icon {
    background: #757575 !important;
    color: #f5f5f5 !important;
  }
  .timeline-brown .timeline-icon {
    background: #795548 !important;
    color: #efebe9 !important;
  }
  .timeline-indigo .timeline-icon {
    background: #3f51b5 !important;
    color: #e8eaf6 !important;
  }
  .timeline-orange .timeline-icon {
    background: #ff9800 !important;
    color: #fff3e0 !important;
  }
  .timeline-sky .timeline-icon {
    background: #009688 !important;
    color: #e0f2f1 !important;
  }
  .timeline-midnightblue .timeline-icon {
    background: #37474f !important;
    color: #eceff1 !important;
  }
  .timeline-magenta .timeline-icon {
    background: #e91e63 !important;
    color: #fce4ec !important;
  }
  .timeline-green .timeline-icon {
    background: #4caf50 !important;
    color: #e8f5e9 !important;
  }
  .timeline-purple .timeline-icon {
    background: #9c27b0 !important;
    color: #f3e5f5 !important;
  }
  .timeline-lime .timeline-icon {
    background: #cddc39 !important;
    color: #f9fbe7 !important;
  }

  .progress {
    height: 15px;
    border-radius: 0;
    box-shadow: none;
    background: #c8c8c8;
    display: block;
  }
  .progress .progress-bar {
    box-shadow: none;
  }
  .progress .progress-bar,
  .progress .progress-bar.progress-bar-default {
    background-color: #ff9800;
  }
  .progress .progress-bar.progress-bar-inverse {
    background-color: #3f51b5;
  }
  .progress .progress-bar.progress-bar-primary {
    background-color: #8d6de3;
  }
  .progress .progress-bar.progress-bar-success {
    background-color: #bad531;
  }
  .progress .progress-bar.progress-bar-info {
    background-color: #ff9800;
  }
  .progress .progress-bar.progress-bar-blue {
    background-color: #60bbea;
  }
  .progress .progress-bar.progress-bar-warning {
    background-color: #f8b018;
  }
  .progress .progress-bar.progress-bar-danger {
    background-color: #ef5023;
  }
}
