%main.theme-clickx.payment
  .container-fluid
    .payment-content-area.payment-content-area--thankyou
      .payment-min-height--wrapper.payment-min-height--wrapper-center.thank-you-content
        .text-center
          .icon-check
            %i.material-icons check
          .spacer30
          %h2 Thank you for your business.
          %p Our team will be in touch with you shortly with next steps.
      .bottom-copyright.text-center
        %p © #{Date.current.year} #{@agency.name}. All Rights Reserved.
    %footer.payment-footer.clearfix
      .spacer15
      .container.text-center
        %p © #{Date.current.year} #{@agency.name}. All Rights Reserved.
