.container-fluid.pt-4
  .row
    .col-md-4
      %ul.items-list.mb-5.mb-md-0
        %li
          %span.icon-check
            %i.material-icons check
          Access to SCALE Program
        %li
          %span.icon-check
            %i.material-icons check
          Weekly Group Sales Call Coaching
        %li
          %span.icon-check
            %i.material-icons check
          Weekly Group Lead Gen Coaching
        %li
          %span.icon-check
            %i.material-icons check
          Profitable Niche Selection Support
        %li
          %span.icon-check
            %i.material-icons check
          Bi-Weekly Offer Creation Workshops
        %li
          %span.icon-check
            %i.material-icons check
          Plug & Play Funnel Creation
        %li
          %span.icon-check
            %i.material-icons check
          Facebook/instagram Ads Training
        %li
          %span.icon-check
            %i.material-icons check
          Agency Sales Training & Scripts
        %li
          %span.icon-check
            %i.material-icons check
          Scale Engagement Group
        %li
          %span.icon-check
            %i.material-icons check
          Scale Slack Channel Access
        %li
          %span.icon-check
            %i.material-icons check
          Grow Plan Included ($299 Value)
        %li
          %span.icon-check
            %i.material-icons check
          Weekly 1:1 Scale Support Calls
        %li
          %span.icon-check
            %i.material-icons check
          Support in Hiring Appt. Setters
        %li
          %span.icon-check
            %i.material-icons check
          Support in Hiring Account Managers
        %li
          %span.icon-check
            %i.material-icons check
          1:1 Support for Offer Creation

    .col-md-8
      .calendly-wrapper
        .calendly-inline-widget{"data-url" => "https://calendly.com/white-label-team/partner-upgrade?hide_event_type_details=1&hide_gdpr_banner=1", :style => "min-width:320px;height:630px;"}
        %script{:async => "", :src => "https://assets.calendly.com/assets/external/widget.js", :type => "text/javascript"}
