.container-fluid.py-4
  .bg-sky-blue.rounded.border-1.border-blue.mb-4
    .bg-white.rounded-t-12.py-4.px-5
      .fs-sm.color-dark-blue.fw-m Unlock Academy Vault
    .py-4.px-5  
      .calendly-inline-widget{"data-url" => "https://calendly.com/white-label-team/partner-upgrade?hide_event_type_details=1&hide_gdpr_banner=1", :style => "min-width:320px;height:630px;"}
      %script{:async => "", :src => "https://assets.calendly.com/assets/external/widget.js", :type => "text/javascript"}