.container-fluid.py-4
  .bg-sky-blue.rounded.border-1.border-blue.mb-4
    .bg-white.rounded-t-12.py-4.px-5
      .fs-sm.color-dark-blue.fw-m Unlock Scale Program Modules Vault
    .py-4.px-5
      = render "agency/menu_permissions/scale_program"
