.col-md-12
  .panel.panel-default

    .panel-heading
      %h2.mb-n.text-darkblue
        Competitor Comparison (PPC)
        %br/
        %small Aliquam tincidunt mauris eu risus.
    .panel-body
      .row
        .col-sm-6
          %label Your Site:
          %h4.mb-n.text-warning www.mywebsite.com
          %hr.mt-md.b-t-yellow/
        .col-sm-6
          %label.block Competitor:
          %h4.mb-n.inlineb
            www.thecompetition.com
            %small.inlineb
              %i (Based on Best Match*)
          %hr.mt-md.b-t-purple/
        .col-sm-12.p-n.mb-md
          %h4.mb-md.pl-md
            Average Traffic
            %span.badge.tooltips.mb-sm{"data-original-title" => "Details", "data-trigger" => "hover"}
            %br/
            %small Aliquam tincidunt mauris eu risus.
          .col-sm-6
            .bdr-line.p-n.text-center
              %h1.pt-lg.pb-lg.m-n.f-w-md.text-warning.inlineb.b-b-y-a.relative
                11,506
                %i.mt-n.mb-sm.f-s-16.block.f-w-sm.text-muted Visits Per Month
          .col-sm-6
            .bdr-line.p-n.text-center
              %h1.pt-lg.pb-lg.m-n.f-w-md.text-purple.inlineb.b-b-p-a.relative
                21,265
                %i.mt-n.mb-sm.f-s-16.block.f-w-sm.text-muted Visits Per Month
        .col-sm-12.p-n
          .col-sm-6
            %h4.mb-md
              Keyword Analysis
              %span.badge.tooltips{"data-original-title" => "Details", "data-trigger" => "hover"}
          .col-sm-6
            .btn-group.pull-right
              %button.btn.btn-default.btn-raised.no-shadow.ml-sm.lig-bg-btn{:type => "button"} 6m
              %button.btn.btn-default.btn-raised.no-shadow.ml-sm.lig-bg-btn{:type => "button"} 1y
              %button.btn.btn-default.btn-raised.no-shadow.ml-sm.lig-bg-btn{:type => "button"} 2y
              %button.btn.btn-default.btn-raised.no-shadow.ml-sm.lig-bg-btn{:type => "button"} 5y
              %button.btn.btn-default.btn-raised.no-shadow.ml-sm.lig-bg-btn{:type => "button"} All
          .col-sm-12.mt-md.mb-xl
            #top_paid_keyword_chart
        .col-sm-12.p-n
          %h4.mb-lg.pl-md
            Top Paid Keywords
            %span.badge.tooltips{"data-original-title" => "Details", "data-trigger" => "hover"}
          .col-sm-6
            .table-responsive
              %table.table.table-hover.table-vam.b-l-yellow
                %thead
                  %tr.inverse
                    %th Keyword
                    %th Position
                    %th Volume
                    %th CPC (USD)
                    %th Traffic
                %tbody
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-warning{:style => "width: 77%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-warning{:style => "width: 57%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-warning{:style => "width: 47%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-warning{:style => "width: 40%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-warning{:style => "width: 30%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-warning{:style => "width: 20%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-warning{:style => "width: 10%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-warning{:style => "width: 2%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-warning{:style => "width: 2%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-warning{:style => "width: 2%"}
          .col-sm-6
            .table-responsive
              %table.table.table-hover.table-vam.b-l-purple
                %thead
                  %tr.inverse
                    %th Keyword
                    %th Position
                    %th Volume
                    %th CPC (USD)
                    %th Traffic
                %tbody
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-primary{:style => "width: 77%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-primary{:style => "width: 57%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-primary{:style => "width: 47%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-primary{:style => "width: 40%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-primary{:style => "width: 30%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-primary{:style => "width: 20%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-primary{:style => "width: 10%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-primary{:style => "width: 2%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-primary{:style => "width: 2%"}
                  %tr
                    %td dur a flex
                    %td 1
                    %td 6,600
                    %td 6.03
                    %td.text-center
                      .progress.progress-striped.active.m-n
                        .progress-bar.progress-bar-primary{:style => "width: 2%"}
    .panel-footer
      .col-xs-12.col-sm-10.col-xs-offset-0.col-sm-offset-1
        .jumbotron.bg-info.pl-xl.pr-xl.no-shadow
          %h4.mb-sm.f-s-20 Clickx Pro Tip
          %p.text-white.mb-n Paid media is an integral part of a holisitic online marketing strategy. 70% of mobile searchers call a business directly from a Google search. Positioning your business at the top of page 1 is paramount for driving leads consistently. If you are not using paid search as part of your strategy, you’re leaving quality traffic and sales on the table.
          %button.btn.btn-outline-white.f-w-md{:type => "button"} Start Tracking Your PPC
