- content_for :title do
  Admin Manage FAQ | Clickx
.header
  .col-xs-12.col-sm-12.col-lg-12.mb-md
    %h1
      Admin FAQ

  .container-fluid
    .panel-group.mt-md{id: "faq-panel"}
      - @admin_faqs.each do |faq|
        .panel.panel-default{"data-url" => sort_super_admin_admin_manage_faq_path(faq)}
          %a{"data-toggle" => "collapse", :href => "#collapse#{faq.id}"}
            .panel-heading
              %h2= faq.question
              %a.pull-right.ml-md{href: super_admin_admin_manage_faq_path(faq), 'data-method': :delete, 'data-confirm': 'Are you sure you want to delete this FAQ entry?' }
                %i.fa.fa-trash
              %a.pull-right{href: edit_super_admin_admin_manage_faq_path(faq)}
                %i.fa.fa-edit
          .collapse{id: "collapse#{faq.id}"}
            .panel-body
              %p= faq.answer.html_safe

%a.btn.btn--add.pull-right{ 'href': new_super_admin_admin_manage_faq_path}
  %i.glyphicon.glyphicon-plus.glyphplus

:javascript
  $(document).ready(function(){
    $("#faq-panel").sortable({
      update: function(e, ui) {
        $.ajax({
          url: ui.item.data('url'),
          type: "post",
          data: { position: ui.item.index() + 1 }
        });
      }
    });
  });
