- content_for :title do
  Edit Lead | Clickx

.page-content
  .page-heading
    %h1
      Edit Lead - #{@lead.first_name}
  .container-fluid
    .row
      .col-md-12
        .tab-container
          = form_for @lead, url: agency_lead_path(@lead), method: :patch, remote: true, class: 'form-vertical cardy clickx-parsley',"data-parsley-validate": '' do |f|
            = render 'agency/leads/shared/form', f: f
