!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0", name: "viewport"}/
    %title Welcome!
    %link{href: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700", rel: "stylesheet"}/
    :css
      body {
        background-color: #fff;
        margin: 0;
        padding: 0;
        font-family: 'helvetica', sans-serif, 'arial';
      }

      .ExternalClass,
      .ReadMsgBody {
        background-color: #F4F4F4;
        width: 100%;
      }

      a {
        color: #f8b11c;
        font-style: normal;
        font-family: 'helvetica', sans-serif, 'arial';
        font-weight: 300;
        text-decoration: none;
      }

      a:hover {
        color: #adb2bb;
        font-style: normal;
        font-weight: 300;
        text-decoration: underline;
      }

      div,
      p {
        margin: 0 !important;
        font-family: 'helvetica', sans-serif, 'arial';
      }

      table {
        border-collapse: collapse;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: 'helvetica', sans-serif, 'arial';
      }

      .table {
        max-width: 600px;
        margin: 30px auto;
        border-radius: 4px;
        display: table;
      }

      .subhead {
        color: #555555;
        font-family: 'helvetica', sans-serif, 'arial';
        font-size: 20px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        text-align: left;
      }

      .sub-title {
        color: #555555;
        font-family: 'helvetica', sans-serif, 'arial';
        font-weight: 600;
      }

      .subhead--sm {
        font-size: 16px;
        line-height: 1.2em;
      }

      .mhead {
        color: #333333;
        font-family: 'helvetica', sans-serif, 'arial';
        font-size: 23px;
        font-weight: 600;
        margin: 0;
        padding: 0;
        text-align: left;
      }

      .f-head {
        color: #333333;
        font-family: 'helvetica', sans-serif, 'arial';
        font-size: 19px;
        font-weight: 600;
        margin: 0;
        padding: 0;
        text-align: left;
      }

      .cellpadd10 {
        display: table;
        padding: 10px 20px;
      }

      .cellpadd-t-20 {
        display: table;
        padding: 20px 20px;
      }

      .link-a {
        color: #2196F3;
        font-family: 'helvetica', sans-serif, 'arial';
        font-size: 18px;
        text-decoration: none;
      }

      .link-a:hover {
        color: #4aafff;
        text-decoration: none;
      }

      .divider {
        border-bottom: 1px solid #e0e0e0;
        display: block;
        margin: 0 auto;
        width: 90%;
      }

      .margt-20 {
        margin-top: 20px !important
      }

      .txtcenter {
        text-align: center !important
      }

      .head-st-2 {
        padding: 20px 0;
        font-size: 24px;
        font-weight: 600;
        line-height: 40px;
      }

      .lnh-n {
        line-height: 1.6em;
        letter-spacing: 0px;
        padding-bottom: 20px;
      }

      .link-2 {
        color: #f8b11c;
        font-weight: 600px;
        border-bottom: dashed 1px #f0f0f0
      }

      .link-2:hover {
        border-bottom: solid 1px #f0f0f0;
        text-decoration: none
      }

      .accept {
        font-size: 22px;
        color: #ffffff;
        font-family: 'helvetica', sans-serif, 'arial';
        transition: all 300ms ease;
        display: block;
        font-weight: 400;
        border-radius: 3px;
        line-height: 57px;
        width: 100%;
        text-align: center;
        background: #5fc66d;
        position: relative;
        border: 2px solid #5fc66d;
      }

      .accept:before {
        content: "";
        background-image: url(images/checked.svg);
        width: 30px;
        height: 30px;
        position: absolute;
        left: 13px;
        top: 13px;
        transition: all 300ms ease;
      }

      .accept:hover {
        text-decoration: none;
        color: #5fc66d;
        background: none;
        border: 2px solid #5fc66d;
      }

      .accept:hover:before {
        content: "";
        background-image: url(images/checked-hover.svg);
        width: 30px;
        height: 30px;
        position: absolute;
        left: 13px;
        top: 13px;
        transition: all 300ms ease;
      }

      .decimal {
        padding-left: 7px;
      }

      .decimal li {
        font-size: 18px;
        line-height: 34px;
        font-weight: 400;
        padding-left: 15px;
        margin-left: 22px;
        list-style-type: decimal;
        position: relative;
        margin-bottom: 20px;
      }

      .decimal li:before {
        content: " ";
        background: rgba(220, 220, 220, 0.44);
        border-radius: 50%;
        width: 35px;
        height: 35px;
        position: absolute;
        left: -29px;
        top: 1px;
      }


      @media only screen and (max-width:640px) {

        table table,
        td[class=full_width] {
          width: 100% !important;
        }
      }

      @media only screen and (max-width:640px) {

        div[class=div_scale],
        table[class=table_scale],
        td[class=td_scale] {
          margin: 0 auto !important;
          width: 440px !important;
        }
      }

      @media only screen and (max-width:640px) {
        img[class=img_scale] {
          height: auto !important;
          width: 100% !important;
        }
      }

      @media only screen and (max-width:640px) {

        table[class=spacer],
        td[class=spacer] {
          display: none !important;
        }
      }

      @media only screen and (max-width:640px) {
        td[class=center] {
          text-align: center !important;
        }
      }

      @media only screen and (max-width:640px) {
        table[class=full] {
          margin-left: 20px !important;
          margin-right: 20px !important;
          width: 400px !important;
        }
      }

      @media only screen and (max-width:640px) {
        img[class=divider] {
          height: 1px !important;
          width: 400px !important;
        }
      }

      @media only screen and (max-width:479px) {

        table table,
        td[class=full_width] {
          width: 100% !important;
        }
      }

      @media only screen and (max-width:479px) {

        div[class=div_scale],
        table[class=table_scale],
        td[class=td_scale] {
          margin: 0 auto !important;
          width: 100% !important;
        }
      }

      @media only screen and (max-width:479px) {
        img[class=img_scale] {
          height: auto !important;
          width: 100% !important;
        }
      }

      @media only screen and (max-width:479px) {

        table[class=spacer],
        td[class=spacer] {
          display: none !important;
        }
      }

      @media only screen and (max-width:479px) {
        td[class=center] {
          text-align: center !important;
        }
      }

      @media only screen and (max-width:479px) {
        table[class=full] {
          margin-left: 20px !important;
          margin-right: 20px !important;
          width: auto !important;
        }
      }

      @media only screen and (max-width:479px) {
        img[class=divider] {
          height: 1px !important;
          width: 100% !important;
        }
      }

      .logo {
        max-width: 100%;
      }

      @media(max-width: 399px) {
        .sm-p-15 {
          padding: 0 15px !important;
        }

        .logo {
          height: 60px;
        }
      }

      a:hover {
        text-decoration: none;
      }

      .btn:hover {
        background: #4C4E60 !important;
      }
  %body{bgcolor: "#fff"}
    %table.table{style: "margin: 0 auto; max-width:600px;"}
      %tr
        %td
          / START OF  HEADER BLOCK
          %table{align: "center", bgcolor: "#4C4E60", border: "0", cellpadding: "0", cellspacing: "0", style: "background:#4C4E60; color:#fff;", width: "100%"}
            %tr
              %td{valign: "top", width: "100%"}
                %table{align: "center", bgcolor: "#4C4E60", border: "0", cellpadding: "0", cellspacing: "0"}
                  %tr
                    %td{width: "100%"}
                      %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
                        %tr
                          %td{height: "50", width: "100%"}
                        %tr
                          %td{style: "text-align: center; padding:0 15px", width: "100%"}
                            %a{href: "https://www.clickx.io/", target: "_blank"}
                              %img.logo{alt: "", src: "https://app.clickx.io/clickx_network.png"}
                        %tr
                          %td{height: "50", width: "100%"}
          / END OF HEADER BLOCK

          = yield

          / START OF FOOTER BLOCK
          %table{align: "center", bgcolor: "#F8B018", border: "0", cellpadding: "0", cellspacing: "0", style: "background:#F8B018;", width: "100%"}
            %tr
              %td{valign: "top", width: "100%"}
                %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0"}
                  %tr
                    %td{width: "100%"}
                      %table{bgcolor: "#F8B018", border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
                        %tr
                          %td{style: "height:15px;"}
                        %tr
                          %td{width: "100%"}
                            %table{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
                              %tr
                                %td{width: "100%"}
                                  %table.full{align: "center", border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse:collapse;", width: "540"}
                                    %tr
                                      %td{style: "height:15px"}
                                    %tr
                                      %td{align: "center", cclass: "center", style: "font-family: 'helvetica', sans-serif, 'arial'; font-weight:300;  color:#fff; font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.2em;"}
                                        © #{Time.current.year}
                                        = succeed ". All Rights Reserved." do
                                          %a{href: "https://www.clickx.io/", style: "color: #fff; font-weight:300;", target: "_blank"} Clickx
                                    %tr
                                      %td{style: "height:15px"}
                        %tr
                          %td{style: "height:15px;"}
          / END OF FOOTER BLOCK
